/* ========== */
/* = Resets = */
/* ========== */

.NB-modal p, 
.NB-modal ol,
.NB-modal ul,
.NB-modal li,
.NB-modal h1,
.NB-modal h2,
.NB-modal h3,
.NB-modal h4,
.NB-modal h5,
.NB-modal h6 {
    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif !important;
    letter-spacing: normal !important;
    line-height: 16px !important;
    margin: 12px 0 !important;
    padding: 0;
    color: #202020;
    background: none !important;
    border: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    text-transform: none !important;
}
.NB-modal ol {
    list-style: decimal outside none !important;
    margin-left: 24px !important;
}
.NB-modal ul {
    list-style: disc outside none !important;
    margin-left: 24px !important;
}
.NB-modal p:first-child {
    margin-top: 0;
}
.NB-modal p, 
.NB-modal ol,
.NB-modal ul,
.NB-modal li,
.NB-modal #readability-content {
    font-size: 12px !important;
}

.NB-modal h1,
.NB-modal h2,
.NB-modal h3,
.NB-modal h4,
.NB-modal h5,
.NB-modal h6 {
    font-weight: bold;
}

.NB-modal h1 {
    font-size: 24px !important;
    margin: 30px 0 24px !important;
}
.NB-modal h2 {
    font-size: 18px !important;
    margin: 24px 0 18px !important;
}
.NB-modal h3 {
    font-size: 15px !important;
    margin: 18px 0 12px !important;
}
.NB-modal h4 {
    font-size: 12px !important;
    margin: 12px 0 12px !important;
}
.NB-modal h5 {
    font-size: 11px !important;
    margin: 12px 0 12px !important;
}
.NB-modal h6 {
    font-size: 10px !important;
    margin: 12px 0 12px !important;
}

/* ====================== */
/* = Bookmarklet Layout = */
/* ====================== */

.NB-bookmarklet {
  font-family: 'Lucida Sans', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  overflow: hidden;
}
.NB-bookmarklet .NB-bookmarklet-main {
    width: 70%;
    overflow: hidden;
    float: right;
    border-left: 6px solid #74B3B7;
    margin: 24px 0 0;
}
.NB-bookmarklet .NB-bookmarklet-side {
    width: 26%;
    float: left;
    height: 100%;
    padding: 12px;
}

/* ======================== */
/* = Bookmarklet Add Site = */
/* ======================== */


.NB-bookmarklet .NB-modal-information {
  float: right;
  margin-top: 10px;
  text-transform: uppercase;
  color: #909090;
  font-size: 10px;
}
.NB-bookmarklet .NB-bookmarklet-folder-container {
  margin: 28px 0;
  float: right;
}
.NB-bookmarklet .NB-bookmarklet-folder-container .NB-bookmarklet-folder-label {
  float: left;
  margin: 2px 4px 0 0;
}
.NB-bookmarklet .NB-bookmarklet-folder-container .NB-folders {
  font-size: 14px;
}
.NB-bookmarklet .NB-bookmarklet-folder-add-button {
  float: left;
  margin: 2px 4px 0 0;
  cursor: pointer;
}
.NB-bookmarklet .NB-bookmarklet-new-folder-container {
  display: none;
  float: right;
  clear: both;
}
.NB-bookmarklet .NB-bookmarklet-folder-new {
  float: left;
  padding: 2px;
  border: 1px solid #505050;
  font-size: 11px;
  line-height: 13px;
  margin: 2px 0 0;
  width: 170px;
}
.NB-bookmarklet .NB-bookmarklet-folder-new-label {
  margin: 4px 4px 0 0;
  float: left;
}
.NB-bookmarklet .NB-folders {
  width: 200px;
}
.NB-bookmarklet .NB-modal-submit {
  margin: 24px 0 8px;
  padding: 0 0 6px;
}
.NB-bookmarklet .NB-modal-submit-button {
  clear: both;
  padding: 0 16px;
  line-height: 24px;
  width: 200px;
  text-align: center;
  text-shadow: none;
}
.NB-bookmarklet .NB-modal-submit-button img {
  margin: 5px 6px 0 0;
  width: 16px;
  height: 16px;
  float: left;
  vertical-align: top;
}
.NB-bookmarklet .NB-bookmarklet-error {
  margin: 12px 0 0 0;
  font-weight: bold;
  color: #701040;
}
.NB-bookmarklet .NB-bookmarklet-error img {
  float: left;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: -2px 6px 0 0;
}
.NB-bookmarklet .NB-bookmarklet-folder-label {
  float: right;
}
.NB-bookmarklet .NB-folders {
  float: right;
}
.NB-bookmarklet .NB-error-invalid {
    padding: 12px 12px;
    font-size: 13px;
    text-shadow: none;
    color: white;
    background-color: #690F0F;
    border-radius: 8px;
}
.NB-bookmarklet .NB-error-invalid a {
    color: #9FC6F5;
    text-decoration: underline;
}

/* ======================= */
/* = Bookmarklet Content = */
/* ======================= */

.NB-bookmarklet .NB-bookmarklet-page-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 24px;
    line-height: 24px;
}
.NB-bookmarklet .NB-bookmarklet-page-content {
    max-height: 340px;
    overflow-y: scroll;
    padding: 0 24px;
    margin: 12px 0 0;
    background-color: white;
}
.NB-bookmarklet .NB-bookmarklet-page-comment {
    margin-top: 12px;
/*    border-top: 1px solid #F0F0F0;*/
    padding: 12px 0 0 88px;
    position: relative;
    overflow: hidden;
}
.NB-bookmarklet .NB-bookmarklet-comment-photo {
    position: absolute;
    left: 24px;
    top: 12px;
}
.NB-bookmarklet .NB-bookmarklet-comment-photo img {
    border-radius: 6px;
    width: 48px;
    height: 48px;
}
.NB-bookmarklet .NB-bookmarklet-comment-input {
    float: left;
}
.NB-bookmarklet .NB-bookmarklet-comment-input textarea {
    width: 316px;
    float: left;
    border: 1px solid #E0E0E0;
    padding: 6px;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif !important;   
    color: #404040;
    font-size: 13px;
    height: 34px;
    background-color: white;
    display: block;
}
.NB-bookmarklet .NB-bookmarklet-comment-submit {
    float: left;
    clear: none;
    width: 100px;
    margin: 0 0 4px 12px;
    padding: 8px 0;
    line-height: 16px;
    font-weight: bold;
}