
/* ================ */
/* = Modal Dialog = */
/* ================ */

#simplemodal-overlay {
    background-color: #101030;
}

#simplemodal-container {
    background-color: white;
    padding: 8px;
    -moz-box-shadow: 8px 8px 15px #505050;
    -webkit-box-shadow: 8px 8px 15px #505050;
    box-shadow: 8px 8px 15px #505050;
    border: 1px solid #303030;
}

/* ========== */
/* = Modals = */
/* ========== */

.NB-modal {
    padding: 12px;
    position: relative;
}

.NB-modal.NB-signed-out .NB-fieldset {
    opacity: .3;
}

.NB-modal.NB-signed-out .NB-fieldset.NB-anonymous-ok {
    opacity: 1;
}

.NB-modal .NB-modal-error {
    float: right;
    font-size: 11px;
    font-weight: bold;
    color: #7F080A;
    line-height: 14px;
    display: none;
    max-width: 50%;
}

.NB-modal .NB-modal-loading,
.NB-modal .NB-loading {
    width: 16px;
    height: 16px;
    float: right;
    background: none;
}

.NB-modal .NB-modal-loading.NB-active {
    background: transparent url('/media/img/reader/recycle_spinner.gif') no-repeat 0 0;
}

.NB-modal .NB-loading.NB-active {
    background: transparent url('/media/img/reader/spinner_ball.gif') no-repeat 0 0;
}

.NB-modal h2,
.NB-modal .NB-modal-title {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.NB-modal h5,
.NB-module h5 {
    margin: 0;
    padding: 8px 12px 6px;
    background-color: #D1E1FA;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.16, #C5D7FB),
        color-stop(0.84, #D8E1FF)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #C5D7FB 16%,
        #D8E1FF 84%
    );

    text-shadow: 1px 1px 0 #E9E9E9;
    border-top: 1px solid #D1DAF7;
    border-bottom: 1px solid #A1A9CF;
    color:#505050;
    font-size: 14px;
    font-family: "Gill Sans", inherit;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}

.NB-modal .NB-modal-field {
    margin: 0;
    position: relative;
    clear: both;
}

.NB-modal .NB-modal-field h5 {
}

.NB-modal .NB-modal-field input[type=text] {
    width: 446px;
    font-size: 14px;
    font-size: 14px;
    padding: 2px;
    margin: 0px 4px 6px;
    border: 1px solid #606060;
    -moz-box-shadow:2px 2px 0 #D0D0D0;
    -webkit-box-shadow:2px 2px 0 #D0D0D0;
    box-shadow:2px 2px 0 #D0D0D0;
}

.NB-modal .NB-modal-field input[type=checkbox] {
    margin: 4px 0 0 0px;
    float: left;
}

.NB-modal .NB-error {
    display: none;
    font-weight: bold;
    font-size: 14px;
    color: #7E0418;
    padding: 0 0 12px 0;
}
.NB-modal .NB-modal-title {
    font-weight: bold;
    color: #303030;
    text-shadow: 1px 1px 0px #e0e0e0;
}

.NB-modal .NB-modal-subtitle {
    margin:12px 0 0;
    padding:8px 12px;
    font-size: 14px;
    position: relative;
    background-color: #F6F6F6;
    overflow: hidden;
    clear: both;
}
.NB-modal .NB-modal-feed-title {
    margin: 0;
    float: left;
}
.NB-modal .NB-modal-feed-subscribers {
    font-size: 12px;
    background-color: #909090;
    color: #F0F0F0;
    margin: 2px 4px 2px 14px;
    font-size: 9px;
    line-height: 15px;
    font-weight: bold;
    padding: 0 4px;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: none;
    float: left;
}
.NB-modal .NB-modal-feed-heading {
    display: block;
    margin: 0 40px 0 23px;
    text-decoration: none;
    color: #272727;
    overflow: hidden;
    text-shadow: 0 1px 0 #EBF3FA;
}

.NB-modal .NB-modal-feed-image {
    float: left;
}

.NB-modal .NB-modal-subtitle-right {
  float: right;
  clear: both;
  font-size: 11px;
  text-transform: uppercase;
  color: #d0d0d0;
  text-shadow: 0 1px 0 #FFF;
}

.NB-modal .NB-modal-subtitle-right-count {
  color: #A8A8A8;
  padding-right: 4px;
}


.NB-modal-submit input[type=submit],
.NB-modal-submit-button {
    border: 1px solid #606060;
    font-size: 12px;
    padding: 4px 12px;
    text-transform: uppercase;
    margin: 2px 4px 2px;
    border: 1px solid #606060;
    -moz-box-shadow:2px 2px 0 #D0D0D0;
    -webkit-box-shadow:2px 2px 0 #D0D0D0;
    box-shadow:2px 2px 0 #D0D0D0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.NB-modal-submit-back,
.NB-modal-submit-reset {
    background-color: #d5d4dB;
    color: #909090;
    
}
.NB-modal-submit-close {
    background-color: #d5d4dB;
    color: #909090;
    font-weight: bold;
}
.NB-modal-submit-green {
    background-color: #217412;
    font-weight: bold;
    color: #FCFCFC;
}

.NB-modal-submit-delete {
    background-color: #7E020D;
    font-weight: bold;
    color: #FCFCFC;
}
.NB-modal-submit .NB-disabled {
    background-color: #d5d4dB;
    color: #909090;
    border: 1px solid #A0A0A0;
    -moz-box-shadow:2px 2px 0 #E6E6E6;
    -webkit-box-shadow:2px 2px 0 #E6E6E6;
    box-shadow:2px 2px 0 #E6E6E6;
}

.NB-modal .NB-modal-submit {
    margin: 16px 0 0 0;
    font-size: 13px;
    overflow: hidden;
}

.NB-modal img.feed_favicon {
    margin: 0 6px 0 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.NB-modal .NB-fieldset {
    background-color: #F0F0FF;
    border-bottom: 1px solid #D0D0D9;
    margin: 16px 0 0;
    overflow: hidden;
}

.NB-modal .NB-fieldset-fields {
    margin: 8px 0 4px 16px;
    font-size: 14px;
    overflow: hidden;
}

.NB-modal .NB-modal-feed-chooser-container {
    float: right;
    margin: 3px 0 12px;
}
.NB-modal .NB-modal-feed-chooser-container .NB-modal-feed-chooser {
    width: 250px;
    margin: 0 0 12px;
}

/* ===================== */
/* = Bookmarklet Modal = */
/* ===================== */

.NB-bookmarklet {
  font-family: 'Lucida Sans', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}

.NB-bookmarklet .NB-modal-information {
  float: right;
  margin-top: 10px;
  text-transform: uppercase;
  color: #909090;
  font-size: 10px;
}
.NB-bookmarklet .NB-bookmarklet-folder-container {
  margin: 28px 0;
  float: right;
}
.NB-bookmarklet .NB-bookmarklet-folder-container .NB-bookmarklet-folder-label {
  float: left;
  margin: 2px 4px 0 0;
}
.NB-bookmarklet .NB-bookmarklet-folder-container .NB-folders {
  font-size: 14px;
}
.NB-bookmarklet .NB-bookmarklet-folder-add-button {
  float: left;
  margin: 2px 4px 0 0;
  cursor: pointer;
}
.NB-bookmarklet .NB-bookmarklet-new-folder-container {
  display: none;
  float: right;
  clear: both;
}
.NB-bookmarklet .NB-bookmarklet-folder-new {
  float: left;
  padding: 2px;
  border: 1px solid #505050;
  font-size: 11px;
  line-height: 13px;
  margin: 2px 0 0;
  width: 170px;
}
.NB-bookmarklet .NB-bookmarklet-folder-new-label {
  margin: 4px 4px 0 0;
  float: left;
}
.NB-bookmarklet .NB-folders {
  width: 200px;
}
.NB-bookmarklet .NB-modal-submit {
  margin: 24px 0 8px;
}
.NB-bookmarklet .NB-modal-submit-button {
  clear: both;
  padding: 0 16px;
  line-height: 24px;
  width: 200px;
  text-align: center;
}
.NB-bookmarklet .NB-modal-submit-button img {
  margin: 5px 6px 0 0;
  width: 16px;
  height: 16px;
  float: left;
  vertical-align: top;
}
.NB-bookmarklet .NB-bookmarklet-error {
  margin: 12px 0 0 0;
  font-weight: bold;
  color: #701040;
}
.NB-bookmarklet .NB-bookmarklet-error img {
  float: left;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: -2px 6px 0 0;
}
.NB-bookmarklet .NB-bookmarklet-folder-label {
  float: right;
}
.NB-bookmarklet .NB-folders {
  float: right;
}