.NB-paypal-return {
  margin: 176px 0 0;
  background-color: #CBE5C7;
  border-top: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
  padding: 24px 0;
  text-align: center;
}

.NB-paypal-return .NB-paypal-return-title {
  font-size: 36px;
  margin: 0 0 12px;
  color: #303030;
  text-shadow: 1px 1px 0 #FFF;
  text-transform: uppercase;
}

.NB-paypal-return .NB-paypal-return-subtitle {
  font-size: 24px;
  color: #324A15;
  text-shadow: 1px 1px 0 #FFF;
}
