/* ========== */
/* = Global = */
/* ========== */

body {
    /*resets*/margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Grande',Helvetica, Arial;
    height: 100%;
}

a, a:active, a:hover, a:visited, button {
    outline: none;
}

a img {
    border: none;
}

/* =================== */
/* = Resize Controls = */
/* =================== */

.ui-layout-resizer-west {
    background: #e0e0e0 url('../img/reader/resize_west_small.png') repeat-y 50% 50%;
}

.ui-layout-resizer-south {
    background: #e0e0e0 url('../img/reader/resize_north.png') repeat-x 50% 50%;
}

/* =============== */
/* = Splash page = */
/* =============== */

.NB-splash-heading {
    display: none;
}

.NB-account {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 478px;
    z-index: 1;
    overflow: hidden;
}

.NB-account .NB-module-header-login {
    width: 186px;
    margin: 0 50px 0 0;
    float: left;
}

.NB-account .NB-module-header-signup {
    width: 186px;
    margin: 0;
    float: left;
}

.NB-account .NB-login {
    padding: 0 0 64px 0;
    margin: 0 50px 0 12px;
    width: 186px;
    float: left;
    background: transparent url('../img/reader/separator.png') no-repeat bottom center;
}

.NB-account .NB-signup {
    float: left;
    width: 186px;
    padding: 0;
    margin: 0;
}

.NB-account input[type=text],
.NB-account input[type=password] {
    border:1px solid #D3D5DE;
    display:block;
    font-size:13px;
    margin:0 0 12px;
    padding:5px;
    width:100%;
}

.NB-account input[type=text]:focus,
.NB-account input[type=password]:focus {
    border-color: #739BBE;
}

.NB-account input[type=submit] {
/*    height: 40px;*/
    outline: none;
    width: 150px;
    margin: 4px 5px 0 0;
    padding: 4px 10px 5px;
    text-shadow: 0 -1px 0 #C7C9D2;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #ABAEB5;
    color: #202020;
    background: #dadada url('../theme/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;
    cursor: pointer;
}


.NB-account input[type=submit]:hover {
/*    background: #dadada url('../theme/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;*/
    color: #000;
    border-color: #6F7283;
/*    font-weight: bold;*/
}

.NB-account input[type=hidden] {
    display: none;
}

.NB-account label,
.NB-account .NB-account-label {
    margin: 2px 0 2px;
    color:#A0B0C0;
    font-size:12px;
    display: block;
    text-transform: uppercase;
}

.NB-account .NB-account-label {
    font-weight: bold;
}

.NB-account .NB-account-text {
    font-size: 13px;
    color: #90A0B0;
    margin-bottom: 30px;
}

.NB-account .NB-account-text a {
    text-decoration: none;
    color: #3E4773;
}

.NB-account .NB-account-text a:hover {
    color: #0E1763;
}

.NB-account .errorlist {
    list-style: none;
    font-size: 12px;
    color: #AF4D18;
    font-weight: bold;
    width: 200px;
    padding: 0;
}

/* ============ */
/* = Callouts = */
/* ============ */

.NB-callout {
    position: absolute;
    -moz-box-shadow: 2px 2px 5px #909090;
    -webkit-box-shadow: 2px 2px 5px #909090;
    box-shadow: 2px 2px 5px #909090;
    border: 1px solid #707070;
    background: #E2FFCC url('../img/reader/callout_background.png') repeat-x 0 0;
    display: none;
    z-index: 10;
}

.NB-callout .NB-callout-text {
    font-size: 14px;
    font-weight: bold;
}

.NB-callout .NB-callout-container {
    position: relative;
    padding: 4px 12px;
}

.NB-callout .NB-callout-container .NB-callout-arrow {
    width: 32px;
    height: 14px;
    background: transparent url('../img/reader/callout_arrow.png') no-repeat 0 0;
    position: absolute;
    bottom: -14px;
    left: 4px;
}

.NB-callout-ftux {
    left: 2px;
    bottom: 51px;
}

.NB-callout-ftux-signup {
    right: 10px;
}

.NB-callout-ftux-signup .NB-callout-container .NB-callout-arrow {
    left: auto;
    right: -1px;
}

.NB-callout-mouse-indicator {
    top: -3px;
    left: 26px;
    opacity: 0;
}

.NB-callout-mouse-indicator .NB-callout-container {
    padding: 1px 12px 1px;
}

.NB-callout-mouse-indicator .NB-callout-container .NB-callout-arrow {
    width: 12px;
    height: 26px;
    background: transparent url('../img/reader/callout_arrow_side.png') no-repeat 0 0;
    top: 0px;
    left: -11px;
}

/* ================ */
/* = Content Pane = */
/* ================ */

.content-pane {
    display: none;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    width: auto !important;
    height: auto !important;
}

.left-pane {
    display: none;
    overflow: hidden !important;
}

.left-center {
    display: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.right-pane {
    display: none;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

/* ============= */
/* = Feed List = */
/* ============= */


#feed_list ::-moz-selection {
background: transparent;
} 

#feed_list ::selection {
background: transparent;
}

#feed_list {
    background-color: #D7DDE6;
    overflow-y: auto;
    font-size: 11px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto !important;
    height: auto !important;
}

#feed_list ul.folder {
    margin: 6px 0px 4px;
    padding: 0 0 0 22px;
    list-style: none;
    background: transparent url('../img/icons/silk/folder.png') no-repeat 3px 1px;
}

#feed_list ul.folder .folder_title {
    padding: 3px 0 4px;
    font-weight: bold;
    display: block;
    color: #404040;
    text-transform: uppercase;
}

#feed_list .feeds {
    margin-left: 22px;
}

#feed_list .feed {
    position: relative;
    cursor: pointer;
    border-top: 1px solid #D7DDE6;
    border-bottom: 1px solid #D7DDE6;
    padding-right: 2px;
}

#feed_list .feed_id {
    display: none;
}
#feed_list img.feed_favicon {
    position: absolute;
    top: 2px;
    left: 2px;
}
#feed_list .feed_title {
    display: block;
    padding: 4px 40px 2px 23px;
    text-decoration: none;
    color: #272727;
    line-height: 1.3em;
    height: 1.2em;
    overflow: hidden;
}

#feed_list .feed_counts {
    position: absolute;
    right: 2px;
    top: 0;
}
#feed_list .NB-feedbar-mark-feed-read {
    display: none;
}
#feed_list .feed.selected {
    background: #f6a828 url('../theme/images/ui-bg_highlight-hard_35_f6a828_1x100.png') 0 50% repeat-x;
    border-top: 1px solid #A8A8A8;
    border-bottom: 1px solid #A8A8A8;
}
.feed .unread_count {
    float: right;
    font-weight: bold;
    color: #FFF;
    padding: 0 1px;
    margin: 3px 1px 0;
    background-color: #8eb6e8;
    display: none;
}

.feed .unread_count_positive {
    background-color: #559F4D;
}

.feed .unread_count_neutral {
    color: #303030;
    background-color: #F9C72A;
}

.feed .unread_count_negative {
    background-color: #CC2A2E;
}

#feed_list.unread_view_positive .feed.unread_positive .unread_count_positive {
    display: block;
}

#feed_list.unread_view_neutral .feed.unread_positive .unread_count_positive,
#feed_list.unread_view_neutral .feed.unread_neutral .unread_count_neutral {
    display: block;
}

#feed_list.unread_view_negative .feed.unread_positive .unread_count_positive,
#feed_list.unread_view_negative .feed.unread_neutral .unread_count_neutral,
#feed_list.unread_view_negative .feed.unread_negative .unread_count_negative {
    display: block;
}

#feed_list.unread_view_positive .feed.unread_positive {
    font-weight: bold;
}

#feed_list.unread_view_neutral .feed.unread_positive,
#feed_list.unread_view_neutral .feed.unread_neutral {
    font-weight: bold;
}

#feed_list.unread_view_negative .feed.unread_positive,
#feed_list.unread_view_negative .feed.unread_neutral,
#feed_list.unread_view_negative .feed.unread_negative {
    font-weight: bold;
}

#feed_list.unread_view_positive .unread_count {
    padding: 0 6px;
}

#feed_list.unread_view_neutral .unread_count {
    padding: 0 3px;
}

/* ================ */
/* = Story Titles = */
/* ================ */


#story_titles ::-moz-selection {
background: transparent;
} 

#story_titles ::selection {
background: transparent;
}

#story_titles {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 100%;
    overflow-y: scroll;
    font-size: 11px;
    display: none;
}

#story_titles .wrapper {
    margin-left: 220px;
}

#story_titles .NB-feedbar {
    font-weight: bold;
    font-size: 16px;
    padding: 2px 28px 2px 4px;
    background: #dadada url('../theme/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;
    border-bottom: 2px solid #404040;
    position: relative;
}
#story_titles .NB-feedbar .feed {
    overflow: hidden;
}

#story_titles .NB-feedbar .feed .feed_favicon {
    margin-right: 8px;
    vertical-align: top;
    float: left;
    margin-top: 2px;
}

#story_titles .NB-feedbar .feed .feed_title {
    float: left;
}

#story_titles .NB-feedbar .NB-feedbar-manage-feed {
    background: transparent url("../img/icons/silk/wrench.png") no-repeat center center;
    float: left;
    width: 16px;
    height: 16px;
    display: none;
    cursor: pointer;
    padding: 3px 4px 0 16px;
}
#story_titles .NB-feedbar .NB-feedbar-mark-feed-read {
    background-color: #3090cf;
    color: #F0F0F0;
    cursor: pointer;
    position: absolute;
    right: 95px;
    font-size: 9px;
    line-height: 15px;
    font-weight: bold;
    margin: 3px 11px 2px;
    padding: 0px 4px 0;
    text-transform: uppercase;
    display: none;
}

#story_titles .NB-feedbar.NB-feedbar-hover .NB-feedbar-manage-feed,
#story_titles .NB-feedbar.NB-feedbar-hover .NB-feedbar-mark-feed-read {
    display: block;
}

#story_titles .NB-feedbar .NB-feedbar-mark-feed-read:hover {
    background-color: #00609f;
}

#story_titles .NB-feedbar .feed .feed_counts {
    width: 200px;
    position: absolute;
    top: -1px;
    right: 6px;
    display: none;
}

#story_titles .NB-feedbar .feed .feed_counts .feed_counts_floater {
    float: left;
}

#story_titles .NB-feedbar .feed .feed_counts .unread_count {
    float: right;
}

#story_titles .NB-feedbar .NB-feedbar-intelligence {
    position: absolute;
    right: 4px;
    top: 3px;
}

#story_titles .NB-feedbar .unread_count {
    float: right;
    padding: 0 8px;
}

#story_titles .NB-feedbar .NB-button-intelligence {
    float: right;
}

#story_titles .NB-feedbar .feed_id {
    display: none;
}

#story_titles .NB-feedbar .NB-feed-sentiment {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    display: none;
    cursor: pointer;
}

#story_titles .NB-feedbar.NB-feedbar-hover .NB-feed-sentiment {
    display: block;
}


#story_titles .NB-feedbar .NB-feed-like {
    right: 24px;
    background: transparent url('../img/reader/thumbs-up.png') no-repeat 0 0;
}

#story_titles .NB-feedbar .NB-feed-dislike {
    right: 4px;
    background: transparent url('../img/reader/thumbs-down.png') no-repeat 0 -4px;
}

#story_titles .feed .unread_count.unread_count_full {
    display: block;
}



#story_titles .story {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 206px 0px 44px;
    border-top: 1px solid #E7EDF6;
    text-decoration: none;
    color: #272727;
    line-height: 1em;
    background: transparent url('../img/icons/silk/bullet_orange.png') no-repeat 14px 50%;
}

#story_titles .story.NB-story-positive {
    background: transparent url('../img/icons/silk/bullet_green.png') no-repeat 14px 50%;
}

#story_titles .story.NB-story-neutral {
    background: transparent url('../img/icons/silk/bullet_yellow.png') no-repeat 14px 50%;
}

#story_titles .story.NB-story-negative {
    background: transparent url('../img/icons/silk/bullet_red.png') no-repeat 14px 50%;
}

#story_titles .story.NB-story-hover {
    background: #f0f0f0;
}

#story_titles .story a.story_title {
    text-decoration: none;
    color: #272727;
    display: block;
    padding: 4px 0px;
    float: left;
}
#story_titles .story.read a.story_title {
    color: #575757;
}

#story_titles .story .story_title .NB-storytitles-author {
    padding-left: 12px;
    color: #808080;
    font-size: 9px;
}

#story_titles .story .story_title .NB-storytitles-tags {
    padding-left: 12px;
    font-weight: normal;
}

#story_titles .story .story_title .NB-storytitles-tag {
    font-size: 9px;
    padding: 0px 4px;
    margin: 0 2px;
    color: #808080;
    background-color: #E9E9E9;
}

#story_titles .story .story_id {
    display: none;
}

#story_titles .NB-story-sentiment {
    position: absolute;
    width: 22px;
    height: 16px;
    top: 2px;
    display: none;
}

#story_titles .NB-story-hover .NB-story-sentiment {
    display: block;
}

#story_titles .NB-story-like {
    left: 22px;
    background: transparent url('../img/reader/thumbs-up.png') no-repeat 2px 0;
}

#story_titles .NB-story-dislike {
    left: 0px;
    background: transparent url('../img/reader/thumbs-down.png') no-repeat 4px -4px;
}

#story_titles .story.read {
    font-weight: normal;
    background: none;
}

#story_titles .story .story_date {
    position: absolute;
    right: 4px;
    width: 200px;
    top: 4px;
}
#story_titles .story.selected {
    color: #304080;
    border-top: 1px solid #D7DDE6;
    background: #dadada url('../theme/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;
}
#story_titles .story.after_selected {
    border-top: 1px solid #D7DDE6;
}

#story_titles .NB-story-titles-end-stories-line {
    height: 8px;
    border-top: 1px solid #404040;
    background: #dadada url('../theme/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;
}
/* =================== */
/* = Story Navigator = */
/* =================== */

#story_pane .story_navigator {
    position: relative;
}

#story_pane .NB-story-pane-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#story_pane a.button {
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    overflow: visible;
    color: #000;
    background-color: #acc;
    padding: 5px 7px;
    margin: 0px 2px;
}

#story_pane a.button:hover {
    background-color: #cee;
}

#story_pane a.button.like {
    float: right;
    width: 24px;
    height: 16px;
    background: #acc url('../img/icons/silk/arrow_up.png') no-repeat 50% 50%;
}

#story_pane a.button.like:hover {
    background: #cee url('../img/icons/silk/arrow_up.png') no-repeat 50% 50%;
}

#story_pane a.button.dislike {
    float: right;
    width: 16px;
    height: 16px;
    background: #acc url('../img/icons/silk/arrow_down.png') no-repeat 50% 50%;
}

#story_pane a.button.dislike:hover {
    background: #cee url('../img/icons/silk/arrow_down.png') no-repeat 50% 50%;
}

/* ================= */
/* = Content Panes = */
/* ================= */

#story_pane {
    overflow: hidden;
}

#story_pane .NB-feed-story-view {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 100% !important;
    width: 100%;
    height: 100%;
}

#story_pane .NB-feed-frame {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto !important;
    display: block;
    position: absolute;
}

/* ================= */
/* = Story Content = */
/* ================= */

#story_pane {
    font-size: 12px;
    line-height: 1.5em;
    width: auto !important;
    height: auto !important;
}


#story_pane .wrapper {
    margin-left: 220px;
    position: relative;
}


#story_pane .NB-feed-stories {
    padding: 0;
    margin: 0;
    list-style: none;
}

#story_pane .NB-feed-story-header {
    font-weight: bold;
    font-size: 16px;
    padding: 0 200px 0 28px;
    background: #dadada url('../theme/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;
    border-top: 4px solid #404040;
    border-bottom: 1px solid #ADADAD;
    position: relative;
    overflow: hidden;
}

#story_pane .NB-feed-story .NB-feed-story-sentiment {
    position: absolute;
    top: 1px;
    left: -22px;
    width: 16px;
    height: 16px;
}

#story_pane .NB-feed-story.NB-story-positive .NB-feed-story-sentiment {
    background: transparent url('../img/icons/silk/bullet_green.png') no-repeat 0 0;
}

#story_pane .NB-feed-story.NB-story-neutral .NB-feed-story-sentiment {
    background: transparent url('../img/icons/silk/bullet_yellow.png') no-repeat 0 0;
}

#story_pane .NB-feed-story.NB-story-negative .NB-feed-story-sentiment {
    background: transparent url('../img/icons/silk/bullet_red.png') no-repeat 0 0;
}

#story_pane .NB-feed-story.read .NB-feed-story-sentiment {
/*     background: none; */
}
    
#story_pane .NB-feed-story-title-container {
    position: relative;
}

#story_pane a.NB-feed-story-title {
    display: block;
    text-decoration: none;
    color: #101050;
    margin: 6px 0 6px;
}

#story_pane a.NB-feed-story-title:hover {
    color: #1010A0;
}

#story_pane .NB-feed-story-author {
    color: #808080;
    font-size: 9px;
    text-transform: uppercase;
    margin: 4px 0 -6px;
}

#story_pane .NB-feed-story-header .NB-feed-story-date {
    position: absolute;
    right: 28px;
    top: 6px;
    font-size: 11px;
}

#story_pane .NB-feed-story-content {
    margin: 0 140px 32px 28px;
    padding: 12px 0px;
}

#story_pane .NB-feed-story-endbar {
    height: 8px;
    border-top: 1px solid #404040;
    background: #dadada url('../theme/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;
}

#story_pane .NB-feed-stories .NB-feed-story {
    padding: 3px 0 0 0;
    margin: 0;
    clear: both;
}

#story_pane .NB-feed-stories.NB-feed-view-story .NB-feed-story {
    padding: 0;
}

/* ======================= */
/* = Story Modifications = */
/* ======================= */

#story_pane {
    color: #2b2b2b;
}

#story_pane p {
    clear: both;
}

#story_pane blockquote {
    background-color: #F0F0F0;
    border-left: 1px solid #9B9B9B;
    padding: .5em 2em;
    margin: 0px;
}

.content-pane .feed {
    position: absolute;
    bottom: 1px;
    left: 350px;
    z-index: 10;
    display: block;
    opacity: .1;
    font-size: 20px;
}

.content-pane .feed .feed_counts {
    float: left;
}

.content-pane .feed .feed_counts .feed_counts_floater {
    float: left;
}

.content-pane .feed .feed_counts .unread_count {
    float: right;
    padding: 0 8px;
}

.content-pane .feed .unread_count.unread_count_full {
    display: block;
}

.content-pane .feed .feed_favicon,
.content-pane .feed .feed_title,
.content-pane .feed .NB-feedbar-mark-feed-read {
    display: none;
}

/* ============ */
/* = Task Bar = */
/* ============ */

.NB-taskbar {
    background: #e0e0e0 url('../img/reader/taskbar_background.png') repeat-x top left;
    position: relative;
    border-top: 1px solid #7d7d7d;
    z-index: 10;
}

.NB-taskbar .NB-task-view-page-to-feed-arrow {
    position: absolute;
    top: 8px;
    right: -8px;
    width: 16px;
    height: 16px;
    background: transparent url('../img/icons/silk/arrow_switch.png') no-repeat center 0px;
    display: none;
    z-index: 1;
}

.NB-taskbar ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.NB-taskbar .taskbar_nav {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline;
}

.NB-taskbar .taskbar_nav.first {
    border-left: 1px solid #828282;
}

.NB-taskbar .taskbar_nav_feeds,
.NB-taskbar .taskbar_nav_view, {
    float: left;
}

.NB-taskbar .taskbar_nav .task_button {
    height: 29px;
    margin: 0px;
    display: block;
    position: relative;
    border-right: 1px solid #828282;
    float: left;
    padding: 0px 8px 0 32px;
    font-size: 13px;
}

.NB-taskbar .taskbar_nav .task_button:hover,
.NB-taskbar .taskbar_nav .task_button.NB-hover {
    background-color: #A0A7B1;
}

.NB-taskbar .taskbar_nav .task_button.NB-disabled:hover {
    background-color: inherit;
}

.NB-taskbar .taskbar_nav .task_button.active .taskbar_menu {
    display: block;
}

.NB-taskbar .taskbar_nav .task_button .taskbar_menu {
    display: none;
    background-color: #D9E2F7;
    bottom: 29px;
    left: -1px;
    position: absolute;
    width: 299px;
    font-size: 13px;
    padding: 0;
    border-right: 1px solid #828282;
    border-left: 1px solid #828282;
    border-top: 1px solid #828282;
}

.NB-taskbar .taskbar_nav .task_button .taskbar_menu li {
    margin: 0;
    padding: 2px 4px;
}

.NB-taskbar .taskbar_nav .task_button .taskbar_menu li span {
    padding: 4px 29px;
    margin: 0;
    display: block;
    color: #203060;
    cursor: pointer;
}

.NB-taskbar .taskbar_nav .task_button .taskbar_menu li span:hover {
    background-color: #96B6E6;
    color: #405090;
}
.NB-taskbar .taskbar_nav .task_button.NB-disabled .taskbar_menu li span:hover {
    background-color: inherit;
    color: inherit;
}

.NB-taskbar .task_button {
    cursor: pointer;
}

.NB-taskbar .task_button.NB-disabled {
    opacity: .3;
    cursor: default;
}

.NB-taskbar .task_button.NB-task-add {
    background: transparent url('../img/icons/silk/add.png') no-repeat center 8px;
}
.NB-taskbar .task_button.NB-task-manage {
    background: transparent url('../img/icons/silk/wrench.png') no-repeat center 8px;
}
.NB-taskbar .task_button.task_profile {
    background: transparent url('../img/icons/silk/user.png') no-repeat center 8px;
}

.NB-taskbar .taskbar_nav_story {
  right: 0;
  width: 261px;
  position: absolute;
}

/* =================== */
/* = Taskbar - Story = */
/* =================== */

.NB-taskbar ::-moz-selection {
background: transparent;
} 

.NB-taskbar ::selection {
background: transparent;
}

#story_taskbar {
    display: none;
}

.NB-taskbar .NB-task-title {
    padding: 7px 0 0 0;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    color: #203036;
    text-shadow: 0px 1px 1px #D0D0D0;
}
.NB-taskbar .task_button.task_view_page {
    position: relative;
    cursor: pointer;
    background: transparent url('../img/icons/silk/application_view_tile.png') no-repeat 8px center;
}
.NB-taskbar .task_button.task_view_feed {
    cursor: pointer;
    background: transparent url('../img/icons/silk/application_view_columns.png') no-repeat 8px center;
}
.NB-taskbar .task_button.task_view_story {
    cursor: pointer;
    background: transparent url('../img/icons/silk/application_cascade.png') no-repeat 8px center;
}
.NB-taskbar .task_button.task_story_next_positive {
    cursor: pointer;
    background: transparent url('../img/icons/silk/bullet_green.png') no-repeat 8px center;
}
.NB-taskbar .task_button.task_story_next_neutral {
    cursor: pointer;
    background: transparent url('../img/icons/silk/bullet_yellow.png') no-repeat 8px center;
}
.NB-taskbar .task_button.task_story_next_negative {
    cursor: pointer;
    background: transparent url('../img/icons/silk/bullet_red.png') no-repeat 8px center;
}
.NB-taskbar .task_button.task_story_previous {
    cursor: pointer;
    background: transparent url('../img/icons/silk/arrow_left.png') no-repeat center center;
}
.NB-taskbar .task_button.task_story_next {
    cursor: pointer;
    background: transparent url('../img/icons/silk/arrow_down.png') no-repeat center center;
}
.NB-taskbar .task_button.task_button_signup {
    cursor: pointer;
    background: transparent url('../img/icons/media-devices/imac.png') no-repeat center center;
}

.NB-taskbar .task_button_view.NB-active {
    background-color: #A0A7B1;
}

.NB-taskbar .task_button.task_return {
    cursor: pointer;
    display: none;
    background: transparent url('../img/icons/silk/arrow_undo.png') no-repeat 8px 8px;
    padding-top: 2px;
    font-size: 12px;
}

.NB-taskbar .task_button.task_return .NB-task-title {
    padding-top: 0;
    line-height: 13px;
}


/* ================ */
/* = Modal Dialog = */
/* ================ */

#simplemodal-overlay {
    background-color: #101030;
}

#simplemodal-container {
    width: 500px;
    background-color: white;
    padding: 8px;
    -moz-box-shadow: 3px 3px 5px #505050;
    -webkit-box-shadow: 3px 3px 5px #505050;
    box-shadow: 3px 3px 5px #505050;
}

/* ==================== */
/* = OPML Import Form = */
/* ==================== */

form.opml_import_form {
}

form.opml_import_form textarea {
    width: 100%;
    height: 200px;
}

form.opml_import_form .section {
    clear: both;
    margin: 2px 0px;
}

form.opml_import_form label {
    display: block;
}
form.opml_import_form input {
    display: block;
    clear: both;
    float: left;
    margin: 0px 4px;
}

#progress_container {
    font-size: .9em;
    width: 100%;
    height: 1.25em;
    position: relative;
    margin: 3em 0;
    display: none;
}

#progress_filename {
    font-size: .9em;
    width: 100%;
}

#progress_bar {
    width: 100%;
    border: 1px solid #999;
}

#progress_indicator {
    background: #8a9;
    width: 0;
    height: 4px;
}

/* ================== */
/* = Django Logging = */
/* ================== */

#django_log {
    position: absolute;
    bottom: 30px;
    width: 850px;
    right: 20px;
    z-index: 10000;
    max-height: 400px;
    overflow-y: scroll;
}

#django_log.collapsed {
    width: 210px;
}

#django_log h1:hover {
    background-color: #FFFFA0;
    cursor: pointer;
}


/* ============== */
/* = Feed Frame = */
/* ============== */

.NB-feed-frame {
}

/* =============== */
/* = Splash Pane = */
/* =============== */

#NB-splash {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#NB-splash .NB-splash-title {
    position: absolute;
    bottom: -1px;
    background: transparent url('../img/reader/newsblur_logo.png') no-repeat 0 0;
    height: 52px;
    right: 250px;
    width: 230px;
}

#NB-splash .NB-splash-image {
    margin: 0 auto;
    height: 376px;
    width: 600px;
    background: transparent url('../img/reader/newsblur_splash_image.png') no-repeat 0 0;
}

#NB-splash .NB-splash-links {
    position: absolute;
    right: 50px;
    width: 186px;
    bottom: 0;
    display: block;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 0 #F0F0F0;
    list-style: none;
    white-space: nowrap;
    z-index: 0;
}

#NB-splash .NB-splash-links .NB-splash-link {
    display: block;
}

#NB-splash .NB-splash-links a {
    color: #405BA8;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

#NB-splash .NB-splash-links a:hover {
    color: #A85B40;
}

.NB-splash-info {
    background-color: white;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 56px;
}

/* ============== */
/* = Classifier = */
/* ============== */

.NB-modal {
    padding: 12px;
}

.NB-modal .NB-modal-loading,
.NB-modal .NB-loading {
    width: 16px;
    height: 16px;
    float: right;
    background: none;
}

.NB-modal .NB-modal-loading.NB-active {
    background: transparent url('../img/reader/recycle_spinner.gif') no-repeat 0 0;
}

.NB-modal .NB-loading.NB-active {
    background: transparent url('../img/reader/spinner_ball.gif') no-repeat 0 0;
}

.NB-modal h2 {
    margin: 0;
    padding: 0;
    font-size: 130%;
}

.NB-modal h5,
.NB-module h5 {
    margin: 0;
    padding: 8px 8px 6px;
    background-color: #D9DDF9;
    text-shadow: 0 1px 0 #F6F6F6;
    border-bottom: 1px solid #A0A0A0;
    color:#505050;
    font-size: 14px;
    font-family: "Gill Sans", inherit;
    text-transform: uppercase;
    font-weight: normal;
    overflow: hidden;
    position: relative;
}

.NB-modal .NB-modal-field {
    margin: 0;
    position: relative;
    clear: both;
}

.NB-modal .NB-modal-field h5 {
}

.NB-modal .NB-modal-field input[type=text] {
    width: 446px;
    font-size: 14px;
}

.NB-modal .NB-modal-field input[type=checkbox] {
    margin: 4px 0 0 0px;
    float: left;
}

.NB-modal .NB-modal-title {
    font-weight: bold;
    color: #303030;
    text-shadow: 1px 1px 0px #e0e0e0;
}

.NB-disabled {
    color: #A0A0A0;
}

.NB-modal .NB-modal-submit {
    margin: 16px 0 0 0;
    font-size: 13px;
}

.NB-modal .NB-modal-submit input[type=submit] {
    font-size: 14px;
}

.NB-modal img.feed_favicon {
    margin: 0 6px 0 0;
    vertical-align: middle;
}

.NB-modal .NB-fieldset {
    background-color: #F0F0FF;
    border-bottom: 1px solid #D0D0D9;
    margin: 16px 0 0;
    overflow: hidden;
}

.NB-modal .NB-fieldset-fields {
    margin: 8px 0 4px 16px;
    font-size: 14px;
    overflow: hidden;
}


/* ============== */
/* = Classifier = */
/* ============== */

.NB-classifier h2.NB-like {
    color: #007000;
}

.NB-classifier h2.NB-dislike {
    color: #700000;
}
.NB-classifier .NB-classifier-facet-disabled {
    color: #A0A0A0;
}

.NB-classifiers .NB-classifier.NB-classifier-title.NB-classifier-facet-disabled label {
    color: #A0A0A0;
    text-shadow: none;
}

.NB-classifier .NB-classifier-title-highlight {
    margin-bottom: 6px;
}

.NB-classifier-title-display {
    margin: 6px 0 0 0;
}

.NB-classifier .NB-publisher .NB-classifier-authors input {
    float: none;
    margin: 4px 6px 0 0;
}

.NB-classifier .NB-classifier-container {
    white-space: nowrap;
    float: left;
    display: block;
    margin: 2px 6px 6px 0;
}

.NB-classifier .NB-classifier-container .NB-classifier {
    margin: 0 2px 0 0;
}

.NB-classifier .NB-classifier-tag {
    background-color: #E0E0FF;
    padding: 2px 6px 2px 0px;
}

.NB-classifier .NB-classifier-tag input[type=checkbox] {
    margin: 0px 4px 0px;
    float: none;
}

.NB-classifier .NB-classifier-tag label {
}

.NB-classifier .NB-classifier-tag-count {
    font-size: 10px;
    font-weight: bold;
    margin: 0 6px 0 2px;
}

.NB-classifier .NB-modal-title .NB-classifier-like {
    color: #3D931B;
}

.NB-classifier .NB-modal-title .NB-classifier-dislike {
    color: #932C15;
}

.simplemodal-wrap {
    overflow: auto;
}

.NB-classifiers {
}

/* ======================= */
/* = Intelligence Slider = */
/* ======================= */

.NB-taskbar-intelligence {
    width: 100px;
    position: absolute;
    right: 18px;
    top: 16px;
    font-size: .5em;
}

.NB-taskbar-intelligence.NB-modal-slider {
    right: 26px;
    top: 34px;
}

.NB-taskbar-intelligence .NB-taskbar-intelligence-indicator {
    position: absolute;
    top: -16px;
    width: 12px;
    height: 12px;
}

.NB-taskbar-intelligence .NB-taskbar-intelligence-negative {
    right: 94px;
    background: transparent url(../img/icons/silk/bullet_red.png) no-repeat 0 0;
}

.NB-taskbar-intelligence .NB-taskbar-intelligence-neutral {
    right: 45px;
    background: transparent url(../img/icons/silk/bullet_yellow.png) no-repeat 0 0;
}

.NB-taskbar-intelligence .NB-taskbar-intelligence-positive {
    right: -4px;
    background: transparent url(../img/icons/silk/bullet_green.png) no-repeat 0 0;
}

.NB-intelligence-slider {
}

/* ===================== */
/* = Add Feeds/Folders = */
/* ===================== */

.NB-modal.NB-add .NB-fieldset-fields {
    margin: 14px 0 14px 16px;
}

.NB-add .NB-add-folders {
    text-transform: none;
    position: absolute;
    right: 8px;
    bottom: 6px;
}

.NB-add .NB-add-folders select {
    width: 200px;
    font-size: 11px;
}

.NB-add input[type=file] {
    font-size: 14px;
}

.NB-add input[type=submit] {
    font-size: 14px;
    margin: 0 0 0 4px;
}

.NB-add input[type=text] {
    width: 350px;
    font-size: 14px;
    padding: 2px;
    margin: 2px 4px 2px;
    border: 1px solid #606060;
    -moz-box-shadow:2px 2px 0 #D0D0D0;
    -webkit-box-shadow:2px 2px 0 #D0D0D0;
    box-shadow:2px 2px 0 #D0D0D0;
}

.NB-add .NB-folder-icon {
    float: left;
    margin: 4px 0px 4px;
    background: transparent url('../img/icons/silk/folder.png') no-repeat 0 0;    
    width: 16px;
    height: 16px;
}

.NB-add input.NB-add-folder {
    margin-left: 6px;
}

.NB-add .NB-error {
    display: none;
    font-weight: bold;
    font-size: 14px;
    color: #7E0418;
    margin: 10px 0 0 0;
}

/* ================ */
/* = Manage Feeds = */
/* ================ */

.NB-manage .NB-manage-field {
}

.NB-manage .NB-manage-container {
    height: 375px;
    overflow-y: auto;
    padding: 0 18px 18px 0;
}

.NB-manage .NB-manage-feed-chooser-container {
    float: right;
    margin: 16px 0 0;
}

.NB-manage .NB-manage-feed-chooser-container .NB-manage-feed-chooser {
    width: 250px;
}

.NB-manage .NB-classifier-like {
    color: #3D931B;
}

.NB-manage .NB-classifier-dislike {
    color: #932C15;
}

.NB-manage .NB-manage-classifier {
    overflow: hidden;
}

.NB-manage .NB-manage-classifier .NB-classifiers {
    clear: both;
}

.NB-manage .NB-classifier-empty {
    margin: 0 0 4px 12px;
    font-size: 12px;
    color: #A0A0A0;
}

.NB-manage .NB-classifier-empty .NB-like {
    width: 14px;
    height: 20px;
    margin: 0 2px;
    vertical-align: -6px;
    opacity: .4;
}

.NB-manage .NB-classifier-empty .NB-dislike {
    width: 14px;
    height: 20px;
    margin: 0 2px;
    vertical-align: -4px;
    opacity: .4;
}

.NB-manage .NB-manage-rename {
    margin: 0 0 12px 12px;
    display: none; /* Sorry, but this is not v1.0. Maybe next tuesday. No, next, next tuesday. */
}

.NB-manage .NB-manage-rename label {
    font-size: 14px;
    font-weight: bold;
}
.NB-manage .NB-manage-rename input {
    font-size: 14px;
    padding: 2px;
    margin: 0 4px;
    border: 1px solid #606060;
    width: 400px;
    -moz-box-shadow:2px 2px 0 #D0D0D0;
    -webkit-box-shadow:2px 2px 0 #D0D0D0;
    box-shadow:2px 2px 0 #D0D0D0;
}

.NB-manage .NB-manage-delete {
    margin: 0 0 4px 12px;
    font-size: 12px;
}

.NB-manage .NB-manage-delete .NB-delete {
    text-decoration: underline;
    color: #AF1313;
}


.NB-manage .NB-manage-delete .NB-delete-confirm {
    font-weight: bold;
    text-decoration: underline;
    color: #DB1818;
    margin: 0 12px 0 24px;
    display: none;
}

.NB-manage .NB-manage-delete .NB-delete-cancel {
    margin: 0;
    text-decoration: underline;
    color: #A0A0A0;
    display: none;
}

/* =================== */
/* = Classifier Tags = */
/* =================== */

.NB-classifiers {
    clear: both;
    overflow: hidden;
}


.NB-classifiers ::-moz-selection {
background: transparent;
} 

.NB-classifiers ::selection {
background: transparent;
}

.NB-classifiers .NB-classifier {
    white-space: nowrap;
    float: left;
    display: block;
    margin: 2px 6px 6px 0;
    cursor: pointer;
    padding: 2px 9px 2px 4px;
    font-size: 12px;
    text-transform: uppercase;
}

.NB-classifiers .NB-classifier input[type=checkbox] {
    margin: 0 6px 0 4px;
    float: none;
    cursor: pointer;
}

.NB-classifiers .NB-classifier label {
    cursor: pointer;
    color: black;
}

.NB-classifiers .NB-classifier label b {
    color: #303030;
    text-shadow: none;
    font-weight: normal;
}

.NB-classifiers .NB-classifier.NB-classifier-tag {
    background-color: #FFA200;
}
.NB-classifiers .NB-classifier.NB-classifier-tag label {
    text-shadow: 1px 1px 0 #cF7200;
}

.NB-classifiers .NB-classifier.NB-classifier-title {
    background-color: #FF7940;
}
.NB-classifiers .NB-classifier.NB-classifier-title label {
    text-shadow: 1px 1px 0 #cF4910;
}

.NB-classifiers .NB-classifier.NB-classifier-author {
    background-color: #60D6A7;
}
.NB-classifiers .NB-classifier.NB-classifier-author label {
    text-shadow: 1px 1px 0 #30a677;
}

.NB-classifiers .NB-classifier.NB-classifier-publisher {
    background-color: #6a93d4;
}
.NB-classifiers .NB-classifier.NB-classifier-publisher label {
    text-shadow: 1px 1px 0 #3A63A4;
}

.NB-classifiers .NB-classifier.NB-classifier-facet-disabled {
    background-color: white;
}

/* =================== */
/* = Mouse Indicator = */
/* =================== */

#mouse-indicator {
    position: absolute;
    top: 50px;
    left: 0px;
    background: transparent url('../img/reader/mouse_indicator.png') no-repeat 0 0;
    width: 10px;
    height: 15px;
    z-index: 10;
    cursor: pointer;
}

/* ============= */
/* = Main Page = */
/* ============= */

.NB-account .NB-module {
    margin: 24px 0 0;
    padding: 0;
    width: 478px;
    clear: both;
    overflow: hidden;
}

.NB-account .NB-module a {
    text-decoration: none;
    color: #3E4773;
}

.NB-account .NB-module a:hover {
    color: #0E1763;
}

.NB-account .NB-module h5 {
    margin: 0 0 12px;
    padding: 8px 12px 6px;
}

.NB-account .NB-module .NB-module-header-right {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    float: right;
}

/* ============ */
/* = Features = */
/* ============ */

.NB-module-features {
    list-style: none;
    padding: 0;
    margin: 0 12px;
}

.NB-module-features .NB-module-feature {
    margin: 0 0 12px;
}

.NB-module-features .NB-module-feature.last {
    margin-bottom: 0;
}

.NB-module-features .NB-module-feature .NB-module-feature-date {
    float: left;
    text-transform: uppercase;
    padding: 1px 8px 12px 0;
    color: #134160;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    white-space: nowrap;
}

.NB-module-features .NB-module-feature.last .NB-module-feature-date {
    padding-bottom: 0;
}

.NB-module-features .NB-module-feature .NB-module-feature-description {
    line-height: 16px;
    font-size: 13px;
    padding: 0 4px 12px 0;
}

.NB-module-features .NB-module-feature.last .NB-module-feature-description {
    padding-bottom: 0;
}

#add-feature-form {
    display: none;
}

/* ========= */
/* = Menus = */
/* ========= */

.NB-menu-manage-container {
    z-index: 1;
    position: absolute;
    display: none;
    opacity: 0;
    bottom: 0;
    left: 48px;
    width: 74%;
    padding: 0;
    margin: 0;
    background-color: #BAE3A8;
    border-top: 1px solid #8ABCBE;
    border-left: 1px solid #8ABCBE;
    border-right: 1px solid #8ABCBE;
    -webkit-box-shadow: 1px 3px 0 #979DA6;
    -moz-box-shadow: 1px 3px 0 #979DA6;
    box-shadow: 1px 3px 0 #979DA6;
}

.NB-menu-manage {
    list-style: none;
    font-size: 11px;
    text-transform: uppercase;
    margin: 4px 0;
    padding: 0;
    font-family: 'Lucida Grande', inherit;
}

.NB-menu-manage li {
    margin: 0 0 0 0;
    padding: 3px 8px 3px 12px;
    cursor: pointer;
}

.NB-menu-manage li:hover,
.NB-menu-manage li.NB-hover {
    background-color: #639510;
    color: white;
}

.NB-menu-manage li.NB-menu-separator {
    border-bottom: 1px solid #8ABCBE;
    padding-bottom: 3px;
    margin-bottom: 6px;
}

.NB-menu-manage li.NB-menu-separator:hover,
.NB-menu-manage li.NB-menu-manage-feed-info:hover {
    background-color: inherit;
    color: inherit;
    cursor: default;
}

.NB-menu-manage .NB-menu-manage-feed-info {
    padding-left: 24px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
}

.NB-menu-manage .NB-menu-manage-feed-info .feed_favicon {
    position: absolute;
    left: 4px;
    top: 3px;
}

.NB-menu-manage .NB-menu-manage-feed-info .feed_title {
}