.NB-welcome .NB-body-inner {
    overflow: auto;
    height: 100%;
    width: 100%;
    position: absolute;
}
.NB-welcome .NB-splash-info.NB-splash-top .NB-splash-title {
    display: none;
}
.NB-welcome .NB-splash-info.NB-splash-top,
.NB-welcome .NB-splash-info.NB-splash-bottom {
    height: 6px;
    position: absolute;
    top: 0;
    border-top: none;
    border-bottom: none;
    background: none;
    background-color: rgba(0, 0, 0, .4);
}
.NB-welcome .NB-splash-info.NB-splash-bottom {
    position: relative;
    height: auto;
    float: left;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .4);
}
.NB-welcome .NB-splash-info .NB-splash-links {
    position: relative;
    left: 50%;
    width: auto;
    float: left;
}
.NB-welcome .NB-splash-info .NB-splash-links li {
    position: relative;
    right: 50%;
}
.NB-welcome .NB-splash-info .NB-splash-links a {
    color: rgba(255, 255, 255, .7);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}
.NB-welcome .NB-splash-info .NB-splash-links a:hover {
    color: #F4DD43;
}

/* ========== */
/* = Common = */
/* ========== */

.NB-welcome .NB-inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.NB-button {
    border: 1px solid #07360F;
    font-size: 12px;
    padding: 4px 12px;
    text-transform: uppercase;
    margin: 2px 4px 2px;
    -moz-box-shadow:2px 2px 0 rgba(35, 35, 35, 0.4);
    -webkit-box-shadow:2px 2px 0 rgba(35, 35, 35, 0.4);
    box-shadow:2px 2px 0 rgba(35, 35, 35, 0.4);
    border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: #404040;
}
.NB-button:active {
    -moz-box-shadow:1px 1px 0 rgba(35, 35, 35, 0.6);
    -webkit-box-shadow:1px 1px 0 rgba(35, 35, 35, 0.6);
    box-shadow:1px 1px 0 rgba(35, 35, 35, 0.6);
}
.NB-welcome-container.NB-welcome-tryout {
    overflow-x: hidden;
}

/* ========== */
/* = Header = */
/* ========== */

.NB-welcome-header {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3F5354), to(#1B2424));
    background: -moz-linear-gradient(center top , #3F5354 0%, #1B2424 100%) repeat scroll 0 0 transparent;
    height: 420px;
    color: white;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.3);
}
.NB-welcome-header .NB-background {
    background: url(/media/img/welcome/header_background.jpg) no-repeat center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.NB-welcome-header .NB-welcome-header-logo {
    padding: 48px 0 0 0;
    text-align: center;
    width: 460px;
}
.NB-welcome-header .NB-welcome-header-logo img {
    opacity: .9;
        -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;

}
.NB-welcome-header .NB-welcome-header-logo img:hover {
    opacity: 1;
}
.NB-welcome-header .NB-welcome-header-tagline {
    margin: 24px 0 0 0;
    font-size: 22px;
    text-shadow: 0 1px 0 rgba(25, 25, 25, 0.75);
    text-align: center;
    width: 460px;
}
.NB-welcome-header .NB-welcome-header-tagline b {
    padding: 2px 8px;
    background-color: rgba(205, 205, 205, 0.1);
    font-weight: normal;
    border-radius: 4px;
}

.NB-welcome-header-image {
    position: absolute;
    right: 0;
    bottom: 0;
}
.NB-welcome-header-image img.NB-1 {
    height: 300px;
    position: absolute;
    bottom: -350px;
    right: -40px;
    border-radius: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.NB-welcome-header-image.NB-active img.NB-1 {
    bottom: 0px;
}
.NB-welcome-header-image img.NB-2 {
    opacity: 0;
    height: 300px;
    position: absolute;
    bottom: -300px;
    right: 0;
    border-radius: 2px;
    margin-right: 100px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.NB-welcome-header-image img.NB-3 {
    opacity: 0;
    height: 300px;
    position: absolute;
    bottom: -300px;
    right: -24px;
    border-radius: 2px;
    margin-right: 140px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.NB-welcome-header-captions {
    text-align: center;
    margin: 12px auto 0;
    position: absolute;
    top: 0;
    right: 32px;
    overflow: hidden;
    text-shadow: 0 1px 0 rgba(35,35,35,0.35);
    padding-left: 64px;
}
.NB-welcome-header-caption {
    float: left;
    color: white;
    cursor: pointer;
    padding: 36px 12px 12px;
    text-transform: uppercase;
}
.NB-welcome-header-caption.NB-welcome-header-caption-signin {
    color: #E8F64A;
}
.NB-welcome-header-caption span {
    padding: 2px 8px;
    border-radius: 4px;
    display: block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}
.NB-welcome-header-caption:hover span {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
}
.NB-welcome-header-caption.NB-active span {
    color: #FDC85B;
    background-color: rgba(235, 235, 235, 0.1);
}

.NB-welcome-header-actions {
    margin: 36px 0 0;
    line-height: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    overflow: hidden;
    float: left;
}
.NB-welcome-header-action {
    float: left;
    margin: 4px 0 16px;
}
.NB-welcome-header-action-subtext {
    text-align: center;
    line-height: 24px;
    padding: 0 12px;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 1px 0 rgba(35, 35, 35, 0.4);
}
.NB-welcome-header-actions img {
    vertical-align: top;
    width: 16px;
    height: 16px;
}
.NB-welcome-header-actions .NB-welcome-header-action-arrow {
    display: none;
}
.NB-welcome-header-actions .NB-active .NB-welcome-header-action-bolt {
    display: none;
}
.NB-welcome-header-actions .NB-active .NB-welcome-header-action-arrow {
    display: block;
}
.NB-welcome-header-actions .NB-button {
    float: left;
    font-size: 16px;
    padding: 6px 10px;
    margin: 0 24px;
    text-transform: none;
    text-shadow: 0 1px 0 rgba(235, 235, 235, 0.4);
    background-color: #F5FFE2;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F5FFE2), to(#E8FACA));
    background: -moz-linear-gradient(center top, #F5FFE2 0%, #E8FACA 100%);
}
.NB-welcome-header-actions .NB-button:hover {
    background-color: #F4DD43;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4DD43), to(#F1D526));
    background: -moz-linear-gradient(center top, #F4DD43 0%, #F1D526 100%);
}
.NB-welcome-header-actions .NB-button:active {
    text-shadow: 0 1px 0 rgba(35, 35, 35, 0.4);
    background-color: #E97326;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E97326), to(#D94B0D));
    background: -moz-linear-gradient(center top, #E97326 0%, #D94B0D 100%);
    color: white;
}

/* ================== */
/* = Login / Signup = */
/* ================== */

.NB-welcome-header-account {
    position: absolute;
    bottom: -350px;
    right: 12px;
    width: 400px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(245, 245, 245, 0.4);
    padding: 36px 36px 12px;
}
.NB-welcome-header-account.NB-active {
    bottom: 0;
}
.NB-welcome-header-account .NB-module-header-login {
    width: 142px;
    margin: 0 50px 0 0;
    padding: 0 4px;
    float: left;
    text-shadow: 0 1px 0 rgba(35, 35, 35, 0.3);
}

.NB-welcome-header-account .NB-module-header-signup {
    width: 142px;
    margin: 0;
    padding: 0 4px;
    float: left;
    text-shadow: 0 1px 0 rgba(35, 35, 35, 0.3);
}

.NB-welcome-header-account .NB-login {
    padding: 0 4px;
    margin: 12px 50px 0 12px;
    width: 146px;
    float: left;
}

.NB-welcome-header-account .NB-signup {
    float: left;
    width: 146px;
    padding: 0 4px;
    margin: 12px 0 0;
    height: 206px;
    overflow: hidden;
}

.NB-welcome-header-account .NB-import-signup {
    float: left;
    width: 146px;
    padding: 0 0 64px 0;
    margin: 0 24px 0 12px;
    height: 206px;
    overflow: hidden;
}

.NB-welcome-header-account .NB-import-signup-text {
    text-align: center;
    width: 190px;
}
.NB-welcome-header-account .NB-import-signup-text h3 {
    margin-top: 48px;
    color: #20843D;
}
.NB-welcome-header-account .NB-import-signup-text p {
    color: #636363;
}

.NB-welcome-header-account .NB-signup-orline {
    margin: 30px auto 24px;
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    color: #F9F9F9;
    font-weight: bold;
}

.NB-welcome-header-account .NB-signup-orline-reduced {
    margin: 0px auto 0px;
}
.NB-welcome-header-account .NB-signup-orline .NB-signup-orline-or {
    padding: 0 4px;
}

.NB-welcome-header-account .NB-signup-optional {
    float: right;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    font-size: 9px;
    line-height: 17px;
}
.NB-welcome-header-account .NB-signup-hidden {
    display: none;
}

.NB-welcome-header-account .NB-import-signup {
    height: auto;
}

.NB-welcome-header-account .NB-signup .NB-signup-google {
    margin: 12px auto;
    display: block;
    font-size: 12px;
    text-align: center;
}

.NB-welcome-header-account input[type=text],
.NB-welcome-header-account input[type=password] {
    border: 1px solid rgba(35, 35, 35, 0.5);
    display:block;
    font-size:13px;
    margin:0 0 12px;
    padding:5px;
    width:134px;
}

.NB-welcome-header-account input[type=text]:focus,
.NB-welcome-header-account input[type=password]:focus {
    border-color: #739BBE;
}

.NB-welcome-header-account input[type=submit] {
    outline: none;
    width: 146px; /* 174=input-width + 5*2=padding + 2=border */
    margin: 4px 5px 0 0;
    padding: 4px 10px 5px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.NB-welcome-header-account input[type=hidden] {
    display: none;
}

.NB-welcome-header-account label,
.NB-welcome-header-account .NB-account-label {
    margin: 0;
    color: #FFFFD5;
    text-shadow: 0 1px 0 rgba(35, 35, 35, 0.3);
    font-size: 12px;
    display: block;
    text-transform: uppercase;
}

.NB-welcome-header-account .NB-account-label {
    font-weight: bold;
}

.NB-welcome-header-account .NB-account-text {
    font-size: 13px;
    color: #90A0B0;
    margin-bottom: 30px;
}

.NB-welcome-header-account .NB-account-text a {
    text-decoration: none;
    color: #3E4773;
}

.NB-welcome-header-account .NB-account-text a:hover {
    color: #0E1763;
}

.NB-welcome-header-account .errorlist {
    list-style: none;
    font-size: 12px;
    color: #AF4D18;
    font-weight: bold;
    padding: 0;
}



/* ============ */
/* = Features = */
/* ============ */

.NB-welcome-features {
    margin: 48px 0;
    overflow: hidden;
}

.NB-welcome-features .NB-feature {
    float: left;
    width: 204px;
    margin: 0 36px 0 0;
    text-align: center;
}

.NB-welcome-features img {
    width: 200px;
    height: 175px;
    box-shadow: 0 0 3px rgba(30, 30, 30, 0.3);
}
.NB-welcome-features .NB-feature-caption {
    font-weight: bold;
    font-size: 22px;
    margin: 24px 0 0;
}
.NB-welcome-features .NB-feature-text {
    color: #808080;
    margin: 24px 0 0;
    font-size: 15px;
    line-height: 22px;
}

/* =========== */
/* = Pricing = */
/* =========== */

.NB-welcome-pricing {
    overflow: hidden;
    clear: both;
    margin: 48px 0 0;
    padding: 36px 0;
    
    background-color: #FAFAFA;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}
.NB-welcome-pricing p {
    line-height: 24px;
}
.NB-welcome-pricing .NB-price {
    float: right;
    margin: -2px -6px;
    padding: 2px 6px;
    background-color: #E0E8F2;
    border-radius: 8px;
    line-height: 16px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.NB-pricing {
    margin: 12px 0;
    width: 100%;
    font-size: 14px;
}
.NB-pricing th,
.NB-pricing td {
    padding: 10px 8px;
    text-align: left;
    line-height: 16px;
    width: 33%;
    vertical-align: top;
}
.NB-pricing th {
    border-right: 1px solid #E4E4E4;
}
.NB-pricing td {
    border-top: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}
.NB-pricing .NB-last {
    border-right: none;
}
.NB-pricing .NB-bold {
    font-weight: bold;
}
.NB-pricing .NB-shiloh {
    display: block;
    float: left;
    border: 1px solid #606060;
    height: 54px;
    margin: 0 12px 0 0;
}

/* ================== */
/* = Bottom Actions = */
/* ================== */

.NB-welcome-bottomactions {
    overflow: hidden;
    clear: both;
    margin: 48px 0 0;
    padding: 36px 0;
    background-color: #FAFAFA;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

.NB-welcome-bottomactions .NB-welcome-header-actions {
    padding: 0;
    margin: 0 auto;
    float: none;
    background-color: rgba(209, 211, 219, .4);
    width: 450px;
}
.NB-welcome-bottomactions .NB-welcome-header-action-subtext {
    color: #363C53;
    text-shadow: 0 1px 0 white;
}

/* ============ */
/* = Activity = */
/* ============ */

.NB-welcome-activity {
    overflow: hidden;
    clear: both;
    padding: 36px 0;
}
.NB-welcome-activity .NB-module {
    width: 47%;
}
.NB-welcome-activity .NB-module-features {
    float: right;
}
.NB-welcome-activity .NB-module-stats {
    float: left;
    margin-right: 3%;
}
.NB-welcome-activity .NB-module .NB-module-header {
    display: none;
}
.NB-welcome-activity .NB-module .NB-module-stats-counts {
    overflow: hidden;
}
.NB-welcome-activity .NB-module-stats .NB-module-content-header-hour {
    margin-top: 36px;
}
.NB-welcome-activity .NB-module-stats-count-graph {
    margin-left: 4px;
}
.NB-welcome-activity .NB-graph-bar {
    width: 4px;
}
.NB-welcome-activity .NB-graph-value {
    width: 4px;
}
.NB-welcome-activity .NB-module-stats-count {
    float: left;
    width: 33%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.NB-welcome-activity .NB-module-stats-count-graph {
    width: auto;
    margin-left: 16px;
}

/* ========== */
/* = Footer = */
/* ========== */

.NB-welcome-footer {
    overflow: hidden;
    clear: both;
    padding: 42px 0 0;
    color: #363C53;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    line-height: 24px;
    background-color: #FAFAFA;
    background: #F1E0D0 url(/media/img/welcome/footer_background.jpg) repeat center top;
    background-size: 1438px 150px;

    border-top: 2px solid rgba(0, 0, 0, .1);
}
.NB-welcome-footer .NB-welcome-footer-content {
    margin-bottom: 46px;
}
.NB-welcome-footer .NB-footer-logo {
    vertical-align: text-bottom;
    position: relative;
    bottom: -4px;
}
.NB-welcome-footer .NB-splash-link {
    color: #363C53;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(245, 245, 245, 0.7);
}
.NB-welcome-footer .NB-splash-link:hover {
    color: #822216;
}
.NB-welcome-footer .NB-footer-icons {
    float: right;
}
.NB-welcome-footer .NB-footer-icons a {
    line-height: 0;
    margin: 0 12px 0 0;
    float: right;
}
.NB-welcome-footer .NB-footer-icons a img {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    position: relative;
    bottom: -4px;
    opacity: .5;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
}
.NB-welcome-footer .NB-footer-icons a img:hover {
    opacity: 1;
}

.NB-welcome-footer .NB-twitter-avatar {
    width: 24px;
    height: 24px;
    border: none;
    box-shadow: 0 0 1px #C0C0C0;
    vertical-align: bottom;
    position: relative;
    bottom: 0;
    margin: 0 2px 0 4px;
    border-radius: 2px;
}