/**
 * Sepia Theme overrides
 */

/**
 * Universal Style
 */

body {
    background-color: #FFFEE5;
}

/* ========== */
/* = Header = */
/* ========== */

.NB-header {
    color: black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffd0), to(#ffffc0));
    border-bottom: 1px solid #B4BC8D;
    text-shadow: 0 1px 0 rgba(194, 197, 190, .25);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.NB-story-title {
    color: #111111;
}

.NB-story-title-positive {
    color: #58A353;
    text-shadow: 0 1px 0 rgba(194, 197, 190, .25);
}
.NB-story-title-negative {
    color: #B85044;
    text-shadow: 0 1px 0 rgba(194, 197, 190, .25);
}

.NB-story-permalink {
    color: #111111;
}
.NB-story-date {
    color: #818776;
}

.NB-middot {
    color: #A0A0A0;
}

.NB-story-author {
    color: #959B8B;
    text-shadow: 0 1px 0 rgba(194, 197, 190, .25);
}
.NB-story-author-positive {
    color: #58A353;
    text-shadow: 0 1px 0 #E9F6E9;
}
.NB-story-author-negative {
    color: #B85044;
    text-shadow: 0 1px 0 #F6E9E9;
}

.NB-story-tag {
    background-color: rgba(0, 0, 0, .1);
    color: #959B8B;
    text-shadow: 0 1px 0 rgba(245, 245, 192, .9);
    border-color: rgba(255, 255, 255, .3) transparent rgba(0, 0, 0, .1);
}
.NB-story-tag-positive {
    background-color: #88B383;
    color: white;
    text-shadow: 0 1px 0 #588353;
}
.NB-story-tag-negative {
    background-color: #C89094;
    color: white;
    text-shadow: 0 1px 0 #986064;
}
.NB-story-tag .NB-highlight,
.NB-user-tag .NB-highlight,
.NB-story-author .NB-highlight,
.NB-show-profile .NB-highlight {
    background-color: #000;
}

.NB-user-tag {
    color: #959B8B;
    text-shadow: 0 1px 0 rgba(245, 245, 192, .9);
    border-color: rgba(255, 255, 255, .3) transparent rgba(0, 0, 0, .1);
}

.NB-user-tag.NB-add-user-tag {
    background: rgba(0, 0, 0, .25) url("add_tag.png") no-repeat 6px 3px;
    background-size: 8px;
    color: #E5EBDB;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.NB-story-starred-date {
    color: #818776;
}

a {
    color: #1B248C;
}
a:active {
    color: #82301A;
}

.NB-story blockquote {
    border-left-color: #E1E3B6;
    background-color: #F2F2D4;
}

/* Comments */

.NB-story-comments-group:last-child {
    border-bottom: 1px solid rgba(194, 197, 190, .5);
}

#story_pane .NB-story-comments-shares-teaser.NB-highlighted {
    color: #aaaaaa;
    background-color: #111111;
}

#story_pane .NB-story-comment-reply.NB-highlighted {
    color: #aaaaaa;
    background-color: #111111;
}

#story_pane .NB-story-comment.NB-highlighted {
    color: #aaaaaa;
    background-color: #111111;
}

.NB-story-comment:last-child {
    border-bottom: 1px solid #A6A6A6;
}

/* Edit, Like, and Reply buttons */

.NB-button {
    text-shadow: 0px 1px 0px rgba(255,255,255,1);
}

.NB-button a {
    color: rgba(255, 255, 255, .8);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .1);
}

.NB-button div {
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#E9AF86),
        color-stop(0.50, #E9AF86),
        color-stop(0.50, #E5A87F),
        to(#E5A87F));
    border: 1px solid transparent;
    border-color: rgba(255, 255, 255, .3) rgba(0, 0, 0, .2) rgba(0, 0, 0, .3) rgba(255, 255, 255, .2);
}
.NB-button.NB-share-button div {
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ECEDE9),
        color-stop(0.50, #ECEDE9),
        color-stop(0.50, #E5E6E2),
        to(#E5E6E2));
    color: #B0B2AB;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.NB-button:active div,
.NB-button.NB-button-active div {
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#6C6D69),
        color-stop(0.50, #6C6D69),
        color-stop(0.50, #656662),
        to(#656662));
}

.NB-button.selected div {
    background: #2379bf;
}

.NB-button.NB-share-button:active div,
.NB-button.NB-share-button.NB-button-active div {
    color: darkgrey;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

/* Story Comments */

#story_pane .NB-story-comment {
    border-bottom: 1px solid rgba(194, 197, 190, .25);
    background:#ffffd0;
    box-shadow: none;
}

#story_pane .NB-story-comment .NB-story-comment-username {
    color: #1D4BA6;
    text-shadow: 0 1px 0 rgba(194, 197, 190, .25);
}
#story_pane .NB-story-comment .NB-story-comment-date {
    color: #9D9D9D;
}

#story_pane .NB-story-comment .NB-story-comment-content {
    color: #303030;
}

#story_pane .NB-story-comment-reply {
    border-top: 1px solid rgba(194, 197, 190, .25);
}

#story_pane .NB-story-comment-reply-content {
    color: #303030;
}

#story_pane .NB-story-comment-reply-form .NB-error {
    color: #6A1000;
}

#story_pane .NB-story-comments-public-teaser,
#story_pane .NB-story-comments-public-header,
#story_pane .NB-story-comments-friends-header {
    background-color: #fffff0;
    color: white;
    text-shadow: 0 1px 0 rgba(194, 197, 190, .25);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6b0), to(#f0f29e));
    color: #404040;
    border-color: #e7e998 transparent #d8dd81;
}
#story_pane .NB-story-comments-shares-teaser {
    background-color: #fffff0;
    color: #898989;
    text-shadow: 0 1px 0 #FFF;
    border-bottom: 1px solid #DCDDB6;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
}


