/**
 * Warm Theme overrides (formerly Sepia)
 */

/**
 * Universal Style
 */

body {
    background-color: #F5E6D3;
}

/* ========== */
/* = Header = */
/* ========== */

.NB-header {
    color: black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F7E9D8), to(#F5E6D3));
    text-shadow: 0 1px 0 rgba(194, 180, 165, .25);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.NB-story-title {
    color: #3C3226;
}

.NB-story-title-positive {
    color: #58A353;
    text-shadow: 0 1px 0 rgba(194, 180, 165, .25);
}
.NB-story-title-negative {
    color: #B85044;
    text-shadow: 0 1px 0 rgba(194, 180, 165, .25);
}

.NB-story-permalink {
    color: #3C3226;
}
.NB-story-toggle-changes {
    color: #8B7B6B;
}
.NB-story-date {
    color: #8B7B6B;
}

.NB-middot {
    color: #B0A090;
}

.NB-story-author {
    color: #8B7B6B;
    text-shadow: 0 1px 0 rgba(194, 180, 165, .25);
}
.NB-story-author-positive {
    color: #58A353;
    text-shadow: 0 1px 0 #E9F6E9;
}
.NB-story-author-negative {
    color: #B85044;
    text-shadow: 0 1px 0 #F6E9E9;
}

.NB-story-tag {
    background-color: rgba(0, 0, 0, .08);
    color: #8B7B6B;
    text-shadow: 0 1px 0 rgba(245, 230, 211, .9);
    border-color: rgba(255, 255, 255, .3) transparent rgba(0, 0, 0, .1);
}
.NB-story-tag-positive {
    background-color: #88B383;
    color: white;
    text-shadow: 0 1px 0 #588353;
}
.NB-story-tag-negative {
    background-color: #C89094;
    color: white;
    text-shadow: 0 1px 0 #986064;
}
.NB-story-tag .NB-highlight,
.NB-user-tag .NB-highlight,
.NB-story-author .NB-highlight,
.NB-show-profile .NB-highlight {
    background-color: #000;
}

.NB-user-tag {
    color: #8B7B6B;
    text-shadow: 0 1px 0 rgba(245, 230, 211, .9);
    border-color: rgba(255, 255, 255, .3) transparent rgba(0, 0, 0, .1);
}

.NB-user-tag.NB-add-user-tag {
    background: rgba(0, 0, 0, .2) url("add_tag.png") no-repeat 6px 3px;
    background-size: 8px;
    color: #D4C8B8;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.NB-story-starred-date {
    color: #8B7B6B;
}

a {
    color: #1B248C;
}
a:active {
    color: #82301A;
}

.NB-story blockquote {
    border-left-color: #D4C8B8;
    background-color: #EDE0D0;
}

.NB-story blockquote p {
    background-color: #EDE0D0;
}

/* Comments */

.NB-story-comments-group:last-child {
    border-bottom: 1px solid rgba(180, 165, 150, .5);
}

#story_pane .NB-story-comments-shares-teaser.NB-highlighted {
    color: #aaaaaa;
    background-color: #111111;
}

#story_pane .NB-story-comment-reply.NB-highlighted {
    color: #aaaaaa;
    background-color: #111111;
}

#story_pane .NB-story-comment.NB-highlighted {
    color: #aaaaaa;
    background-color: #111111;
}

.NB-story-comment:last-child {
    border-bottom: 1px solid #B0A090;
}

/* Edit, Like, and Reply buttons */

.NB-button {
    text-shadow: 0px 1px 0px rgba(255,255,255,1);
}

.NB-button a {
    color: rgba(255, 255, 255, .8);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .1);
}

.NB-button div {
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#E9AF86),
        color-stop(0.50, #E9AF86),
        color-stop(0.50, #E5A87F),
        to(#E5A87F));
    border: 1px solid transparent;
    border-color: rgba(255, 255, 255, .3) rgba(0, 0, 0, .2) rgba(0, 0, 0, .3) rgba(255, 255, 255, .2);
}
.NB-button.NB-share-button div {
    color: rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    border: 1px solid rgb(0, 0, 0, 0.25);
}
.NB-button:active div,
.NB-button.NB-button-active div {
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#6C6D69),
        color-stop(0.50, #6C6D69),
        color-stop(0.50, #656662),
        to(#656662));
}

.NB-button.selected div {
    background: #2379bf;
}

.NB-button.NB-share-button:active div,
.NB-button.NB-share-button.NB-button-active div {
    color: darkgrey;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

.NB-newsletter p,
.NB-newsletter div,
.NB-newsletter span,
.NB-newsletter td {
    background-color: #F5E6D3 !important;
}
.NB-newsletter h1,
.NB-newsletter h2,
.NB-newsletter h3,
.NB-newsletter h4,
.NB-newsletter h5,
.NB-newsletter h6 {
    background-color: #F5E6D3 !important;
}

/* Story Comments */

#story_pane .NB-story-comment {
    border-bottom: 1px solid rgba(180, 165, 150, .25);
    background: #F7E9D8;
    box-shadow: none;
}

#story_pane .NB-story-comment .NB-story-comment-username {
    color: #1D4BA6;
    text-shadow: 0 1px 0 rgba(180, 165, 150, .25);
}
#story_pane .NB-story-comment .NB-story-comment-date {
    color: #9D9D9D;
}

#story_pane .NB-story-comment .NB-story-comment-content {
    color: #3C3226;
}

#story_pane .NB-story-comment-reply {
    border-top: 1px solid rgba(180, 165, 150, .25);
}

#story_pane .NB-story-comment-reply-content {
    color: #3C3226;
}

#story_pane .NB-story-comment-reply-form .NB-error {
    color: #6A1000;
}

#story_pane .NB-story-comments-public-teaser,
#story_pane .NB-story-comments-public-header,
#story_pane .NB-story-comments-friends-header {
    background-color: #EDE0D0;
    color: white;
    text-shadow: 0 1px 0 rgba(180, 165, 150, .25);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E8D8C5), to(#DDD0C0));
    color: #5C4A3D;
    border-color: #D4C8B8 transparent #C5B8A8;
}
#story_pane .NB-story-comments-shares-teaser {
    background-color: #EDE0D0;
    color: #8B7B6B;
    text-shadow: 0 1px 0 #FFF;
    border-bottom: 1px solid #D4C8B8;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
}

.NB-text-view-premium-only {
    background-color: #F5E6D3;
}
