logs/*.log
*.pyc
static/*
local_settings.py
media/iphone/NewsBlur/build
media/iphone/build
build/
.DS_Store
**/*.perspectivev*
data/
**/*.xcuserstate
UserInterfaceState.xcuserstate
UserInterfaceState\.xcuserstate
*.xcuserstate
xcuserdata
.xcodeproj/ push.xcodeproj/project.pbxproj
*.mode1v3
*.pbxuser
media/maintenance.html