services:
  newsblur_db_elasticsearch:
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms384m -Xmx384m"
      - "CLI_JAVA_OPTS="
      - cluster.routing.allocation.disk.threshold_enabled=false
      - xpack.security.enabled=false
      - bootstrap.memory_lock=false
      - indices.breaker.total.use_real_memory=false
