{% extends "base.html" %}

{% block title %}
registration_form.html | {{ block.super }}
{% endblock %}

{% block header %}
<h1>registration_form.html</h1>
{% endblock %}

{% block content %}
<form action="{% url registration_register %}" method="POST">
<table>
<tr>
    <td align="right" valign="top">Username:</td>
    <td>
        {{ form.username }} <br/>
        {% for error in form.username.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Email:</td>
    <td>
        {{ form.email }} <br/>
        {% for error in form.email.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Password:</td>
    <td>
        {{ form.password1 }} <br/>
        {% for error in form.password1.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td align="right" valign="top">Password (again):</td>
    <td>
        {{ form.password2 }} <br/>
        {% for error in form.password2.errors %}
        <span style="color:red">{{ error }}</span>
        {% endfor %}
    </td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Register" /></td>
</tr>
</table>
</form>
{% endblock %}