<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Text Size</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use system size</string>
			<key>Key</key>
			<string>use_system_font_size</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Feed and story list</string>
			<key>Titles</key>
			<array>
				<string>Extra small</string>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
				<string>Extra Large</string>
			</array>
			<key>DefaultValue</key>
			<string>medium</string>
			<key>Values</key>
			<array>
				<string>xs</string>
				<string>small</string>
				<string>medium</string>
				<string>large</string>
				<string>xl</string>
			</array>
			<key>Key</key>
			<string>feed_list_font_size</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Story detail</string>
			<key>Titles</key>
			<array>
				<string>Extra small</string>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
				<string>Extra Large</string>
			</array>
			<key>DefaultValue</key>
			<string>medium</string>
			<key>Values</key>
			<array>
				<string>xs</string>
				<string>small</string>
				<string>medium</string>
				<string>large</string>
				<string>xl</string>
			</array>
			<key>Key</key>
			<string>story_font_size</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>App badge</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Show unread count</string>
			<key>Titles</key>
			<array>
				<string>Off</string>
				<string>Unread + Focus</string>
				<string>Focus only</string>
			</array>
			<key>DefaultValue</key>
			<string>off</string>
			<key>Values</key>
			<array>
				<string>off</string>
				<string>unread</string>
				<string>focus</string>
			</array>
			<key>Key</key>
			<string>app_unread_badge</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Icon</key>
	<string>AppearanceTemplate</string>
</dict>
</plist>
