apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: U1-fPO3Mk
    access: proxy
    url: http://{% if inventory_hostname == 'db-metrics' %}prometheus{% else %}prometheus-staging{% endif %}.service.nyc1.consul:9090
    isDefault: true
    editable: true
