{% extends 'base.html' %}

{% load typogrify_tags utils_tags zebra_tags %}
{% load social_auth_tags %}

{% block bodyclass %}NB-static NB-static-oauth NB-static-login{% endblock %}
{% block extra_head_js %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $("input[name=username]").focus();
        });
    </script>

  {% include_stylesheets "common" %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="NB-static-card-wrapper">
    <div class="NB-static-card">
        <a href="{% url "index" %}" class="NB-static-card-logo">
            <img src="{{ MEDIA_URL }}img/logo_512.png" />
        </a>
        <h1 class="NB-static-card-title">Log In</h1>
        <p class="NB-static-card-tagline">A personal news reader bringing people together to talk about the world</p>

        {% social_signin_buttons %}
        <form method="post" action="{% url "login" %}">
            {% if form.errors %}
                <div class="NB-static-card-error">
                    {% for field, error in form.errors.items %}
                        {{ error.as_text|cut:"* " }}
                    {% endfor %}
                </div>
            {% else %}{% if next %}
                <div class="NB-static-card-error">Please login to continue.</div>
            {% endif %}{% endif %}

            {% csrf_token %}
            <div class="NB-static-card-field">
                {{ form.username }}
            </div>
            <div class="NB-static-card-field">
                {{ form.password }}
            </div>

            <button type="submit" class="NB-static-card-submit">Log In</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <a href="{% url "signup" %}?next={{ next|urlencode }}" class="NB-static-card-altlink">Create an account</a>
    </div>
</div>

{% endblock %}
