{% extends 'base.html' %}
{% load i18n %}

{% load typogrify_tags utils_tags zebra_tags %}

{% block bodyclass %}NB-static NB-static-oauth NB-static-login{% endblock %}
{% block extra_head_js %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $("input[name=username]").focus();
        });
    </script>

  {% include_stylesheets "common" %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}{% trans "Create an Account" %}{% endblock %}

{% block content %}

<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="NB-static-card-wrapper">
    <div class="NB-static-card">
        <a href="{% url "index" %}" class="NB-static-card-logo">
            <img src="{{ MEDIA_URL }}img/logo_512.png" />
        </a>
        <h1 class="NB-static-card-title">{% trans "Create an Account" %}</h1>
        {% if referrer %}
            <p class="NB-static-card-tagline" style="color: #507C30;">{% trans "Referred by" %} <b>{{ referrer }}</b> &mdash; {% trans "welcome to NewsBlur!" %}</p>
        {% elif gift_code %}
            <p class="NB-static-card-tagline" style="color: #507C30;">{% trans "You've been gifted a premium subscription! Sign up to claim it." %}</p>
        {% else %}
            <p class="NB-static-card-tagline">{% trans "A personal news reader bringing people together to talk about the world" %}</p>
        {% endif %}

        <form method="post" action="{% url "signup" %}">
            {% if form.errors %}
                {% if form.errors.username %}
                    <div class="NB-static-card-error">{{ form.errors.username.as_text }}</div>
                {% else %}{% if form.errors.email %}
                    <div class="NB-static-card-error">{{ form.errors.email.as_text }}</div>
                {% else %}
                    <div class="NB-static-card-error">{{ form.non_field_errors.as_text }}</div>
                {% endif %}{% endif %}
            {% else %}{% if next %}
                <div class="NB-static-card-error">{% trans "Please create an account to continue." %}</div>
            {% else %}{% if recaptcha_error %}
                <div class="NB-static-card-error">{{ recaptcha_error }}</div>
            {% endif %}{% endif %}{% endif %}

            {% csrf_token %}
            <div class="NB-static-card-field">
                {{ form.username }}
            </div>
            <div class="NB-static-card-field">
                {{ form.password }}
            </div>
            <div class="NB-static-card-field">
                {{ form.email }}
            </div>

            <div class="g-recaptcha" data-sitekey="6LchVzcUAAAAAJH4uoEEhvoqgseZnEZC7LToC92E" data-theme="dark"></div>

            <button type="submit" class="NB-static-card-submit">{% trans "Sign Up" %}</button>
            <input type="hidden" name="next" value="{{ next }}" />
            {% if referrer %}<input type="hidden" name="referrer" value="{{ referrer }}" />{% endif %}
            {% if gift_code %}<input type="hidden" name="gift_code" value="{{ gift_code }}" />{% endif %}
        </form>

        <a href="{% url "login" %}?next={{ next|urlencode }}" class="NB-static-card-altlink">{% trans "Login to your account" %}</a>
    </div>
</div>

{% endblock %}
