{% autoescape on %}
{% if providers.apple or providers.google %}
<div class="NB-social-signin">
    <form method="post" action="{% url 'web-social-start' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="hidden" name="referrer" value="{{ referrer }}" />
        <input type="hidden" name="gift_code" value="{{ gift_code }}" />
        {% if providers.apple %}
        <button type="submit" name="provider" value="apple" class="NB-social-signin-button NB-social-signin-apple">
            <img src="{{ MEDIA_URL }}img/icons/phosphor-fill/apple-logo-fill.svg" alt="" width="20" height="20" />
            <span>Sign in with Apple</span>
            {% if last_provider == 'apple' %}<small>Last used</small>{% endif %}
        </button>
        {% endif %}
        {% if providers.google %}
        <button type="submit" name="provider" value="google" class="NB-social-signin-button NB-social-signin-google">
            <img src="{{ MEDIA_URL }}img/reader/google-signin.png" alt="" width="20" height="20" />
            <span>Sign in with Google</span>
            {% if last_provider == 'google' %}<small>Last used</small>{% endif %}
        </button>
        {% endif %}
    </form>
    <div class="NB-social-signin-divider"><span>or</span></div>
</div>
{% endif %}
{% endautoescape %}
