@import "compass/reset";
@import "compass/css3";

$page-width: 700px;
$comment-width: 586px;
$max-story-height: 300px;

$text-color: #333333;
$highlight-text-color: #62a4d3;
$light-text-color: #808080;
$more-text-color: #1a9fff;
$more-text-color-hover: #306187;
$more-text-color-active: #722125;
$border-color: #bdbdbd;

$title-font-size: 21px;
$small-font-size: 14px;
$smallest-font-size: 12px;

$default-text-shadow-color: white;
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;

$default-box-shadow-color: $border-color;
$default-box-shadow-v-offset: 0px;
$default-box-shadow-blur: 1px;


// ==========
// = Mixins =
// ==========

@mixin NC-default-button {
    border: 1px solid $border-color;
    @include border-radius(4px, 4px);
    @include single-box-shadow(white, 0px, 0px, 2px, false, true);
    @include box-shadow(rgba(#999, 0.4) 0 0 5px, white 0 2px 1px inset);
    @include background-image(linear-gradient(white, #f6f6f6));
    color: $light-text-color;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: normal;
    
    &:hover {
        @include background-image(linear-gradient(#f6f6f6, white));
    }
    
    &:active {
        @include background-image(linear-gradient(#e9e9e9, #e9e9e9));
        @include single-box-shadow(#c1c1c1, 0px, 0px, 10px, false, true);
        @include single-text-shadow(0px, -1px, 1px, false, white);
        color: $text-color;
    }
}

@mixin NC-blue-button {
    border: 1px solid #4388b5;
    @include border-radius(4px, 4px);
    @include single-box-shadow(#80c5f2, 0px, 0px, 2px, false, true);
    @include background-image(linear-gradient(#6eb4e3, #4d98d2));
    @include box-shadow(rgba(#999, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset);
    color: white;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: normal;
    
    &:hover {
        @include background-image(linear-gradient(#6bb1e0, #6bb1e0));
    }
    
    &:active {
        @include background-image(linear-gradient(#4d98d2, #4d98d2));
        @include single-box-shadow(#1f74b8, 0px, 0px, 10px, false, true);
    }
}

// ===========
// = Globals =
// ===========

body {
    background: #ebedee image-url('background.png') repeat 0 0;
    font-family: Helvetica, arial, san-serif;
    color: $text-color;
}

a {
    color: $text-color;
    text-decoration: none;
}

.NB-hidden {
  display: none;
}

.NB-left {
  float: left;
}
.NB-right {
  float: right;
}
.NB-raquo {
  font-size: 18px;
  vertical-align: baseline;
  line-height: 12px;
}

.tipsy {
    font-size: 11px;
}
.tipsy-inner {
    padding: 2px 9px 2px;
}

blockquote {
    background-color: #F0F0F0;
    border-left: 1px solid #9B9B9B;
    padding: .5em 2em;
    margin: 0px;
}
.NB-spinner {
    width: 16px;
    height: 16px;
    background: url('/media/embed/reader/recycle_spinner.gif') no-repeat 0 0;
    display: none;
}
.NB-spinner.NB-active {
    display: block;
}

// ==========
// = Header =
// ==========

.NB-page {
    width: $page-width;
    margin: 10px auto;
    margin-bottom: 100px;
}

.NB-header {
    display: none;
}

.NC-watermark-logo {
    margin: 20px auto;
    width: $page-width;
    text-align: center;
    opacity: 0.0;
    height: 60px;
    
    .NB-authenticated & {
        opacity: 0.4;
    }
}

.NC-blue-button {
    @include NC-blue-button;
}


.NC-header {
    @include single-box-shadow(#7d7d7d, 0px, 0px, 10px, false, false);
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10;
    
    .NC-header-inner {
        width: $page-width;
        margin: 0 auto;
        position: relative;
    }

}
.NB-authenticated .NC-header {
    background: #f2f2f2 image-url('header_background_logged_in.png') repeat 0 0;
    height: 44px;
    bottom: 0;
    
    ul {
        margin: 0 70px;
        
        li {
            height: 44px;
            float: left;
            vertical-align: top;
            width: 24%;
            text-transform: uppercase;
            font-size: $smallest-font-size;
            border-right: 1px solid #cdcdcd;
            @include box-sizing(border-box);
            text-align: center;
            font-weight: bold;
            @include single-text-shadow;

            cursor: pointer;
            
            &.NC-active {
                cursor: default;
                background: image-url('header_highlight_border.png') no-repeat center bottom;
                
                div.NC-tab-inner {
                    color: $highlight-text-color;
                }
            }
            
            &:hover {
                div.NC-tab-inner {
                    color: $highlight-text-color;
                }                    
            }
            
            div.NC-tab-inner {
                display: inline-block;
                line-height: 44px;
            }
            
            &:first-child{
                border-left: 1px solid #cdcdcd;
            }
            
            &.NC-user-tab img {
                height: 16px;
                width: 16px;
                @include border-radius(3px, 3px);
            }
            
            img,
            .NC-icon {
                float: left;
                margin-top: 13px;
                margin-right: 7px;
                
            }
            
            &.NC-trending-tab .NC-icon {
                width: 17px;
                height: 17px; 
                background: inline-image('header/icon_trending.png') no-repeat center bottom;
            }
            
            &.NC-active.NC-trending-tab .NC-icon,
            &.NC-trending-tab:hover .NC-icon {
                background: inline-image('header/icon_trending_active.png') no-repeat center bottom;
            }
            
            &.NC-following-tab .NC-icon {
                width: 17px;
                height: 17px; 
                background: inline-image('header/icon_follow.png') no-repeat center bottom;
            }
            
            &.NC-active.NC-following-tab .NC-icon,
            &.NC-following-tab:hover .NC-icon {
                background: inline-image('header/icon_follow_active.png') no-repeat center bottom;
            }
        }
    }
}

.NB-unauthenticated .NC-header {
    background: image-url('header_background_transparent.png') repeat 0 0;
    height: 72px;
    top: 0;

    h1.NC-logo a {
        text-indent: -10000em;
        display: block;
        float: left;
        padding-top: 16px;
    }
    h1.NC-logo a img {
        float: left;
    }
    
    .NC-request-toggle-button {
        float: right;
        @include NC-blue-button;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .NC-logout-button,
    .NC-login-toggle-button {
        float: right;
        @include NC-default-button;
        margin-top: 20px;
        margin-left: 10px;
    }
}

.NC-popover {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 308px;
    opacity: 0;
    display: none;
    
    &.NC-request-popover {
        top: 50px;
        left: 329px;
    }
    
    &.NC-login-popover {
        top: 50px;
        left: 456px;
    }
    
    &.NC-active {
        display: block;
    }
    
    .NC-popover-inner {
        width: 240px;
        padding: 45px 38px 0 30px;
        background: transparent image-url('popover_top.png') no-repeat 0 0;
    }
    
    .NC-popover-bottom {
        background: transparent image-url('popover_bottom.png') no-repeat left bottom;
        height: 40px;
    }

    input {
        border: 1px solid $border-color;
        border: 1px solid #BDBDBD;
        padding: 5px;
        width: 228px;
        margin-bottom: 15px;
        font-size: $small-font-size;
        font-weight: normal;
    }
    
    .NB-error {

        font-size: $smallest-font-size;
        color: #6A1000;
        padding: 15px 0 0;
        font-weight: bold;
        line-height: 140%;
        text-align: center;
        margin: 0 10px;
    }
}    


// =========
// = Story =
// =========

.NB-mark {
    margin: 20px 0 50px 0;
}

.NB-story-wrapper {
    border-left: 1px solid #fff;
    background: #fff;
    @include single-box-shadow(#c8c8c8, 0px, 0px, 5px, false, false);
    position: relative;
    z-index: 1;
    
    .NB-story-inner {
        border-left: 4px solid #fff;
        padding: 25px 25px 15px;
        overflow: hidden;
        position: relative; /* contains all children */
    }
    .NB-story-title {
        a {
            font-size: $title-font-size;
            font-weight: bold;
            line-height: 120%;
            text-decoration: none;
            color: $text-color;
        }
    }
    
    .NB-story-metadata {
        font-size: $small-font-size;
        color: $light-text-color;
        font-weight: normal;
        display: block; /* to ensure that the author is always on one line */
        margin: 5px 0 8px;
    }
    
    .NB-feed {
        margin: 2px 0 10px;
        text-transform: capitalize;
        
        a {
            color: $light-text-color;
            font-size: $smallest-font-size;
        }
    
        img {
            float: left;
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
    }
}

.NB-story {
    font-size: $small-font-size;
    line-height: 140%;
    position: relative;
    overflow: hidden;
    
    .NB-story-content-wrapper {
        max-height: $max-story-height;
        overflow: hidden;
        
        &.NB-story-content-wrapper-height-fudged {
            max-height: none;
        }
    }
    
    
    /* 
        these styles affect all outside content 
    
    */
    .NB-story-content {
        margin: 10px 0;
        
        p {
            margin: 10px 0;
        }

        img {
            margin: 10px 0;
        }
        
        ins {
            text-decoration: none;
            color: inherit;
        }
        
        del {
            display: none;
        }

    }
    
    .NC-story-cutoff {
        position: absolute;
        display: none;
        bottom: 48px;
        left: 0;
        width: 100%;
        height: 14px;
        z-index: 0;
        background: transparent image-url('module_cutoff.png') repeat-x left bottom;
    }
    
    .NB-story-content-expander {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 18px 25px 14px 0;
        width: 100%;
        cursor: pointer;
        color: $more-text-color;
        font-size: $smallest-font-size;
        background: #fff;
        
        &:hover {
            color: $more-text-color-hover;
        }
        &:active {
            color: $more-text-color-active;
        }
        .NB-story-content-expander-text,
        .NB-story-content-expander-pages {
            display: inline-block;
        }
        
        .NB-story-content-expander-pages {
            line-height: 8px;
            padding: 0 12px;
            font-size: 24px;
        }
    }
}

.NB-story-shares-container {
    text-align: right;
    color: $light-text-color;
    font-size: 11px;
    line-height: 16px;
    float: right;
    
    .NB-story-share-label {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
    }
    .NB-story-share-profiles,
    .NB-story-share-profiles-shares-friends,
    .NB-story-share-profiles-shares-public,
    .NB-story-share-profiles-comments-friends,
    .NB-story-share-profiles-comments-public {
        display: inline-block;
    }
    .NB-story-share-profiles-shares-public,
    .NB-story-share-profiles-comments-public {
        opacity: .5;
    }
    .NB-user-avatar {
        display: inline-block;
        margin: 2px 1px 0 2px;
        
        img {
            @include single-box-shadow;
            width: 16px;
            height: 16px;
            display: block;
        }
    }
}

.NB-story-comments-container {
    font-size: $small-font-size;
    z-index: 10;
    margin: 0 30px;
    background: #EAEAEA;
    border: 1px solid #CCC;
    padding: 0 20px;
    border-top: 0;

    .NB-user-avatar img,
    img.NB-user-avatar {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 15px;
        left: 0;
         @include border-radius(3px, 3px);
         /* @include single-box-shadow; gets in the way of transparent PNGs */
    }
    
    .NB-user-avatar.NB-story-comment-reshare img {
        top: 27px;
        left: 0px;
        z-index: 2;
        width: 24px;
        height: 24px;
    }

    .NB-story-comment {
        padding: 15px 0 18px 44px;
        border-bottom: 1px solid $border-color;
        position: relative;
        min-height: 32px;
        
        &:last-child {
            border: 0;
        }

        .NB-story-comment-username {
            float: left;
            font-size: $smallest-font-size;
            font-weight: bold;
        }
        
        .NB-story-comment-date {
            float: right;
            font-size: $smallest-font-size;
            color: $light-text-color;
            @include single-text-shadow;
        }
        
        .NB-story-comment-location {
            float: left;
            font-size: $smallest-font-size;
            color: $light-text-color;
            @include single-text-shadow;
            margin-left: 15px;
        } 
        
        .NB-story-comment-reply-button,
        .NB-story-comment-edit-button {
            display: none; 
        }
        
        .NB-story-comment-content {
            padding-top: 4px;
            line-height: 18px;
            clear: both;
        }
                
        .NB-story-comment-reshares .NB-user-avatar img {
            top: 15px;
            left: 12px;
            z-index: 1;
            width: 20px;
            height: 20px;
        }
    }
    
    .NB-story-comment-reply {
        margin-top: 15px;
        padding: 15px 0 0px 44px;
        border-top: 1px solid $border-color;
        position: relative;
        min-height: 32px;
        
        .NB-story-comment-reply-content {
            padding-top: 4px;
            line-height: 18px;
            clear: both;
        }
    }
    
    .NB-story-comment-input {
        width: 371px;
        height: 16px;
        font-size: 12px;
        padding: 6px 4px;
        margin-top: 1px;
        border: 1px solid $border-color;
    }
    
    .NB-story-comment-buttons {
        .NB-story-comment-save {
            position: absolute;
            top: 16px;
            right: 0;
            width: 140px;
            @include NC-default-button;
        }
        
        .NB-story-comment-delete {
            display: none;
        }
    }
    
    .NB-story-comments-public-header-wrapper {
        color: $light-text-color;
        font-size: $smallest-font-size;
        border-bottom: 1px solid $border-color;
        padding: 3px 0;
    }
}

.NB-page-controls-next,
.NB-page-controls-end {
    
    &.NB-loaded {
        display: none;
    }
    
    background-color: #6eb4e3;
    @include NC-blue-button;
    position: relative;
    overflow: hidden;
    
    -webkit-transition: all .12s ease-out;
    -moz-transition: all .12s ease-out;
    -o-transition: all .12s ease-out;
    -ms-transition: all .12s ease-out;
    
    .NB-page-controls-text {
        position: absolute;
        left: 0;
        width: 100%;
        margin-bottom: -15px;
        bottom: 20px;
    }
}

.NB-page-controls-end {
    @include NC-default-button;
}