@import "compass/reset";
@import "compass/css3";

$page-width: 700px;
$comment-width: 586px;
$max-story-height: 300px;

$text-color: #333333;
$link-color: #22258C;
$link-color-hover: #740417;
$link-color-active: #550B14;
$highlight-text-color: #62a4d3;
$light-text-color: #808080;
$lighter-text-color: #A0A0A0;
$more-text-color: #1a9fff;
$more-text-color-hover: #306187;
$more-text-color-active: #722125;
$border-color: #bdbdbd;

$title-font-size: 21px;
$small-title-font-size: 16px;
$small-font-size: 14px;
$smallest-font-size: 12px;
$smallest-iphone-font-size: 11px;
$tiny-font-size: 11px;
$tiny-iphone-font-size: 10px;

$default-text-shadow-color: white;
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;
$default-box-shadow-color: $border-color;
$default-box-shadow-v-offset: 0px;
$default-box-shadow-blur: 1px;

// ==========
// = Mixins =
// ==========

@mixin NB-default-button {
    border: 1px solid $border-color;
    @include border-radius(4px, 4px);
    @include single-box-shadow(white, 0px, 0px, 2px, false, true);
    @include box-shadow(rgba(#999, 0.4) 0 0 5px, white 0 2px 1px inset);
    @include background-image(linear-gradient(white, #f6f6f6));
    color: $light-text-color;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: normal;
    
    &:hover {
        @include background-image(linear-gradient(#f6f6f6, white));
    }
    
    &:active {
        @include background-image(linear-gradient(#e9e9e9, #e9e9e9));
        @include single-box-shadow(#c1c1c1, 0px, 0px, 10px, false, true);
        @include single-text-shadow(0px, -1px, 1px, false, white);
        color: $text-color;
    }
}

@mixin NB-blue-button {
    border: 1px solid #4388b5;
    @include border-radius(4px, 4px);
    @include single-box-shadow(#80c5f2, 0px, 0px, 2px, false, true);
    @include background-image(linear-gradient(#6eb4e3, #4d98d2));
    @include box-shadow(rgba(#999, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset);
    color: white;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: normal;
    
    &:hover {
        @include background-image(linear-gradient(#6bb1e0, #6bb1e0));
    }
    
    &:active {
        @include background-image(linear-gradient(#4d98d2, #4d98d2));
        @include single-box-shadow(#1f74b8, 0px, 0px, 10px, false, true);
    }
}

// ===========
// = Globals =
// ===========

body {
    background: #ebedee image-url('background.png') repeat 0 0;
    font-family: Helvetica, arial, sans-serif;
    color: $text-color;
    
    @media screen and ( max-width: 480px) {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

a {
    color: $link-color;
    text-decoration: none;
    
    &:hover {
        color: $link-color-hover;
    }
    &:active {
        color: $link-color-active;
    }
}

.NB-hidden {
  display: none;
}

.NB-left {
  float: left;
}
.NB-right {
  float: right;
}
.NB-raquo {
  font-size: 18px;
  vertical-align: baseline;
  line-height: 12px;
}

.tipsy {
    font-size: 11px;
}
.tipsy-inner {
    padding: 2px 9px 2px;
}

blockquote {
    background-color: #F0F0F0;
    border-left: 1px solid #9B9B9B;
    padding: .5em 2em;
    margin: 10px;
}
.NB-spinner {
    width: 16px;
    height: 16px;
    background: url('/media/embed/reader/recycle_spinner.gif') no-repeat 0 0;
    display: none;
    float: right;
    margin-top: -2px;
}
.NB-spinner.NB-active {
    display: block;
}
.tipsy {
    .tipsy-arrow {
        display: none;
    }
}

// ========
// = Page =
// ========

.NB-container {
    background: transparent;
    width: 100%;
    height: 100%;
    padding-top: 36px;
}

// ==========
// = Header =
// ==========

.NB-page {
    max-width: $page-width;
    min-width: 300px;
    margin: 36px auto 54px;
    padding: 0 10px;
}

.NB-watermark-logo {
    margin: 20px auto;
    max-width: $page-width;
    min-width: 300px;
    text-align: center;
    opacity: 0.0;
    height: 60px;
    
    @media screen and ( max-width: 480px) {
        height: 40px;
        margin: 10px auto;
    }
    
    .NB-authenticated & {
        opacity: 0.4;
    }
}

.NB-blue-button {
    @include NB-blue-button;
}
.NB-grey-button {
    @include NB-default-button;
}


.NB-header {
    @include single-box-shadow(#7d7d7d, 0px, 0px, 10px, false, false);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    position: fixed;
    @include background-image(linear-gradient(#f3f3f3, #f3f3f3 70%, #e0e0e0));
    height: 44px;
    bottom: 0;
    
    @media screen and ( max-width: 480px) {
        position: absolute;
        height: 60px;
    }
    
    .NB-header-inner {
        max-width: $page-width;
        min-width: 300px;
        margin: 0 auto;
    }
    
    ul {
        margin: 0 70px;
        
        @media screen and ( max-width: 480px) {
            margin: 0 0;
        }

        li {
            height: 44px;
            float: left;
            vertical-align: top;
            width: 25%;
            text-transform: uppercase;
            font-size: $smallest-font-size;
            border-right: 1px solid #cdcdcd;
            @include box-sizing(border-box);
            text-align: center;
            font-weight: bold;
            @include single-text-shadow;
            cursor: pointer;
            
            &:first-child{
                border-left: 1px solid #cdcdcd;
            }
            
            @media screen and (max-width: 480px) {
                height: 60px;
                font-size: $smallest-iphone-font-size;
                
                &:last-child {
                    border-right: none;
                }
                &:first-child{
                    border-left: none;
                }
            }
            
            &.NB-active {
                cursor: default;
                background: image-url('header_highlight_border.png') no-repeat center bottom;
                
                div.NB-tab-inner {
                    color: $highlight-text-color;
                }
            }
            
            &:hover {
                div.NB-tab-inner {
                    color: $highlight-text-color;
                }                    
            }
            
            div.NB-tab-inner {
                display: inline-block;
                line-height: 44px;
                
                @media screen and (max-width: 480px) {
                    line-height: 28px;
                }
            }
            
            img.NB-arrow {
                float: right;
                margin-right: -8px;
                margin-left: 4px;
                
                @media screen and (max-width: 480px) {
                    display: none;
                }
            }
            img.NB-user-avatar {
                height: 16px;
                width: 16px;
                @include border-radius(3px, 3px);
            }
            
            img,
            .NB-icon {
                float: left;
                margin-top: 13px;
                margin-right: 7px;
                width: 17px;
                height: 17px; 

                @media screen and (max-width: 480px) {
                    float: none;
                    display: block;
                    margin: 10px auto 0;
                }
            }
            
            &.NB-blurblog-tab .NB-icon {
                background: image-url('header/icon_activity.png') no-repeat center bottom;
                background-size: 17px;
            }
            
            &.NB-active.NB-blurblog-tab .NB-icon,
            &.NB-blurblog-tab:hover .NB-icon {
                background: image-url('header/icon_activity_active.png') no-repeat center bottom;
                background-size: 17px;
            }
            
            &.NB-trending-tab .NB-icon {
                background: image-url('header/icon_trending.png') no-repeat center bottom;
                background-size: 17px;
            }
            
            &.NB-active.NB-trending-tab .NB-icon,
            &.NB-trending-tab:hover .NB-icon {
                background: image-url('header/icon_trending_active.png') no-repeat center bottom;
                background-size: 17px;
            }
            
            &.NB-following-tab .NB-icon {
                background: image-url('header/icon_follow.png') no-repeat center bottom;
                background-size: 17px;
            }
            
            &.NB-active.NB-following-tab .NB-icon,
            &.NB-following-tab:hover .NB-icon {
                background: image-url('header/icon_follow_active.png') no-repeat center bottom;
                background-size: 17px;
            }
            
            &.NB-circular-tab .NB-icon {
                background: image-url('header/icon_circular.png') no-repeat center bottom;
                background-size: 17px;
            }
            
            &.NB-active.NB-circular-tab .NB-icon,
            &.NB-circular-tab:hover .NB-icon {
                background: image-url('header/icon_circular_active.png') no-repeat center bottom;
                background-size: 17px;
            }
        }
    }
}

// ===========
// = Popover =
// ===========

.NB-popover {
    display: none;
    position: absolute;
    z-index: 2;
    width: 308px;
    @include border-radius(8px, 8px);
    @include box-shadow(rgba(#333, 0.3) 0 0 2px, rgba(#333, 0.3) 0 3px 8px inset);
    @include background-image(linear-gradient(white, #E6EBF0));
    text-shadow: 0 1px 0 white;
    font-size: 14px;
    opacity: 0;
    
    &.NB-request-popover {
        top: 50px;
        left: 329px;
    }
    
    &.NB-login-popover {
        top: 50px;
        left: 456px;
    }
    
    &.NB-active {
        display: block;
    }
    
    .NB-arrow {
        position: absolute;
        background: transparent image-url('popover/arrow.png') no-repeat 0 0;
        background-size: 26px 17px;
    }

    input {
        border: 1px solid $border-color;
        border: 1px solid #BDBDBD;
        padding: 5px;
        width: 228px;
        margin-bottom: 15px;
        font-size: $small-font-size;
        font-weight: normal;
    }
    
    .NB-error {
        font-size: $smallest-font-size;
        color: #6A1000;
        padding: 15px 0 0;
        font-weight: bold;
        line-height: 140%;
        text-align: center;
        margin: 0 10px;
    }
}    

// ==========
// = Banner =
// ==========

.NB-banner {
    padding: 12px 0 24px 0;
    overflow: hidden;

    @media screen and (max-width: 480px) {
        padding: 24px 0;
    }

    .NB-banner-table {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .NB-banner-table td {
        text-align: left;
    }

    .NB-title-photo {
        vertical-align: top;
        padding: 0 18px 0 0;
        z-index: 2;
        position: relative;
    }
    .NB-title-photo img {
        max-width: 108px;
        max-height: 108px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, .5);
    }
    @media all and (max-width: 480px) {
        .NB-title-photo img {
            max-width: 72px;
            max-height: 72px;
        }
        .NB-banner-right {
            display: none;
        }
    }
    .NB-title {
        vertical-align: middle;
        width: 100%;
        font-weight: bold;
        margin: 0;
        position: relative;
        text-shadow: 1px 1px 0 #E0E0E0;
    }
    .NB-title-content {
        padding: 0 0 12px;
        z-index: 1;
        position: relative;
    }
    .NB-title .NB-title-name {
        font-size: 28px;
        line-height: 28px;
    }
    .NB-title.NB-title-no-bio .NB-title-name {
        margin-bottom: 6px;
    }
    .NB-title .NB-title-name a {
        text-decoration: none;
        color: #202020;
    }
    .NB-title .NB-title-name a:hover {
        text-decoration: none;
        color: #182066;
    }
    .NB-title .NB-title-location {
        float: left;
        color: #F0F0F0;
        text-shadow: none;
        background-color: #C0C0C0;
        border-radius: 8px;
        font-size: 12px;
        display: block;
        padding: 2px 8px 1px;
        margin: 4px 16px 0 0;
        text-transform: uppercase;
    }
    .NB-title .NB-title-bio {
        clear: left;
        color: $lighter-text-color;
        font-size: $small-title-font-size;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
        line-height: 22px;
        padding-top: 6px;
    }
    .NB-button-follow,
    .NB-button-following {
        width: 108px;
        padding-left: 0;
        padding-right: 0;
    }
    .NB-button-follow {
    }
    .NB-button-following {
        @include NB-blue-button;
        padding: 2px 0;
    }
}

/* ================ */
/* = Right banner = */
/* ================ */

.NB-banner-right {
    z-index: 1;
    vertical-align: middle;
    padding: 0 0 6px 12px;
    white-space: nowrap;
    
    .NB-banner-stats {
        font-size: 14px;
        font-weight: bold;
        color: $lighter-text-color;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
        
        .NB-banner-stat {
            float: left;
            border-right: 1px solid rgba(0, 0, 0, .3);
            border-left: 1px solid rgba(255, 255, 255, .6);
            padding: 6px 12px;
            
            &:first-child {
                border-left: none;
                padding-left: 0;
            }
            &:last-child {
                border-right: none;
            }
            b {
                color: $text-color;
                display: block;
                margin: 0 0 2px;
                font-size: 20px;
            }
        }
    }
}

// =========
// = Story =
// =========

.NB-shared-story {
    margin: 20px 0 50px 0;
}

.NB-story {
    border-left: 4px solid #6A6A6A;
    border-right: 4px solid #6A6A6A;
    background: #fff;
    @include single-box-shadow(rgba(0, 0, 0, .15), 0px, 0px, 10px, false, false);
    position: relative;
    z-index: 1;
    
    .NB-story-inner {
        border-left: 1px solid #525252;
        border-right: 1px solid #525252;
        padding: 25px 25px 15px;
        overflow: hidden;
        position: relative; /* contains all children */
        
        @media screen and ( max-width: 480px) {
            padding: 12px 12px 15px;
        }
    }
    
    .NB-story-title {
        .NB-story-title-link {
            font-size: $title-font-size;
            font-weight: bold;
            line-height: 120%;
            text-decoration: none;
            color: $text-color;
            
            @media screen and ( max-width: 480px) {
                font-size: $small-title-font-size;
            }
        }
        .NB-story-permalink {
            a {
                color: $light-text-color;
            }
        }
    }
    
    .NB-story-author {
        color: $light-text-color;
        white-space: nowrap;
    }
    
    .NB-story-metadata {
        font-size: $small-font-size;
        color: $light-text-color;
        font-weight: normal;
        display: block;
        margin: 5px 0 8px;
        
        @media screen and ( max-width: 480px) {
            font-size: $smallest-font-size;
        }
    }
    
    .NB-feed {
        margin: 2px 10px 10px 0;
        text-transform: capitalize;
        float: left;
        white-space: nowrap;
        
        .NB-feed-favicon,
        .NB-feed-title {
            float: left;
        }
        
        
        @media screen and ( max-width: 480px)    {
            clear: both;
        }

        a {
            display: inline-block;
            color: $light-text-color;
            font-size: $smallest-font-size;
            
            @media screen and ( max-width: 480px) {
                font-size: $smallest-iphone-font-size;
            }
        }

        img {
            float: left;
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }
    }
}

.NB-story-content-wrapper {
    max-height: $max-story-height;
    position: relative;
    clear: both;

    &.NB-story-content-wrapper-height-fudged {
        max-height: none;
    }
    
    .NB-story-content-expander {
        display: none;
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 100%;
        cursor: pointer;
        color: $more-text-color;
        font-size: $smallest-font-size;
        background: #fff;
        
        .NB-story-content-expander-inner {
            position: relative;
            padding: 18px 25px 14px 0;
        }
        
        &:hover {
            color: $more-text-color-hover;
        }
        &:active {
            color: $more-text-color-active;
        }
        
        .NB-story-cutoff {
            position: absolute;
            top: -14px;
            left: 0;
            width: 100%;
            height: 14px;
            z-index: 0;
            background: transparent image-url('module_cutoff.png') repeat-x left bottom;
        }
        
        .NB-story-content-expander-text,
        .NB-story-content-expander-pages {
            display: inline-block;
        }
        
        .NB-story-content-expander-pages {
            line-height: 8px;
            padding: 0 12px;
            font-size: 24px;
            
            @media screen and ( max-width: 480px)    {
                padding: 0 4px;
                font-size: 16px;
            }
        }
    }
}

.NB-story-content {
    font-size: $small-font-size;
    line-height: 140%;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    
    @media screen and ( max-width: 480px)    {
        font-size: $smallest-font-size;
        line-height: 160%;
    }
        
    p {
        margin: 10px 0;
    }
    
    img {
        margin: 10px 0;
        max-width: 100% !important;
        height: auto !important;
    }
    
    ins {
        text-decoration: none;
        color: inherit;
    }
    
    del {
        display: none;
    }
    
}

// ==========
// = Shares =
// ==========

.NB-story-shares-container {
    text-align: right;
    color: $light-text-color;
    font-size: $smallest-font-size;
    line-height: 16px;
    float: right;
    
    @media screen and ( max-width: 480px)    {
        float: none;
        text-align: left;
        font-size: $smallest-iphone-font-size;
    }
    
    .NB-story-share-label {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
    }
    
    .NB-story-share-profiles,
    .NB-story-share-profiles-shares-friends,
    .NB-story-share-profiles-shares-public,
    .NB-story-share-profiles-comments-friends,
    .NB-story-share-profiles-comments-public {
        display: inline;
    }
    
    .NB-story-share-profiles-shares-public,
    .NB-story-share-profiles-comments-public {
        opacity: .5;
    }
    
    .NB-user-avatar {
        display: inline-block;
        margin: 2px 1px 0 2px;
        
        @media screen and ( max-width: 480px)    {
            margin: 2px 3px 0 0px;
        }
    
        img {
            @include single-box-shadow;
            width: 16px;
            height: 16px;
            display: block;
        }
    }
    

}

.NB-story-comments-container {
    font-size: $small-font-size;
    z-index: 10;
    margin: 0 30px;
    background: #f6f6f6;
    border: 1px solid #CCC;
    padding: 0 20px;
    border-top: 0;

    @media screen and ( max-width: 480px)    {
       margin: 0 10px;
       padding: 0 10px;
       font-size: $smallest-iphone-font-size;
       
       .NB-story-comment-edit {
           display: none;
       }
    }

    .NB-user-avatar img,
    img.NB-user-avatar {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 15px;
        left: 0;
         @include border-radius(3px, 3px);
         /* @include single-box-shadow; gets in the way of transparent PNGs */
         
        @media screen and ( max-width: 480px)    {
            height: 24px;
            width: 24px;
            top: 8px;
        }
    }
    
    
    .NB-user-avatar.NB-story-comment-reshare img {
        top: 27px;
        left: 0px;
        z-index: 2;
        width: 24px;
        height: 24px;
        
        @media screen and ( max-width: 480px)    {
            height: 24px;
            width: 24px;
            top: 8px;
        }
    }

    .NB-story-comment {
        margin-top: -1px;
        padding: 15px 0 18px 44px;
        border-top: 1px solid $border-color;
        position: relative;
        min-height: 32px;
        @media screen and ( max-width: 480px)    {
            padding: 8px 0 8px 34px;
        }
        
        .NB-story-comment-username {
            float: left;
            font-size: $smallest-font-size;
            font-weight: bold;
        }
        
        .NB-story-comment-date {
            float: right;
            margin-left: 6px;
            font-size: $smallest-font-size;
            color: $light-text-color;
            @include single-text-shadow;
            @media screen and (max-width: 480px) {
                padding-top: 1px;
                font-size: $smallest-iphone-font-size;
            }
        }
        
        .NB-story-comment-location {
            font-size: $tiny-font-size;
            color: $lighter-text-color;
            padding-top: 10px;
            text-transform: uppercase;
            @include single-text-shadow;
            @media screen and (max-width: 480px) {
                font-size: $tiny-iphone-font-size;
                padding-top: 4px;
            }
        } 
        
        .NB-story-comment-content {
            padding-top: 4px;
            line-height: 18px;
            clear: both;
        }
                
        .NB-story-comment-reshares .NB-user-avatar img {
            top: 15px;
            left: 12px;
            z-index: 1;
            width: 20px;
            height: 20px;
            
            @media screen and ( max-width: 480px)    {
                display: none;
            }
        }
    }
    
    .NB-story-comment-reply {
        margin-top: 15px;
        padding: 15px 0 0px 44px;
        border-top: 1px solid $border-color;
        position: relative;
        min-height: 32px;
        
        @media screen and ( max-width: 480px)    {
            margin-top: 6px;
            padding: 6px 0 0px 32px
        }
        
        .NB-story-comment-reply-content {
            padding-top: 4px;
            line-height: 18px;
            clear: both;
        }
    }
    
    .NB-story-comment-button {
        margin-top: -6px;
        padding: 4px 6px;
        float: right;
        cursor: pointer;
        
        .NB-story-comment-button-wrapper {
            text-transform: uppercase;
            background-color: #E9AF86;
            border-top: 1px solid rgba(255, 255, 255, .15);
            border-left: 1px solid rgba(255, 255, 255, .15);
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            border-right: 1px solid rgba(0, 0, 0, .1);
            text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
            color: white;
            padding: 2px 4px 1px;
            line-height: 10px;
            font-size: 9px;
            @media screen and ( max-width: 480px)    {
                margin-top: 2px;
                padding-top: 1px;
            }
        }

        .NB-story-comment-reply-button-wrapper {
            background-color: #E9AF86;
        }
        &:hover .NB-story-comment-reply-button-wrapper {
            background-color: #DE772B;
        }
        &:active .NB-story-comment-reply-button-wrapper {
            background-color: #9F3A00;
        }

        .NB-story-comment-edit-button-wrapper {
            background-color: #74A2E7;
        }
        &:hover .NB-story-comment-edit-button-wrapper {
            background-color: #5073BC;
        }
        &:active .NB-story-comment-edit-button-wrapper {
            background-color: #2A3B72;
        }
    }
    
    .NB-story-comment-input {
        width: 371px;
        height: 16px;
        font-size: 12px;
        padding: 6px 4px;
        margin-top: 1px;
        border: 1px solid $border-color;
    }
    
    .NB-story-comment-reply-form {
        padding-top: 11px;
        
        .NB-story-comment-reply-username {
            margin: 12px 8px 6px 0;
        }
        .NB-story-comment-reply-comments {
            margin: 6px 8px 4px 0;
            width: 50%;
            display: block;
            float: left;
            font-size: 12px;
            height: 20px;
        }
        .NB-modal-submit-button {
            float: left;
            margin: 4px 4px 0 0;
            @include NB-default-button;
            
            &:last-child {
                margin-right: 0;
            }
        }
        .NB-error {
            font-size: 10px;
            color: #6A1000;
            padding: 4px 0 0;
            line-height: 14px;
            font-weight: bold;
            clear: both;
        }
    }

    .NB-story-comment-buttons {
        .NB-story-comment-save {
            position: absolute;
            top: 16px;
            right: 0;
            width: 140px;
            @include NB-default-button;
        }
        
        .NB-story-comment-delete {
            display: none;
        }
    }
    
    .NB-story-comments-public-header-wrapper {
        color: $light-text-color;
        font-size: $smallest-font-size;
        border-bottom: 1px solid $border-color;
        padding: 3px 0;
    }
    
    .NB-story-comment-likes {
        overflow: hidden;
        height: 14px;
        margin: 3px 2px 0;
    }
    .NB-story-comment-like {
        float: right;
        width: 16px;
        background: transparent url('/media/embed/reader/star_grey.png') no-repeat center 0;
        text-transform: uppercase;
        padding: 1px 6px 1px 6px;
        height: 11px;

        &:hover,
        &.NB-active {
            cursor: pointer;
            background: transparent url('/media/embed/reader/star_green.png') no-repeat center 0;
        }
        &:active {
            cursor: pointer;
        }
    }
    .NB-story-comment-likes-users {
        .NB-user-avatar {
            float: right;
            width: auto;
            height: auto;
            margin-left: 4px;
            
            img {
                position: static;
                width: 12px;
                height: 12px;
            }
        }

    }
}

// ==========
// = Footer =
// ==========

.NB-page-controls {
    margin: 0 auto 54px;
    border-top: 2px solid #626262;
    border-bottom: 2px solid #626262;
    padding: 1px 0;
    text-align: center;
    overflow: hidden;
}

.NB-page-controls-next,
.NB-page-controls-end {
    background-color: #6eb4e3;
    height: 20px;
    padding: 20px 28px 20px;
    position: relative;
    overflow: hidden;
    text-shadow: 0 1px 0 #141F48;
    
    -webkit-transition: all .12s ease-out;
    -moz-transition: all .12s ease-out;
    -o-transition: all .12s ease-out;
    -ms-transition: all .12s ease-out;
    
    .NB-page-controls-text {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20px;
        bottom: 20px;
        font-size: 20px;
        color: white;
    }
    
    &:hover {
        background-color: #2B478C;
        background-image: none;
        cursor: pointer;
    }
    &.NB-loaded {
        cursor: default;
    }
    &.NB-loading {
        cursor: wait;
    }
}

.NB-page-controls-end {
    background-color: #3B3E49;
    cursor: default;
    height: auto;
    margin-bottom: 0;

    .NB-page-controls-text {
        height: auto;
        position: static;
    }
    &:hover {
        background-color: #3B3E49;
        background-image: none;
        cursor: default;
    }
}

footer {
    overflow: hidden;
    background-color: rgba(240, 240, 230, .4);
    text-align: center;
    border-top: 1px solid #C0C0C0;
}
.NB-footer-logo {
    border-top: 1px solid #FFF;
}
.NB-footer-logo img {
    margin: 36px auto;
    border: none;
}