<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newsblur"
    android:versionCode="1"
    android:versionName="0.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/newsblur"
        android:theme="@style/NewsBlurTheme" >
        <activity
            android:name=".activity.Login"
            android:noHistory="true"
            android:label="@string/newsblur" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.Main"
            android:label="@string/newsblur"
            android:hardwareAccelerated="false" />
        
        <activity
            android:name=".activity.Profile"
            android:label="@string/profile" 
            android:hardwareAccelerated="false" />

        <service android:name=".service.SyncService" />

        <provider
            android:name=".database.FeedProvider"
            android:authorities="com.newsblur"
            android:exported="true"
            android:multiprocess="true" />
    </application>

</manifest>