---
# File: main.yml - Handlers for Consul

- name: reload consul configuration
  become: yes
  service:
    name: consul
    state: reloaded
  listen: reload consul

- name: reload postgres config
  become: yes
  command: docker exec -u postgres postgres pg_ctl reload
  listen: reload postgres
