---
- name: Template grafana config
  become: yes
  template:
    src: /srv/newsblur/docker/grafana/grafana.ini.j2
    dest: /srv/newsblur/docker/grafana/grafana.ini
  notify: restart grafana

- name: Template grafana datasource config
  become: yes
  template:
    src: /srv/newsblur/docker/grafana/datasources/datasource.yaml.j2
    dest: /srv/newsblur/docker/grafana/datasources/datasource.yaml
  notify: restart grafana

- name: Create grafana directories
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    owner: nb
    group: nb
    mode: "0755"
  loop:
    - /srv/newsblur/docker/grafana/datasources
    - /srv/newsblur/docker/grafana/alerting
    - /srv/newsblur/docker/grafana/alerting/contact-points
    - /srv/newsblur/docker/grafana/alerting/rules

- name: Template grafana alert contact points
  become: yes
  template:
    src: /srv/newsblur/docker/grafana/alerting/contact-points/email.yaml.j2
    dest: /srv/newsblur/docker/grafana/alerting/contact-points/email.yaml
  notify: restart grafana
  tags:
    - grafana-alerts

- name: Copy grafana notification policy
  become: yes
  copy:
    src: /srv/newsblur/docker/grafana/alerting/notification-policy.yaml
    dest: /srv/newsblur/docker/grafana/alerting/notification-policy.yaml
  notify: restart grafana
  tags:
    - grafana-alerts

- name: Register grafana in consul
  tags: consul
  become: yes
  template:
    src: consul_service.json
    dest: /etc/consul.d/grafana.json
  notify:
    - reload consul

- name: Start grafana container
  become: yes
  docker_container:
    pull: true
    name: grafana
    image: grafana/grafana:12.2.1
    restart_policy: unless-stopped
    hostname: "{{ inventory_hostname }}"
    user: root
    networks_cli_compatible: yes
    networks:
      - name: newsblurnet
    ports:
      - "3000:3000"
    volumes:
      - /srv/newsblur/docker/grafana/grafana.ini:/etc/grafana/grafana.ini
      - /srv/newsblur/docker/volumes/grafana_data:/var/lib/grafana
      - /srv/newsblur/docker/grafana/datasources/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
      - /srv/newsblur/docker/grafana/dashboards/:/etc/grafana/provisioning/dashboards/
      - /srv/newsblur/docker/grafana/alerting/:/etc/grafana/provisioning/alerting/

- name: Install sentry pluging
  shell: >
    docker exec grafana grafana-cli plugins install grafana-sentry-datasource

- name: Restart grafana
  debug:
    msg: Restarting grafana
  changed_when: yes
  notify:
    - restart grafana
