- name: Copy common secrets
  become: yes
  copy:
    src: /srv/secrets-newsblur/settings/common_settings.py
    dest: /srv/newsblur/newsblur_web/local_settings.py

- name: Ensure postgres-exporter tasks directory exists
  become: yes
  file:
    path: /srv/newsblur/ansible/roles/postgres-exporter/tasks
    state: directory

- name: Copy get_credentials script
  become: yes
  copy:
    src: get_credentials.py
    dest: /srv/newsblur/ansible/roles/postgres-exporter/tasks/get_credentials.py
    mode: '0755'

- name: Register Postgres user and password
  become: yes
  run_once: yes
  register: postgres_credentials
  command: docker run --rm -v /srv/newsblur:/srv/newsblur newsblur/newsblur_python3 python3 /srv/newsblur/ansible/roles/postgres-exporter/tasks/get_credentials.py postgres_credentials
  changed_when: false

- name: Start postgres-exporter container
  become: yes
  docker_container:
    name: postgres-exporter
    image: prometheuscommunity/postgres-exporter
    restart_policy: unless-stopped
    container_default_behavior: no_defaults
    networks_cli_compatible: yes
    network_mode: default
    networks:
      - name: newsblurnet
    env:
      DATA_SOURCE_NAME: "postgresql://{{ postgres_credentials.stdout }}@db-postgres.service.nyc1.consul:5432/postgres?sslmode=disable"
    ports:
      - "9187:9187"

- name: Register postgres-exporter in consul
  tags: consul
  become: yes
  template:
    src: consul_service.json
    dest: /etc/consul.d/postgres-exporter.json
  notify:
    - reload consul
