- name: Make docker network for newsblurnet
  become: yes
  docker_network:
    name: newsblurnet
  notify: restart docker

- name: Register Postgres user and password
  become: no
  run_once: yes
  register: postgres_credentials
  local_action: command /srv/newsblur/ansible/roles/postgres-exporter/tasks/get_postgres_credentials.py
- name: Start postgres-exporter container
  become: yes
  docker_container:
    name: postgres-exporter
    image:  prometheuscommunity/postgres-exporter
    restart_policy: unless-stopped
    container_default_behavior: no_defaults
    networks_cli_compatible: yes
    network_mode: default
    networks:
      - name: newsblurnet
    env:
      DATA_SOURCE_NAME: 'postgresql://{{ postgres_credentials }}@db-postgres.service.nyc1.consul:5432/postgres'
    ports:
    - '9187:9187'

- name: Register postgres-exporter in consul
  tags: consul
  become: yes
  template:
    src: consul_service.json
    dest: /etc/consul.d/postgres-exporter.json
  notify:
    - reload consul