.NB-body-status {
    overflow: auto;
}

.NB-status {
  margin: 48px;
}
.NB-status th {
  padding: 0 6px 0 0;
}
.NB-status .NB-favicon {
  width: 16px;
  height: 16px;
}
.NB-status .NB-status-update {
  line-height: 12px;
  font-size: 11px;
}
.NB-status td {
  border-top: 1px solid #F0F0F0;
  margin: 0;
  padding: 0 0;
  max-width: 300px;
}
