<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Story list</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Story order</string>
			<key>Titles</key>
			<array>
				<string>Newest first</string>
				<string>Oldest first</string>
			</array>
			<key>DefaultValue</key>
			<string>newest</string>
			<key>Values</key>
			<array>
				<string>newest</string>
				<string>oldest</string>
			</array>
			<key>Key</key>
			<string>default_order</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Stories in a folder</string>
			<key>Titles</key>
			<array>
				<string>All stories</string>
				<string>Unread only</string>
			</array>
			<key>DefaultValue</key>
			<string>unread</string>
			<key>Values</key>
			<array>
				<string>all</string>
				<string>unread</string>
			</array>
			<key>Key</key>
			<string>default_folder_read_filter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Stories in a site</string>
			<key>Titles</key>
			<array>
				<string>All stories</string>
				<string>Unread only</string>
			</array>
			<key>DefaultValue</key>
			<string>all</string>
			<key>Values</key>
			<array>
				<string>all</string>
				<string>unread</string>
			</array>
			<key>Key</key>
			<string>default_feed_read_filter</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Text Size</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use system size</string>
			<key>Key</key>
			<string>use_system_font_size</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Feed and story list</string>
			<key>Titles</key>
			<array>
				<string>Extra small</string>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
				<string>Extra Large</string>
			</array>
			<key>DefaultValue</key>
			<string>medium</string>
			<key>Values</key>
			<array>
				<string>xs</string>
				<string>small</string>
				<string>medium</string>
				<string>large</string>
				<string>xl</string>
			</array>
			<key>Key</key>
			<string>feed_list_font_size</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Story detail</string>
			<key>Titles</key>
			<array>
				<string>Extra small</string>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
				<string>Extra Large</string>
			</array>
			<key>DefaultValue</key>
			<string>medium</string>
			<key>Values</key>
			<array>
				<string>xs</string>
				<string>small</string>
				<string>medium</string>
				<string>large</string>
				<string>xl</string>
			</array>
			<key>Key</key>
			<string>story_font_size</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Offline stories</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Download stories</string>
			<key>Key</key>
			<string>offline_allowed</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Download images</string>
			<key>Key</key>
			<string>offline_image_download</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Download using</string>
			<key>Titles</key>
			<array>
				<string>Wifi + Cellular</string>
				<string>Wifi only</string>
			</array>
			<key>DefaultValue</key>
			<string>cellular</string>
			<key>Values</key>
			<array>
				<string>cellular</string>
				<string>wifi</string>
			</array>
			<key>Key</key>
			<string>offline_download_connection</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>More stories take more disk space, but otherwise storing more stories has no noticable effect on performance.</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Store</string>
			<key>Titles</key>
			<array>
				<string>100 stories</string>
				<string>500 stories</string>
				<string>1,000 stories</string>
				<string>2,000 stories</string>
				<string>5,000 stories</string>
				<string>10,000 stories</string>
			</array>
			<key>DefaultValue</key>
			<integer>1000</integer>
			<key>Values</key>
			<array>
				<integer>100</integer>
				<integer>500</integer>
				<integer>1000</integer>
				<integer>2000</integer>
				<integer>5000</integer>
				<integer>10000</integer>
			</array>
			<key>Key</key>
			<string>offline_store_limit</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Delete offline stories...</string>
			<key>Key</key>
			<string>offline_cache_empty_stories</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sharing services</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>InstapaperActivityIcon</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Instapaper</string>
			<key>Key</key>
			<string>enable_instapaper</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>InstapaperActivityIcon</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Email/username</string>
			<key>Key</key>
			<string>instapaper_username</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>AutocorrectionType</key>
			<string>no</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>InstapaperActivityIcon</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>instapaper_password</string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocorrectionType</key>
			<string>no</string>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>PocketActivity</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Pocket</string>
			<key>Key</key>
			<string>enable_pocket</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>Readability-activity-iPhone</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Readability</string>
			<key>Key</key>
			<string>enable_readability</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>IASKCellImage</key>
			<string>PinboardActivityImage</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Pinboard</string>
			<key>Key</key>
			<string>enable_pinboard</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Reading Stories</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Every other view uses a left edge swipe to return to the previous screen. But the story detail view has this option because you may wish to traverse stories and not accidentally jump to the previous screen.</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Swipe left edge</string>
			<key>Titles</key>
			<array>
				<string>Go back to story list</string>
				<string>Previous story</string>
			</array>
			<key>DefaultValue</key>
			<string>pop_to_story_list</string>
			<key>Values</key>
			<array>
				<string>pop_to_story_list</string>
				<string>previous_story</string>
			</array>
			<key>Key</key>
			<string>story_detail_swipe_left_edge</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show public comments</string>
			<key>Key</key>
			<string>show_public_comments</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Default browser</string>
			<key>Titles</key>
			<array>
				<string>In-app browser</string>
				<string>Safari</string>
				<string>Chrome</string>
			</array>
			<key>DefaultValue</key>
			<string>inapp</string>
			<key>Values</key>
			<array>
				<string>inapp</string>
				<string>safari</string>
				<string>chrome</string>
			</array>
			<key>Key</key>
			<string>story_browser</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
