{
  "datacenter": "nyc1",
  "log_level": "INFO",
  "enable_syslog": true,
  "advertise_addr": "{{ consul_manager_ip.stdout|trim }}",
  "bind_addr": "{% raw %}{{GetInterfaceIP \"eth1\"}}{% endraw %}",
  "client_addr": "0.0.0.0",
  "server": true,
  "bootstrap": true,
  "ui": true
}
