apiVersion: 1

contactPoints:
  - orgId: 1
    name: email-alerts
    receivers:
      - uid: email-alerts
        type: email
        settings:
          addresses: samuel@newsblur.com
          subject: '{{ if eq .Status "firing" }}[FIRING]{{ else }}[RESOLVED]{{ end }} {{ range .Alerts }}{{ .Labels.service }}{{ end }}: {{ .CommonLabels.alertname }}'
        disableResolveMessage: false
