apiVersion: 1

contactPoints:
  - orgId: 1
    name: email-alerts
    receivers:
      - uid: email-alerts
        type: email
        settings:
          addresses: samuel@newsblur.com
        disableResolveMessage: false
