---
- name: Install Dnsmasq package
  become: yes
  apt:
    name: dnsmasq
    state: present

- name: Install resolvconf package
  become: yes
  apt:
    name: resolvconf
    state: present

- name: Enable dnsmasq service
  become: yes
  service:
    name: dnsmasq
    enabled: true

- name: Bind dnsmasq to localhost
  become: yes
  lineinfile:
    dest: /etc/dnsmasq.conf
    state: present
    line: 'listen-address=127.0.0.1'

- name: Gather network facts
  become: yes
  setup:
    gather_subset:
      - '!all'
      - network

- name: Check if resolv.conf exists
  become: yes
  stat: 
    path: /etc/resolv.conf
  register: resolvconf

- name: Add localhost to resolv.conf
  become: yes
  lineinfile: 
    dest: /etc/resolv.conf 
    state: present 
    line: 'nameserver 127.0.0.1'
    insertbefore: BOF
  when: resolvconf.stat.exists

- name: Set dnsmasq user to root
  become: yes
  lineinfile: 
    dest: /etc/dnsmasq.conf 
    state: present 
    line: 'user=root'

- name: Stop and disable systemd-resolved
  become: yes
  systemd:
    name: systemd-resolved
    state: stopped
    enabled: no
    masked: yes

- name: Create Dnsmasq configuration
  become: yes
  template:
    src: dnsmasq-10-consul.j2
    dest: /etc/dnsmasq.d/10-consul
    owner: root
    group: root
    mode: 0644
  vars:
    network_interfaces: "{{ ansible_interfaces }}"
  notify: restart dnsmasq
  
- name: Create systemd override directory for dnsmasq
  become: yes
  file:
    path: /etc/systemd/system/dnsmasq.service.d
    state: directory
    mode: 0755

# - name: Add override for dnsmasq service
#   become: yes
#   copy:
#     dest: /etc/systemd/system/dnsmasq.service.d/override.conf
#     content: |
#       [Unit]
#       After=docker.service

- name: Remove override for dnsmasq service
  become: yes
  file:
    path: /etc/systemd/system/dnsmasq.service.d/override.conf
    state: absent
    
- name: Launch dnsmasq
  become: yes
  service:
    name: dnsmasq
    state: started
