<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
       <key>Label</key>
       <string>com.mongo.mongod</string>
       <key>RunAtLoad</key>
       <true/>
       <key>ProgramArguments</key>
       <array>
               <string>/usr/local/bin/mongod</string>
               <string>--config</string>
               <string>/Users/sclay/projects/data/mongo.conf</string>
       </array>
</dict>
</plist>