# pysqlite==2.6.0
BeautifulSoup==3.2.1
boto==2.8.0
celery==3.1.23
chardet==2.1.1
cssutils==0.9.10b1
django-celery-with-redis==3.0
django-celery==3.1.17
django-compress==1.0.1
django-cors-headers==1.0.0
django-extensions==1.3.3
django-mailgun==0.2.1
django-oauth-toolkit==0.7.2
django-qurl==0.1.1
django-redis-cache==0.9.7
django-redis-sessions==0.3.1
django-ses==0.4.1
django-subdomains==2.0.3
Django>=1.5,<1.6
dnspython==1.12.0
Fabric==1.11.1
gunicorn==19.1.1
hiredis==0.2.0
httplib2==0.8
iconv==1.0
image==1.5.4
isodate==0.5.1
kombu==3.0.35
lxml==3.3.5
mock==2.0.0
mongoengine==0.8.2
mysql-python==1.2.5
ndg-httpsclient==0.3.2
nltk==2.0.5
numpy==1.10.4
oauth2==1.5.211
pillow==3.1.0
psutil==2.1.0
psycopg2==2.5.2
pyasn1==0.1.7
pyes==0.99.5
pyflakes==0.6.1
pymongo==2.6
pyOpenSSL==0.14
python-dateutil==2.1
python-digitalocean==1.6
python-gflags==2.0
pytz==2013b
raven==3.1.17
#readline==6.2.4.1
redis==2.10.3
requests==2.7.0
scipy==0.17.0
seacucumber==1.5
simplejson==3.4.0
six==1.10.0
South==0.7.6
stripe==1.12.2
tweepy==3.5.0
