BeautifulSoup==3.2.1
boto==2.8.0
celery==3.0.17
chardet==2.1.1
cssutils==0.9.10b1
django-celery-with-redis==3.0
django-celery==3.0.11
django-compress==1.0.1
django-extensions==1.1.1
django-mailgun==0.2.1
django-redis-sessions==0.3.1
django-redis-cache==0.9.7
django-ses==0.4.1
django-subdomains==2.0.3
Django>=1.5,<1.6
dop==0.1.4
Fabric==1.6.0
gunicorn==0.17.2
httplib2==0.8
iconv==1.0
kombu==2.5.7
lxml==3.1.0
mongoengine==0.8.2
nltk==2.0.4
oauth2==1.5.211
psutil==0.7.1
pyes==0.19.1
pyelasticsearch==0.5
pyflakes==0.6.1
pymongo==2.5.2
python-dateutil==2.1
python-gflags==2.0
pytz==2013b
raven==3.1.17
readline==6.2.4.1
redis==2.7.2
hiredis==0.1.1
requests==1.1.0
seacucumber==1.5
South==0.7.6
stripe==1.7.10
