{
  "datacenter": "nyc1",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "log_file": "/var/log/consul/consul.log",
  "enable_syslog": true,
  "retry_join": [{{ consul_manager_ip.stdout|trim }}],
  "advertise_addr": "{% raw %}{{ GetAllInterfaces | include \"name\" \"^eth\" | include \"flags\" \"forwardable|up\" | attr \"address\" }}{% endraw %}",
  "bind_addr": "0.0.0.0",
  "ui_config": {"enabled": true},
  "dns_config": {
    "service_ttl": {
      "*": "300s"
    },
    "node_ttl": "300s"
  }
}
