{
  "datacenter": "nyc1",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "enable_syslog": false,
  "retry_join": ["{{ consul_manager_ip.stdout|trim }}"],
  "advertise_addr": "{% raw %}{{ GetAllInterfaces | include \"name\" \"^eth\" | include \"flags\" \"forwardable|up\" | attr \"address\" }}{% endraw %}",
  "bind_addr": "0.0.0.0",
  "addresses": {
    "http": "0.0.0.0"
  },
  "ui_config": {"enabled": true}
}
