# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: The NewsBlur Blog
email: blog@newsblur.com
tagline: A new sound of an old instrument
description: > # this means to ignore newlines until "baseurl:"
  NewsBlur is a personal news reader that brings people together to talk about the world.

  A new sound of an old instrument.

# Use environment variable to switch between production and development URLs
url: "https://blog.newsblur.com" # Production URL
baseurl: "" # the subpath of your site, e.g. /blog

# Add development settings override
development:
  url: "http://localhost:4000"

permalink: pretty
twitter_username: newsblur
github_username: samuelclay
logo: /assets/newsblur_logo_512.png
future: true
timezone: America/New_York

# Build settings
theme: minima
plugins:
  - jekyll-redirect-from
  - jekyll-paginate
paginate: 10
paginate_path: "/page:num"

# Enable paginated feeds with RFC 5005 archive links for NewsBlur backfill
paginate_feeds: true

# Disable jekyll-feed plugin since we use custom paginated feeds
disable_disk_cache: true
whitelist: []

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
