route:
  group_by: [alertname]
  receiver: email-me
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 5m

receivers:
- name: email-me
  email_configs:
  - to: {{ alert_receiver_email }}
    from: {{ from_email }}
    smarthost: {{ smarthost }}
    auth_username: {{ auth_username }}
    auth_identity: {{ auth_identity }}
    auth_password: {{ auth_password }}
