body {
	padding: 5%;	
	background-color: #f5f5f5;
}

p {
	line-height: 1.3em;
}

img {
	max-width: 100%;
	height: auto;	
}

a {
	color: #405BA8;	
}

a:visited {
	color: #405BA8;
}

blockquote {
	color: #bbb;
	border-left: 5px solid #ddd;
	padding-left: 15px;
	font-style: italic;
	margin-left: 10px;	
}

ins { 
	text-decoration: none;
}

del {
    display: none;
}