.NB-right {
    float: right;
}

#story_pane .NB-story-comment {
    border-top: 1px solid #A6A6A6;
    background:#f5f9fb;
    position: relative;
    padding: 0 12px 2px 72px;
    line-height: 20px;
    overflow: hidden;
    min-height: 72px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 1);shar
}

.NB-story-share-profiles-comments-friends,
.NB-story-share-profiles-comments-public {
    float: left;
}

.NB-story-share-profiles-shares-friends, 
.NB-story-share-profiles-shares-public {
    float: right;
}

#story_pane .NB-story-comment .NB-user-avatar {
    position: absolute;
    left: 10px;
    top: 10px;
}
#story_pane .NB-story-comment .NB-user-avatar.NB-story-comment-reshare {
    top: 22px;
    left: 6px;
    z-index: 1;
}
#story_pane .NB-story-comment .NB-user-avatar img {
    border-radius: 6px;
    margin: 2px 0 0 1px;
    width: 48px;
    height: 48px;
}
#story_pane .NB-story-comment .NB-user-avatar.NB-story-comment-reshare img {
    height: 32px;
    width: 32px;
}
#story_pane .NB-story-comment .NB-story-comment-author-container {
    margin: 4px 0 0;
}
#story_pane .NB-story-comment .NB-story-comment-reshares {
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 0;
}
#story_pane .NB-story-comment .NB-story-comment-reshares .NB-user-avatar {
    top: 8px;
    left: 20px;
}
#story_pane .NB-story-comment .NB-story-comment-username {
    float: left;
    font-size: 11px;
    color: #1D4BA6;
    font-weight: bold;
    margin: 4px 10px 0 0;
    text-shadow: 0 -1px 0 #F0F0F0;
    cursor: pointer;
    line-height: 17px;
}
#story_pane .NB-story-comment .NB-story-comment-date {
    text-transform: uppercase;
    font-size: 10px;
    color: #9D9D9D;
    font-weight: bold;
    float: left;
    line-height: 17px;
    margin-top: 4px;
}

#story_pane .NB-story-comment .NB-story-comment-location {
    text-transform: uppercase;
    font-size: 10px;
    color: #B7B58D;
    font-weight: bold;
    float: left;
    margin-right: 8px;
    margin: 4px 10px 0 0;
    background-color: #EFEFEF;
    border-radius: 8px;
    line-height: 17px;
    padding: 0 8px;
}

#story_pane .NB-story-comment .NB-story-comment-content {
    float: left;
    color: #303030;
}


#story_pane .NB-story-comment-reply {
    border-top: 1px solid #E0E0E0;
    padding: 4px 0;
    overflow: hidden;
    clear: both;
    position: relative;
    padding: 8px 0 8px 45px;
    line-height: 18px;
}
#story_pane .NB-story-comment-reply .NB-story-comment-reply-photo {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 10px;
    cursor: pointer;
}

#story_pane .NB-story-comment-reply-content {
    clear: both;
    color: #303030;
    float: left;
}

#story_pane .NB-story-comment-reply-form {
    padding-top: 11px;
}
#story_pane .NB-story-comment-reply-form .NB-story-comment-reply-username {
    margin: 1px 8px 6px 0;
}
#story_pane .NB-story-comment-reply-form .NB-story-comment-reply-comments {
    margin: 0 8px 4px 0;
    width: 62%;
    display: block;
    float: left;
    font-size: 12px;
}
#story_pane .NB-story-comment-reply-form .NB-modal-submit-button {
    float: left;
    font-size: 10px;
    padding: 2px 8px;
    line-height: 16px;
    margin: 0;
}
#story_pane .NB-story-comment-reply-form .NB-error {
    font-size: 10px;
    color: #6A1000;
    padding: 4px 0 0;
    line-height: 14px;
    font-weight: bold;
    clear: both;
}
#story_pane .NB-story-comments-public-teaser-wrapper,
#story_pane .NB-story-comments-public-header-wrapper {
    border-top: 1px solid #353535;
    padding: 1px 0;
    cursor: pointer;
}
#story_pane .NB-story-comments-public-header-wrapper {
    cursor: default;
}
#story_pane .NB-story-comments-shares-teaser-wrapper {
    border-top: 1px solid #fff;
    padding-top: 0;
}

#story_pane .NB-story-comments-public-teaser,
#story_pane .NB-story-comments-public-header {
    background-color: #B1B6B4;
    color: white;
    text-shadow: 0 1px 0 #505050;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px 12px;
    overflow: hidden;
}

#story_pane .NB-story-comments-public-header {
    background-color: whiteSmoke;
    color: #404040;
    text-shadow: 0 1px 0 white;
}
#story_pane .NB-story-comments-shares-teaser {
    background-color: whiteSmoke;
    color: #202020;
    cursor: default;
    text-shadow: 0 1px 0 white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    padding: 4px 12px 0;
    overflow: hidden;
    min-height: 26px;
    border-bottom: 1px solid #A6A6A6;
    background-image: url('data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAZCAYAAACM9limAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAKwwAACsMBNCkkqwAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAYOSURBVFiFtVmxkuUoDGy/WkggwYGdbPL+/7M2sqvGBA+CharxBXvNNpq3t9GRjGeMhdSSWhKzvF6vJwB479Fag/cepRT03uGcG3/vvSOlNPbYn6UUcMUYx3NrDa01xBjHnpQSaq3IOeP79++otaK1BgDovSOEMGSHENB7H7Iov5QynZtSQu/9yxneezjnkHOG937Ipax1XXHfN5ZlwXVdQ+/l8/PzmXNGjHFs1lVrRQgBCp7u895Pz1RYgeF367qitYac85BZa0VK6Yvy9nvvPa7rGs/8nefym5wzUkoAAOfc0H9ZlqE7waIjuHLO4+/Lx8fHUw9Tw0opk6c1EhhVKaXpGx5MT5dShjedc0MRylZZjBSVYxVOKYGOJOAEofc+GW/BDSHgPM+RCQRII5LfPfgBFWyt4TiOEf42MujxGOPwjCpIhZdlGYfzYAVFvea9H2nKMwhSKQUhhCG31joBQKflnP8azUoPfFdrHTqFEFBKQSnlFzA8SIVQcefcUJpeDiFMStkULKXgvm/c9z28SeUZQQSK7/RbRttxHJMzCJhz7suZBC6lhBjjRA0amQqYghFjRM4Zvfdfjv34+HgqmYUQRp7Sw8dxDK9xn0ZUa23kMo2yRA5gAHIcxyBHTR+bnmqQRjZJlUCRm9SpBMXSgHMOy7JM70IIUwEA/uWYlNIgJwVBlSIA5AKNFE05gvouz2ut2LYN53kipfSFzLXK6bLcxH1aeTQN6X1NVTqJzmVEqQ0q4xFjnMhn3/cvnMHF9FLuUHJurU3KlFImBelt5xyO48B938NQCyIBIaCUSUBpvJZsphCAsU+XRjxlxxixriuccyN6Y4x4UChLIT1mQ0u9SkOdc5MXGGkEiIZolFHZfd+Ht7UHstGo5f66LvTekXMGMHMU5TAKCBq5R50LYMjIOeO6rsEvPHf5/Px88hDgd6gy7Lm51op936fwYz+iEaaeYY/CSOGzGmK/tc2gpnRKCed5TiBrqpPflOy1D7PyNBt4Nu1eXq/X03pNBagQ60XbAWve285Yv1NFFEjNezWWwCoYWhw0mq2+2liqTrqs/d57fHtHPgqIHshnNZQg8HAlQ61yFgAarQZratIQBUmrIVOFrYPqq2BpZ8s9lntyzti2bewvpeCbLW8aylqOqbQqqWi/I1FWEy211mMElmfp99rvqFE0pPeOWut/pnkIYZqB3qW5BXBd13lW+j9bbPWiVYpGc6lsO7hauZZnaDydeZ4ntm2biN7SxLu0fChSinatFcdxjLKsTM+99IpGFtOGSmuY0yA2cNrO62KK7fs+6caGTp1ou+/WGu77Hj0XZyvqbQlX2xXd99AOlQaQ1fd9RykF27YhpTSmYBXGHKeXlQBZwoE5HQgEAaJMVdR7P0YKTTOVw3fKWTxLxwgF/0+/l1KmdFx+/vz51BC3QxY/ZppQ4Ls92hkrb7wb8bnYAFquo0xygk7VtijYVHs3uvzthsBW2ocizbzXDpaol1JwnufYp2FMJThx23DnRMy9yic6pPJsViqeH2NErXVUI8qm/HVdJ7At56gTtVCoA+wNw/J6vZ4xRvz48WPcpqlAvVTi3xR9CrX8w3dsmPie70iMTCNGIquNnmEjTtPfnqmAa3Tb9xp1GqUjYkIIOI4D+75PxvFjzhzaqtuKol4lD3AW0UFPjWMIKz8QYJ3I+awOox46amjvo98rd9kIp07Ug3bGGPHQ0knhNjdZ9zWK1FP8SW7Re1oazf06UL7rQLlv27a3s456lVeX6nXb/isVMPos153nOfVArTV84yxBr/MFAbDRQcWIPDCTqr0g4oFMKQuKdrpaUpVo1QkEnd5l2tmxRCufLr0D0p6Nv1P2Y9/3cQ2pJKTdrnrZ/jeAZZyAMYUYaTSY0zRlvBtF3s1XTFG+ZwFQQmeksXSTqGm02mAjQyOMupVS8Liua2zQNNEwVjK0DM/FWYl3NBpZrbXphl+vHqmkyuVPlnJGmjaHOiPZCFQqIHh29NAIekfOC/+vxPVu0owxToZZhP90p0pv2KtSGmKjQ5/tXKajiVYk5TMWC+VDu1SOrUb6/A/IUX/pFmu08AAAAABJRU5ErkJggg=='), -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.10, #EBEBEC),
    color-stop(0.84, #F5F5F5)
    );
}



#story_pane .NB-story-comments-public-teaser-wrapper:hover .NB-story-comments-public-teaser {
    background-color: #2B478C;
    background-image: none;
}
#story_pane .NB-story-comments-public-teaser b {
    padding: 0 1px;
    font-size: 12px;
}

#story_pane .NB-story-share-profiles {
    float: left;
    vertical-align: top;
    min-height: 24px;
    padding-top: 2px;
    margin-top: 0px;
    overflow: hidden;
}

#story_pane .NB-story-share-profiles.NB-story-share-profiles-public {
    float: right;
}
#story_pane .NB-story-share-profiles.NB-story-share-profiles-public .NB-story-share-profile {
    float: right;
}

#story_pane .NB-story-share-profile {
    display: inline-block;
}

#story_pane .NB-story-share-profile .NB-user-avatar {
    float: left;
    font-size: 0;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    margin: 0 4px 6px 0;
    cursor: pointer;
}

#story_pane .NB-story-share-profile .NB-public-user {
    opacity: 0.5;
}

#story_pane .NB-story-share-profile .NB-user-avatar img {
    width: 22px;
    height: 22px;
    border-radius: 3px;
}
#story_pane .NB-story-share-profile .NB-user-username {
    float: left;
}
#story_pane .NB-story-comment .NB-story-comment-content {
    clear: left;
    padding: 0 0 8px 0;
}

#story_pane .NB-feed-story-endbar {
    height: 8px;
    border-top: 1px solid #404040;
    background: #dadada url('/media/css/jquery-ui/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;
}

#story_pane .NB-feed-stories .NB-feed-story {
    margin: 0;
    clear: both;
    overflow: hidden;
}

#story_pane .NB-feed-stories.NB-feed-view-story .NB-feed-story {
    padding: 0;
}

#story_pane .audiojs audio {
    display: none;
}


