.NB-right {
    float: right;
}

#story_pane .NB-story-comment {
    border-top: 1px solid #A6A6A6;
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#F5F9FB),to(#ECF0F2));
    position: relative;
    padding: 0 12px 2px 72px;
    line-height: 20px;
    overflow: hidden;
    min-height: 72px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 1);shar
}
#story_pane .NB-story-comment .NB-user-avatar {
    position: absolute;
    left: 10px;
    top: 10px;
}
#story_pane .NB-story-comment .NB-user-avatar.NB-story-comment-reshare {
    top: 22px;
    left: 6px;
    z-index: 1;
}
#story_pane .NB-story-comment .NB-user-avatar img {
    border-radius: 6px;
    margin: 2px 0 0 1px;
    width: 48px;
    height: 48px;
}
#story_pane .NB-story-comment .NB-user-avatar.NB-story-comment-reshare img {
    height: 32px;
    width: 32px;
}
#story_pane .NB-story-comment .NB-story-comment-author-container {
    margin: 10px 0 0;
}
#story_pane .NB-story-comment .NB-story-comment-reshares {
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 0;
}
#story_pane .NB-story-comment .NB-story-comment-reshares .NB-user-avatar {
    top: 8px;
    left: 20px;
}
#story_pane .NB-story-comment .NB-story-comment-username {
    float: left;
    font-size: 11px;
    color: #1D4BA6;
    font-weight: bold;
    margin: 0 10px 0 0;
    text-shadow: 0 -1px 0 #F0F0F0;
    cursor: pointer;
    line-height: 17px;
}
#story_pane .NB-story-comment .NB-story-comment-date {
    text-transform: uppercase;
    font-size: 10px;
    color: #9D9D9D;
    font-weight: bold;
    float: left;
    line-height: 17px;
}
#story_pane .NB-story-comment .NB-story-comment-content {
    float: left;
    color: #303030;
}


#story_pane .NB-story-comment-reply {
    border-top: 1px solid #E0E0E0;
    padding: 4px 0;
    overflow: hidden;
    clear: both;
    position: relative;
    padding: 8px 0 8px 45px;
    line-height: 18px;
}
#story_pane .NB-story-comment-reply .NB-story-comment-reply-photo {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 10px;
    cursor: pointer;
}

#story_pane .NB-story-comment-reply-content {
    clear: both;
    color: #303030;
    float: left;
}

#story_pane .NB-story-comment-reply-form {
    padding-top: 11px;
}
#story_pane .NB-story-comment-reply-form .NB-story-comment-reply-username {
    margin: 1px 8px 6px 0;
}
#story_pane .NB-story-comment-reply-form .NB-story-comment-reply-comments {
    margin: 0 8px 4px 0;
    width: 62%;
    display: block;
    float: left;
    font-size: 12px;
}
#story_pane .NB-story-comment-reply-form .NB-modal-submit-button {
    float: left;
    font-size: 10px;
    padding: 2px 8px;
    line-height: 16px;
    margin: 0;
}
#story_pane .NB-story-comment-reply-form .NB-error {
    font-size: 10px;
    color: #6A1000;
    padding: 4px 0 0;
    line-height: 14px;
    font-weight: bold;
    clear: both;
}
#story_pane .NB-story-comments-public-teaser-wrapper,
#story_pane .NB-story-comments-public-header-wrapper {
    border-top: 1px solid #353535;
    padding: 1px 0;
    cursor: pointer;
}
#story_pane .NB-story-comments-public-header-wrapper {
    cursor: default;
}
#story_pane .NB-story-comments-shares-teaser-wrapper {
    border-top: 0;
    padding-top: 0;
}

#story_pane .nb-story-comments-shares-teaser .NB-right {
    margin-top: 2px;
}

#story_pane .NB-story-comments-public-teaser,
#story_pane .NB-story-comments-public-header {
    background-color: #B1B6B4;
    color: white;
    text-shadow: 0 1px 0 #505050;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px 12px;
    overflow: hidden;
    -webkit-transition: all .12s ease-out;
    -moz-transition: all .12s ease-out;
    -o-transition: all .12s ease-out;
    -ms-transition: all .12s ease-out;
}
#story_pane .NB-story-comments-public-header {
    background-color: whiteSmoke;
    color: #404040;
    text-shadow: 0 1px 0 white;
}
#story_pane .NB-story-comments-shares-teaser {
    background-color: whiteSmoke;
    color: #202020;
    cursor: default;
    text-shadow: 0 1px 0 white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    padding: 8px 12px 0;
    overflow: hidden;
    height: 26px;
    border-bottom: 1px solid #A6A6A6;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.10,#EBEBEC),color-stop(0.84,whiteSmoke));
    background-image: -moz-linear-gradient(center bottom,#EBEBEC 10%,whiteSmoke 84%);
}

#story_pane .NB-story-comments-public-teaser-wrapper:hover .NB-story-comments-public-teaser {
    background-color: #2B478C;
    background-image: none;
}
#story_pane .NB-story-comments-public-teaser b {
    padding: 0 1px;
    font-size: 12px;
}
#story_pane .NB-story-share-label {
    display: inline-block;
    margin: 2px 4px 0 0;
}
#story_pane .NB-story-share-profiles {
    display: inline-block;
    vertical-align: top;
    height: 24px;
    padding-top: 2px;
    margin-top: -4px;
    overflow: hidden;
}
#story_pane .NB-story-share-profiles.NB-story-share-profiles-public {
    float: right;
}
#story_pane .NB-story-share-profiles.NB-story-share-profiles-public .NB-story-share-profile {
    float: right;
}

#story_pane .NB-story-share-profile {
    display: inline-block;
}
#story_pane .NB-story-share-profile .NB-user-avatar {
    float: left;
    font-size: 0;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    margin: 0 4px 0 0;
    cursor: pointer;
}
#story_pane .NB-story-share-profile .NB-user-avatar img {
    width: 22px;
    height: 22px;
    border-radius: 3px;
}
#story_pane .NB-story-share-profile .NB-user-username {
    float: left;
}
#story_pane .NB-story-comment .NB-story-comment-content {
    clear: both;
    padding: 0 0 8px 0;
}
#story_pane .NB-feed-story-endbar {
    height: 8px;
    border-top: 1px solid #404040;
    background: #dadada url('/media/css/jquery-ui/images/dadada_40x100_textures_03_highlight_soft_75.png') 0 50% repeat-x;
}

#story_pane .NB-feed-stories .NB-feed-story {
    margin: 0;
    clear: both;
    overflow: hidden;
}

#story_pane .NB-feed-stories.NB-feed-view-story .NB-feed-story {
    padding: 0;
}

#story_pane .audiojs audio {
    display: none;
}


