/**
 * Font Size Style
 */

.NB-extra-small .NB-story {
    line-height: 1.6em;
    font-size: 12px;
}

.NB-small .NB-story {
    line-height: 1.6em;
    font-size: 14px;
}

.NB-medium .NB-story{
    line-height: 1.6em;
    font-size: 16px;
}

.NB-large .NB-story {
    line-height: 1.6em;
    font-size: 18px;
}

.NB-extra-large .NB-story {
    line-height: 1.6em;
    font-size: 22px;
}

.NB-san-serif {
    font-family: Helvetica;
}

.NB-serif {
    font-family: georgia;
}

/**
 * iPad Wide Style
 */

.NB-ipad-wide .NB-header {
    padding: 15px 0;
}

.NB-ipad-wide .NB-header .NB-header-inner {
    margin: 0px 90px;
}

.NB-ipad-wide .NB-story {
    margin: 30px 90px;
}

.NB-ipad-wide .NB-share-inner-wrapper {
    margin: 0 90px;
}

/*
.NB-ipad-wide .NB-story img {
    max-width: 540px !important;
}
 */

/**
 * iPad Narrow Style
 */

.NB-ipad-narrow .NB-header {
    padding: 15px 30px;
}

.NB-ipad-narrow .NB-story {
    margin: 25px 30px;
}

.NB-ipad-narrow .NB-share-inner-wrapper {
    margin: 0 30px;
}

/*
.NB-ipad-narrow .NB-story img {
    max-width: 400px !important;
}

 */

/**
 * iPhone Style
 */

.NB-iphone .NB-header {
    padding: 12px 12px;
}

.NB-iphone .NB-story {
    margin: 12px 12px;
}

.NB-iphone .NB-share-inner-wrapper {
    margin: 0 12px;
}
/*
.NB-iphone .NB-story img {
    max-width: 290px !important;
}


/**
 * Universal Style
 */

body {
    text-rendering: optimizeLegibility;
    margin: 0;
    background: #f6f6f6;
    -webkit-text-size-adjust: none; 
    font-size: 14px;
    line-height: 120%;
    overflow: hidden;
    font-family: Helvetica;
}

body.NB-iphone {
    line-height: 110%;
}

.NB-story-author {
    color: #969696;
    text-transform: uppercase;
    margin: 4px 8px 0px 0;
    text-shadow: 0 1px 0 #F9F9F9;
    float: left;
}

.NB-story-tags {
    overflow: hidden;
    padding: 5px 0 0 0;
    text-transform: uppercase;
}

.NB-story-tag {
    float: left;
    font-weight: normal;
    padding: 0px 4px 0px;
    margin: 0px 4px 4px 0;
    background-color: #C6CBC3;
    color: #505050;
    text-shadow: 0 1px 0 #E7E7E7;
    -webkit-border-radius: 4px;
}

.NB-story-date {
    color: #454D6C;
}

.NB-story-author {
    font-size: 10px;
    line-height: 12px
}

.NB-story-tags {
    line-height: 12px;
    height: 12px;
}

.NB-story-tag {
    font-size: 9px;
}

.NB-story-date {
    font-size: 11px;
    line-height: 13px;
}

.NB-story h1, 
.NB-story h2,
.NB-story h3,
.NB-story h4,
.NB-story h5,
.NB-story h6,
.NB-story div,
.NB-story table,
.NB-story span,
.NB-story pre,
.NB-story code {
    overflow: auto;
    clear: both;

}

.NB-story h1, 
.NB-story h2,
.NB-story h3,
.NB-story h4,
.NB-story h5,
.NB-story h6 {
    line-height: 140%;
}

.NB-iphone .NB-story h1, 
.NB-iphone .NB-story h2,
.NB-iphone .NB-story h3,
.NB-iphone .NB-story h4,
.NB-iphone .NB-story h5,
.NB-iphone .NB-story h6 {
    line-height: 120%;
    font-size: 1.1em;
}


a {
    text-decoration: none;
}

.NB-story blockquote {
    background-color: #F0F0F0;
    border-left: 1px solid #9B9B9B;
    padding: 10px 20px;
    margin: 20px 0;
}

div + p {
    margin: 20px 0px 20px 0;
}

.NB-story p {
    margin: 0px 0px 20px 0;
    clear: both;
}

.NB-story small {
    font-size: 11px;
}

.NB-header {
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 600;
    background-color: #E0E0E0;
    border-bottom: 1px solid #A0A0A0;
    text-shadow: 1px 1px 0 #EFEFEF;
    overflow: hidden;
    max-width: none;
}

.NB-iphone .NB-header {
    font-size: 14px;
}

.NB-story {
    overflow: hidden;
}

.NB-story a.NB-contains-image { 
    display: block;
}

.NB-story div {
    max-width: 100% !important;
}
.NB-story img {
    margin: 20px auto;
    height: auto !important;
    width: auto !important;
    max-width: 100%;
    display: none;
}

.NB-story img.NB-large-image,
.NB-story img.NB-medium-image {
    margin: 20px auto !important;
    display: block !important;
    width: auto !important;
    height: auto !important;
    display: block;
    float: none;
    clear: both;
}

.NB-story img.NB-small-image {
    display: inline-block;
    margin: 2px;
}

.NB-feed-story-comments {
    clear: both;
}

.NB-story-title {
    clear: left;
    margin: 8px 0 4px;
}

ins {
    text-decoration: none;
}

del {
    display: none;
}

/* Comments */

.NB-feed-story-comments {
    margin: 0 !important;
    clear: both !important;
    max-width: none !important;
}

#story_pane .NB-story-comments-shares-teaser.NB-highlighted {
    -webkit-transition: background-color .6s linear;
    background-color: #FBE5C7;
}

#story_pane .NB-story-comments-shares-teaser {
    -webkit-transition: background-color .6s linear;
}

#story_pane .NB-story-comment-reply.NB-highlighted {
    background-color: #FBE5C7;
    padding-left: 50px;
    padding-right: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

#story_pane .NB-story-comment-reply.NB-highlighted .NB-story-comment-reply-photo {
    left: 5px;
}

#story_pane .NB-story-comment.NB-highlighted {
    -webkit-transition: background-color .6s linear;
    background-color: #FBE5C7;
}

#story_pane .NB-story-comment-reply,
#story_pane .NB-story-comment {
    -webkit-transition: background-color .6s linear;
}

#story_pane .NB-story-comment .NB-story-comment-content {
    float: none;
}

.NB-iphone#story_pane .nb-story-share-label {
    float: left;
    display: block;
    margin: 2px 4px 0 0;
}

.NB-iphone .NB-story-share-profile {
    margin-top: -2px;
    margin-bottom: 10px;
}

/* Sharing */

a.NB-show-profile {
    display: inline-block;
}

/* Disable certain interactions on touch devices */
.NB-button,
.NB-show-profile.a { 
    -webkit-text-size-adjust: none; 
    -webkit-user-select: none; 
    -webkit-highlight: none; 
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

.NB-share-button {
    line-height: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #606060;
    text-shadow:
    0px 0px 0px rgba(000,000,000,0),
    0px 1px 0px rgba(255,255,255,1);
}

.NB-share-button.active,
.NB-save-button.active {
    background: #217412;
    box-shadow: none;
}

/* Edit, Like, and Reply buttons */

.NB-button {
    padding: 0px 0px 4px 10px;
    float: right;
    cursor: pointer;
    margin-top: -5px;
    margin-bottom: -4px;
}

.NB-iphone .NB-button {
    float: right;
    padding: 4px 0px 10px 4px;
    margin: 0;
}

.NB-button.NB-share-button {
    float: left;
    padding: 0px 20px 20px 0px;
    margin-bottom: 0;
}

.NB-button div {
    padding: 2px 6px;
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ffffff),
        color-stop(0.50, #ebebeb),
        color-stop(0.50, #dbdbdb),
        to(#b5b5b5));

    border-radius: 3px;
    border: 1px solid #949494;
    box-shadow: inset 0px 0px 2px rgba(255,255,255,1);
}

.NB-iphone .NB-button div {
    padding: 1px 5px 0px;
}

.NB-button.NB-share-button div { 
    padding: 4px 14px;
    border-radius: 5px;
}

.NB-button .nb-story-comment-like-button-wrapper a {
    background: transparent url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAGmSURBVCiRbZG/axRBHMXfzO7tbvYua+IFJQa0sRBs1IiQFIEIgvgDEUSs7CSFCJLaA1MJYjrFI5VgmkBiCDYWNgZJlaB/wgknxOT0Lnt7s7Mz852xOgzxXvne98OXxwMG6PXm3PSbzblbgzJ21Kit3mcT4ye34NyI0AeT87PvxeGcHwVGj0d34lJyJQ6Gz1myDwZ+eLpxOapGp8Y95lVPVM4sDUdjF8kSOmK3sZ81HhpGP4XMfi3e3eqx+tcnzyM/ngVjlzjjlcgvIy1aUEaiHIwg110oynNjzXep0h1OVjeMVTNJWK34Xoh2vous6ECoA7R6TRhSiEvJEFk1Rc40+OOZ+rtU7l9r9ZopA1BoAecsHIBcZ/B4CZ18L8uK9r3a9Y+LHADmry5/TmXrmabCDQUJFEkYKhD6EcgZ9FT77cKNT2sA4PfbO7jMWA3OfBwLxwDmILUAOQ1jSPbv/gHOnvdZiWlXQFulyGrle0GFgUFJOj0ImPgtmhCq+6or/6wbp1TIyzc9imq6oNH/AHJmZS/78fLF7S/fDu20/ah+4UMcJGf7xl8kb9PTscP82wAAAABJRU5ErkJggg==") no-repeat left 1px;
    padding-left: 16px;
    height: 20px;
}

.NB-button.hover div,
.NB-button.selected div { 
    background: #217412;
    box-shadow: none;
}

.NB-button.hover .nb-story-comment-like-button-wrapper a 
.NB-button.selected .nb-story-comment-like-button-wrapper a {
    background: transparent url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAFkSURBVCiRbZC/6xNBFMTn7e1mDVyhWIlgZSFYqSBEEsEQCUTBxsLKv0TBWrQWrGwtjFU603oEFP0T0ljYyt1lf+TNWgXCl5ty5g0f5gEDaprmQdM0T4cyuWhst1up6/o7gMs553vT6bQ/z83Fgvf+mXPuvnPuFskXg4TNZnNpPB5fE5GrdV1/9N7fIYkQwr5t25cA/qSU/q5Wq052u90ba+0jAHdFpLbWIsYIVcVoNELOGap6IPk75/zTkNyTfOi9r6uqwuFwQEoJKSV0XQeScM6NSU5KKXszmUw+hRAe933/DwBUFaUUAMDxeISIIITQppSez+fz9wYAZrPZtxjjK1UtzjmoKkiiqiqUUpBS+rBYLL4AgD2tL6W0JCEi8N7jnEYyDL31tjFGAIBkUtXWGAMRgareOB2dE673fY+c87sY41eSyVr7REReq+qVocLnruveLpfLX2fUH+v1eu2cu3ky/gOHFMgsTjV4FQAAAABJRU5ErkJggg==") no-repeat left 1px;
}

.NB-button a,
.NB-button.NB-share-button a {
    padding-top: 1px;
    line-height: 16px;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: #606060;
    text-shadow:
        0px 0px 0px rgba(000,000,000,0),
        0px 1px 0px rgba(255,255,255,1);
}

.NB-button.hover a,
.NB-button.selected a {
    color: rgba(255,255,255,1);    
    text-shadow: none;
}