/**
 * Font Size Style
 */

.NB-story {
    line-height: 1.5em;
}
.NB-extra-small .NB-story,
.NB-extra-small .NB-story-comment {
    font-size: 12px;
}

.NB-small .NB-story,
.NB-small .NB-story-comment {
    font-size: 13px;
}

.NB-medium .NB-story,
.NB-medium .NB-story-comment {
    font-size: 14px;
}

.NB-large .NB-story,
.NB-large .NB-story-comment {
    font-size: 15px;
}

.NB-extra-large .NB-story,
.NB-extra-large .NB-story-comment {
    font-size: 17px;
}

.NB-san-serif {
    font-family: Helvetica;
}

.NB-serif {
    font-family: georgia;
}

/**
 * iPad Wide Style
 */

.NB-ipad-wide .NB-header {
    padding: 15px 0 5px;
}

.NB-ipad-wide .NB-header .NB-header-inner {
    margin: 0px 90px;
}

.NB-ipad-wide .NB-story {
    margin: 30px 90px;
}

.NB-ipad-wide .NB-share-inner-wrapper {
    margin: 0 90px;
}

.NB-ipad-wide#story_pane .nb-story-comments-public-teaser, 
.NB-ipad-wide#story_pane .nb-story-comments-public-header,
.NB-ipad-wide#story_pane .NB-story-comments-shares-teaser {
    padding-left: 90px;
    padding-right: 90px;
}

.NB-ipad-wide#story_pane .nb-story-comment {
    padding: 0 90px 2px 150px;
}

.NB-ipad-wide#story_pane .nb-story-comment .nb-user-avatar { 
    left: 88px;
}
.NB-ipad-wide#story_pane .nb-story-comment .nb-story-comment-reshares .nb-user-avatar {
    left: 108px;
}

/**
 * iPad Narrow Style
 */

.NB-ipad-narrow .NB-header {
    padding: 15px 30px 5px;
}

.NB-ipad-narrow .NB-story {
    margin: 25px 30px;
}

.NB-ipad-narrow .NB-share-inner-wrapper {
    margin: 0 30px;
}

.NB-ipad-narrow#story_pane .nb-story-comments-public-teaser, 
.NB-ipad-narrow#story_pane .nb-story-comments-public-header,
.NB-ipad-narrow#story_pane .NB-story-comments-shares-teaser {
    padding-left: 30px;
    padding-right: 30px;
}

.NB-ipad-narrow#story_pane .nb-story-comment {
    padding: 0 30px 2px 90px;
}
.NB-ipad-narrow#story_pane .NB-story-comment .NB-user-avatar {
    left: 26px;
}
.NB-ipad-narrow#story_pane .nb-story-comment .nb-story-comment-reshares .nb-user-avatar {
    left: 45px;
}

.NB-ipad-narrow#story_pane .NB-story-comment .NB-user-avatar.NB-story-comment-reshare {
    left: 26px;
}

/**
 * iPhone Style
 */

.NB-iphone .NB-header {
    padding: 12px 12px 5px;
}

.NB-iphone .NB-story {
    margin: 12px 12px;
}

.NB-iphone .NB-share-inner-wrapper {
    margin: 0 12px;
}
/*
.NB-iphone .NB-story img {
    max-width: 290px !important;
}


/**
 * Universal Style
 */

body {
    text-rendering: optimizeLegibility;
    margin: 0;

    -webkit-text-size-adjust: none; 
    font-size: 14px;
    line-height: 120%;
    overflow: hidden;
    font-family: Helvetica;
}

body.NB-iphone {
    line-height: 110%;
}

.NB-story-author {
    color: #969696;
    text-decoration: none;
    text-transform: uppercase;
    margin: 4px 8px 0px 0;
    margin-bottom: 8px;
    text-shadow: 0 1px 0 #F9F9F9;
    float: left;
    position: relative;
}
.NB-story-author-positive {
    color: #58A353;
    text-shadow: 0 1px 0 #E9F6E9;
}
.NB-story-author-negative {
    color: #B85044;
    text-shadow: 0 1px 0 #F6E9E9;
}
.NB-story-tags {
    overflow: hidden;
    padding: 5px 2px 2px 2px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.NB-story-tag {
    float: left;
    text-decoration: none;
    font-weight: normal;
    padding: 0px 4px 0px;
    margin: 0px 4px 4px 0;
    background-color: #C9CBC6;
    color: #505050;
    text-shadow: 0 1px 0 #E0E8DB;
    -webkit-border-radius: 4px;
    position: relative;
}
.NB-story-tag-positive {
    background-color: #88B383;
    color: white;
    text-shadow: 0 1px 0 #588353;
}
.NB-story-tag-negative {
    background-color: #C89094;
    color: white;
    text-shadow: 0 1px 0 #986064;
}
.NB-story-tag .NB-highlight,
.NB-story-author .NB-highlight,
.NB-show-profile .NB-highlight {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: #000;
    opacity: .25;
    border-radius: 4px;
    display: none;
}
.NB-story-tag.pressed .NB-highlight,
.NB-story-author.pressed .NB-highlight,
.pressed .NB-show-profile .NB-highlight,
.NB-show-profile.pressed .NB-highlight {
    display: block;
    
}

.NB-story-date {
    color: #454D6C;
}

.NB-story-author {
    font-size: 10px;
    line-height: 12px
}

.NB-story-tags {
    line-height: 12px;
    height: 12px;
}

.NB-story-tag {
    font-size: 9px;
}

.NB-story-date {
    font-size: 11px;
    line-height: 13px;
}

.NB-story h1, 
.NB-story h2,
.NB-story h3,
.NB-story h4,
.NB-story h5,
.NB-story h6,
.NB-story div,
.NB-story table,
.NB-story span,
.NB-story pre,
.NB-story code {
    overflow: auto;
    clear: both;

}

.NB-story h1, 
.NB-story h2,
.NB-story h3,
.NB-story h4,
.NB-story h5,
.NB-story h6 {
    line-height: 140%;
}

.NB-iphone .NB-story h1, 
.NB-iphone .NB-story h2,
.NB-iphone .NB-story h3,
.NB-iphone .NB-story h4,
.NB-iphone .NB-story h5,
.NB-iphone .NB-story h6 {
    line-height: 120%;
    font-size: 1.1em;
}


a {
    text-decoration: none;
}

.NB-story blockquote {
    background-color: #F0F0F0;
    border-left: 1px solid #9B9B9B;
    padding: 10px 20px;
    margin: 20px 0;
}

div + p {
    margin: 20px 0px 20px 0;
}

.NB-story p {
    margin: 0px 0px 20px 0;
    clear: both;
}

.NB-story small {
    font-size: 11px;
}

.NB-header {
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 600;
    background-color: #E0E0E0;
    border-bottom: 1px solid #A0A0A0;
    text-shadow: 1px 1px 0 #EFEFEF;
    overflow: hidden;
    max-width: none;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.NB-iphone .NB-header {
    font-size: 14px;
}

.NB-story {
    overflow: hidden;
}

.NB-story a.NB-contains-image {
    display: block;
}

.NB-story div {
    max-width: 100% !important;
}
.NB-story img {
    margin: 20px auto;
    height: auto !important;
    width: auto;
    max-width: 100% !important;
    display: none;
}

.NB-story img.NB-large-image,
.NB-story img.NB-medium-image {
    margin: 20px auto !important;
    display: block !important;
    width: auto;
    height: auto;
    display: block;
    float: none;
    clear: both;
}

.NB-story img.NB-small-image {
    display: inline-block;
    margin: 2px;
}

.NB-feed-story-comments {
    clear: both;
}

.NB-story-title {
    clear: left;
    margin: 8px 0 4px;
}

.NB-story-title-positive {
    color: #58A353;
    text-shadow: 0 1px 0 #E9F6E9;
}
.NB-story-title-negative {
    color: #B85044;
    text-shadow: 0 1px 0 #F6E9E9;
}
ins {
    text-decoration: none;
}

del {
    display: none;
}

/* Comments */

.NB-feed-story-comments {
    margin: 0 !important;
    clear: both !important;
    max-width: none !important;
}

#story_pane .NB-story-comments-shares-teaser.NB-highlighted {
    -webkit-transition: background-color .6s linear;
    background-color: #FBE5C7;
}

#story_pane .NB-story-comments-shares-teaser {
    -webkit-transition: background-color .6s linear;
}

#story_pane .NB-story-comment-reply.NB-highlighted {
    background-color: #FBE5C7;
}

#story_pane .NB-story-comment.NB-highlighted {
    -webkit-transition: background-color .6s linear;
    background-color: #FBE5C7;
}

#story_pane .NB-story-comment-reply,
#story_pane .NB-story-comment {
    -webkit-transition: background-color .6s linear;
}
#story_pane .NB-story-comment-reply .NB-show-profile {
    float: left;
    left: -42px;
}
.NB-story-comment:last-child {
            border-bottom: 1px solid #A6A6A6;
}

#story_pane .NB-story-comment .NB-story-comment-content {
    float: none;
}

.nb-story-comments-label {
    float: left;
    margin-right: 2px;
    margin-top: 6px;
}

.nb-story-share-label {
    float: right;
    margin-top: 6px;
    margin-left: 2px;
}

/* Sharing */

.NB-share-wrapper {
    margin-top: 36px;
}

a.NB-show-profile {
    margin: 0 0 0 2px;
    position: relative;
    display: inline-block;
}

/* Disable certain interactions on touch devices */
.NB-button,
a.NB-show-profile {
    -webkit-text-size-adjust: none; 
    -webkit-user-select: none; 
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

.NB-header,
#NB-share-bar-wrapper {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.NB-button.NB-share-button {
    line-height: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #606060;
    float: none;
    display: block;
    text-shadow:
    0px 0px 0px rgba(000,000,000,0),
    0px 1px 0px rgba(255,255,255,1);
}

.NB-button.NB-share-button a {
    display: block;
}

.NB-share-button.active,
.NB-save-button.active {
    background: #217412;
    box-shadow: none;
}

/* Edit, Like, and Reply buttons */

.NB-button {
    padding: 0px 0px 4px 4px;
    cursor: pointer;
    white-space: nowrap;
    float: right;
}

.NB-button.NB-share-button {
    float: left;
    padding: 0px 0px 20px 0px;
    margin: 0 0 0 0;
    display: block;
    width: 48%;
}
.NB-button.NB-train-button {
    float: right;
}

.NB-button div {
    padding: 2px 6px;
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#F0F0F0),
        color-stop(0.50, #EBEBEB),
        color-stop(0.50, #E4E4E4),
        to(#C0C0C0));

    border-radius: 3px;
    border: 1px solid #949494;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1);
}

.NB-iphone .NB-button div {
    padding: 0px 5px 0px;
}

.NB-iphone #story_pane .NB-story-comment .NB-story-comment-content {
    padding-bottom: 0px;
}

.NB-button.NB-share-button div { 
    padding: 8px 0px 8px;
    border-radius: 5px;
    text-align: center;
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#42aaff),
        to(#1e78c1));
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .6);
    text-shadow: 0 1px 0 #003366;
}

.NB-button.NB-share-button .NB-icon {
    background: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACGUlEQVR42o2TTUsbYRSFZ+MvcNn/0EU1rSCCgkSxVRCLFgyiqFSE1tDSpNKoEaQJiAvBryDZGCVQKWIpWIeAFMHWL1qKjUJ3KRQSNUgSJzPR5PieMRMqjuLibAaec+577xkJwJ30p0jqEloXiglpQlmh3F3AaaEogWhnMw6dPTgafIljtx3i262gTSgSKbuPQ8dzxEfsSEw6kHBV4NRThrOVAaSd0o2wX0iJdj9D3PMaJ/1WKF4LtMlHyExf6jw0CO2dZAovCmWOBl4gMeFAyv0AmTyoLVRCXa1H+nsLtMgUktslpsmZ46E+JGedUMcsl2CwCumvTVD22qAcdOjS/vmQ3LVce7PCZMLa+EMdVj/XQflp06G/ezZ8/NYAV6gKUz+GcM8vXTGI8M0c20hW5QYo4XacCnhxox5dK+Wo+1SKmuUSeHdcKJ6VrpwqF3//Cqnh0kIy4djvNoyuVeNJHmwNONDrCyIg/8LjN0sFgyhPlfK/5cL4Zo7NZB2uFWDjh6fonQliXg5jQd7H3JcwDQoNy/LOPBXT9YXlx2YyYXcgpIPe+S10emTCqtAmDdbZMJaEd+apuG0ujG/m2EwmbB9fM0CrsTsaxFhPNozpvDPTuW0ujG/m2EwmbID/G2jsNutJA5aEBjyVnu7T042xrWYGWf4Y7DbryYaxJLwzT8Vtc2FGuplBTog/BrvNerJhLAnvTNDQppnBBZHZrv4ITeFuAAAAAElFTkSuQmCC") no-repeat top right;
    width: 23px;
    display: inline-block;
    height: 16px;
    margin: 0 2px -2px -12px;
}

.NB-button.NB-train-button .NB-icon {
    background: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACxElEQVR42qWT30+SURzG6a553d/QdffOq7Y2t4xEhgSYvCIM5ddUfi0QdcsMp6Ij8EcFgkoiGqFUCGYyp2Kp02XOzDUVGypcsKJYNzy9nM0517jq4tnOzvt9Pt/ne95zGAD+S/9sfHjcWhQ1qovfqRX8uIjCUWU5UbymGnNq+f2oQV2crykI2NA3xVIqJZJSCU5pU1qvR1qtJuukrA6pBhXWdI2xgoCvPHbuh9GIrLUfp9JaxLksInpN9vLfvnDKchGN4joBtDpNRRpbU7HKIufrxpU4YN1Gxu1GSl6PMxFFTOewM4kYCUpAj8QEDbhBAA8cmlh70AiTXwu9T4VD9h38CQTxy25Dsl5CIqcalfgu4OXNZJQjbvkFQDZcm7OEH8G9PAjjlDpPJ4CMvR8ZqxXp7i6cCAXEfEJVEcClBGJnFeZ3ZmEJd0A/2YD9exWkc8Y+gJ99fUh3mpGo5ueNBHBMd99ll+a0JvtNXZeniCEdFmL12xJmt4OYWB3FkK8NiwoKB9y75E/QKchZHPO52GeVYl4kRIvZg4ahKGTtYzFGnasGS3sLmNmcQmDDB0/MAe2EAiaDDTGKhzgNOuAwEavm4qG+F5LeCCwzWzC4l8HUe3MMmVOU8697MbnmgXfVDefSINReGZjGl3gV20eb8z3E3SFiokUA0r45CDvfgmUKgNFoUZbI7dKEfESCwQUrRlcc5CzKTX7MbcbhW9yDI/QJzSMrUA1EITC/IeaanjDYrQGQy5PNZq+oehUisY3K1LtFqHNRhB5aP8TYwi5e0Hoe3oawK0TMVHeIAEgC4LKUPfJrSov8KqdlKueMfIYjsoNndIIndPwqM+lMAJy2aZRpxnMFX5nE2F/CNwwnuHSh2fcRtuAWRD0R8Dpeo0znA0fzNElprbcKAC5GkzYP1VbqXRlO6zQd2Y8Kjeu3UGdrOq/5C7Lktmdg8uWWAAAAAElFTkSuQmCC") no-repeat top right;
}

.NB-iphone .NB-button .NB-story-comment-like-button-wrapper,
.NB-button .NB-story-comment-like-button-wrapper {
    position: relative;
    overflow: hidden;
}

.NB-button .NB-story-comment-like-button-wrapper span {
    background: transparent url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAGmSURBVCiRbZG/axRBHMXfzO7tbvYua+IFJQa0sRBs1IiQFIEIgvgDEUSs7CSFCJLaA1MJYjrFI5VgmkBiCDYWNgZJlaB/wgknxOT0Lnt7s7Mz852xOgzxXvne98OXxwMG6PXm3PSbzblbgzJ21Kit3mcT4ye34NyI0AeT87PvxeGcHwVGj0d34lJyJQ6Gz1myDwZ+eLpxOapGp8Y95lVPVM4sDUdjF8kSOmK3sZ81HhpGP4XMfi3e3eqx+tcnzyM/ngVjlzjjlcgvIy1aUEaiHIwg110oynNjzXep0h1OVjeMVTNJWK34Xoh2vous6ECoA7R6TRhSiEvJEFk1Rc40+OOZ+rtU7l9r9ZopA1BoAecsHIBcZ/B4CZ18L8uK9r3a9Y+LHADmry5/TmXrmabCDQUJFEkYKhD6EcgZ9FT77cKNT2sA4PfbO7jMWA3OfBwLxwDmILUAOQ1jSPbv/gHOnvdZiWlXQFulyGrle0GFgUFJOj0ImPgtmhCq+6or/6wbp1TIyzc9imq6oNH/AHJmZS/78fLF7S/fDu20/ah+4UMcJGf7xl8kb9PTscP82wAAAABJRU5ErkJggg==") no-repeat center center;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin: 0 6px;
}

.NB-button.selected div { 
    background: #2379bf;
    background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#1e78c1),
    to(#2379bf));
    box-shadow: none;
}

.NB-button.NB-share-button.selected div{ 
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 1);
}

.NB-button a {
    display: inline-block;
    padding-top: 1px;
    line-height: 16px;
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    color: #606060;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
}

.NB-button.NB-share-button a {
    color: #FFF;
    text-shadow: none;
    font-size: 14px;
}

.NB-button.selected a {
    color: rgba(255,255,255,1);    
    text-shadow: none;
}