build.xml
custom_rules.xml
local.properties
*.java.swo
*.java.swp
*.xml.swo
*.xml.swp
*.css.swo
*.css.swp
*.iml
out/
bin/
.metadata/
gen/
libs/ActionBarSherlock/
.settings/
.classpath
.project
.gradle/
app/
gradle/
*.gradle
