<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newsblur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/newsblur"
        android:theme="@style/NewsBlurTheme"
        android:hardwareAccelerated="true"
        android:fullBackupContent="@xml/backupscheme"
        android:name=".NbApplication">
        
        <activity
            android:name=".activity.InitActivity"
            android:label="@string/newsblur"
            android:theme="@style/splashScreen"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:name=".activity.Login"
            android:label="@string/newsblur"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        
        <activity
            android:name=".activity.LoginProgress"
            android:noHistory="true"
            android:label="@string/newsblur" />
       	
		<activity
            android:name=".activity.RegisterProgress"
            android:noHistory="true"
            android:label="@string/get_started" />
		
		<activity
            android:name=".activity.AddTwitter"
            android:label="@string/add_twitter" />
		
			<activity
            android:name=".activity.AddFacebook"
            android:label="@string/add_facebook" />
		
		<activity
            android:name=".activity.AddSocial"
            android:label="@string/add_friends" />
        
        <activity
            android:name=".activity.Main"
            android:label="@string/newsblur"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true" />
        
        <activity
            android:name=".activity.Profile"
            android:label="@string/profile"/>
        
        <activity
            android:name=".activity.Settings"
            android:label="@string/settings"/>

        <activity android:name=".activity.ImportExportActivity" />
        <activity android:name=".activity.NotificationsActivity" />
        <activity
            android:name=".activity.WidgetConfig"
            android:launchMode="singleTask"
            android:label="@string/menu_widget" />
        
        <activity
            android:name=".activity.FeedItemsList" />
        
        <activity
            android:name=".activity.AllStoriesItemsList"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activity.InfrequentItemsList" />

        <activity
            android:name=".activity.ReadStoriesItemsList" />

        <activity
            android:name=".activity.SavedStoriesItemsList" />
         
        <activity
            android:name=".activity.AllSharedStoriesItemsList" />

        <activity
            android:name=".activity.GlobalSharedStoriesItemsList" />
        
        <activity
            android:name=".activity.FolderItemsList" />
        
        <activity
            android:name=".activity.SocialFeedItemsList" />
        
        <activity
            android:name=".activity.FeedReading"/>
        
        <activity
            android:name=".activity.AllStoriesReading"/>

        <activity
            android:name=".activity.InfrequentReading"/>

        <activity
            android:name=".activity.ReadStoriesReading"/>

        <activity
            android:name=".activity.SavedStoriesReading"/>
        
        <activity
            android:name=".activity.AllSharedStoriesReading"/>

        <activity
            android:name=".activity.GlobalSharedStoriesReading"/>
        
        <activity
            android:name=".activity.FolderReading"/>

        <activity
            android:name=".activity.Premium" />

        <activity
            android:name=".activity.MuteConfig"
            android:launchMode="singleTask"
            android:label="@string/mute_sites"/>

        <activity
            android:name=".activity.FeedSearchActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.SocialFeedReading"/>

        <service
            android:name=".service.NBSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".widget.WidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".service.SubscriptionSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <receiver android:name=".service.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".util.NotifyDismissReceiver" android:exported="false" />
        <receiver android:name=".util.NotifySaveReceiver" android:exported="false" />
        <receiver android:name=".util.NotifyMarkreadReceiver" android:exported="false" />
        <receiver android:name=".util.NotifyShareReceiver" android:exported="false" />
        <receiver android:name=".widget.WidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/newsblur_appwidget_info" />
        </receiver>
        <receiver android:name=".service.TimeChangeReceiver"
            android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.WidgetUpdateReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.newsblur.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.AddFeedExternal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <data android:pathPattern=".*xml"/>
                <data android:pathPattern=".*rss"/>
                <data android:pathPattern=".*atom"/>
                <data android:pathPattern=".*json"/>
                <data android:pathPattern=".*/feed.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="feed" />
                <data android:scheme="rss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="feeds.feedburner.com"/>
                <data android:host="feeds2.feedburner.com"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/xml"/>
                <data android:mimeType="application/rss+xml"/>
                <data android:mimeType="application/atom+xml"/>
                <data android:mimeType="application/xml"/>
                <data android:mimeType="application/json"/>
                <data android:mimeType="application/feed+json"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShareExternalStoryActivity"
            android:theme="@style/Theme.Translucent"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

    </application>

</manifest>
