<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newsblur"
    android:versionCode="129"
    android:versionName="4.10.0b3" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/newsblur"
        android:theme="@style/NewsBlurTheme"
        android:hardwareAccelerated="true"
        android:fullBackupContent="@xml/backupscheme" >
        
        <activity
            android:name=".activity.InitActivity"
            android:label="@string/newsblur"
            android:theme="@style/initStyle"
            android:noHistory="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Login"
            android:label="@string/newsblur"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize">
        </activity>
        
        <activity
            android:name=".activity.LoginProgress"
            android:noHistory="true"
            android:label="@string/newsblur" />
       	
		<activity
            android:name=".activity.RegisterProgress"
            android:noHistory="true"
            android:label="@string/get_started" />
		
		<activity
            android:name=".activity.AddTwitter"
            android:label="@string/add_twitter" />
		
			<activity
            android:name=".activity.AddFacebook"
            android:label="@string/add_facebook" />
		
		<activity
            android:name=".activity.AddSocial"
            android:label="@string/add_friends" />
        
        <activity
            android:name=".activity.Main"
            android:label="@string/newsblur"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true" />
        
        <activity
            android:name=".activity.Profile"
            android:label="@string/profile"/>
        
        <activity
            android:name=".activity.Settings"
            android:label="@string/settings"/>
        
        <activity
            android:name=".activity.FeedItemsList" />
        
        <activity
            android:name=".activity.AllStoriesItemsList" />

        <activity
            android:name=".activity.ReadStoriesItemsList" />

        <activity
            android:name=".activity.SavedStoriesItemsList" />
         
        <activity
            android:name=".activity.AllSharedStoriesItemsList" />

        <activity
            android:name=".activity.GlobalSharedStoriesItemsList" />
        
        <activity
            android:name=".activity.FolderItemsList" />
        
        <activity
            android:name=".activity.SocialFeedItemsList" />
        
        <activity
            android:name=".activity.FeedReading"/>
        
        <activity
            android:name=".activity.AllStoriesReading"/>

        <activity
            android:name=".activity.ReadStoriesReading"/>

        <activity
            android:name=".activity.SavedStoriesReading"/>
        
        <activity
            android:name=".activity.AllSharedStoriesReading"/>

        <activity
            android:name=".activity.GlobalSharedStoriesReading"/>
        
        <activity
            android:name=".activity.FolderReading"/>
        
        <activity 
            android:name=".activity.SearchForFeeds" android:launchMode="singleTop" >
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>    
    	</activity>
        
        <activity
            android:name=".activity.SocialFeedReading"/>

        <service android:name=".service.NBSyncService" />

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.ServiceScheduleReceiver" />

    </application>

</manifest>
