body {
	background-color: #FFF;
    overflow: hidden;
    line-height: 1.5em;
    width: 100%;
    max-width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.NB-story {
    max-width: 100%;
    overflow: hidden;
    margin: 0;
}

p, div, table {
	line-height: 1.5em;
    clear: both;
    max-width: 100% !important;
    margin: 0px !important;
}

p {
    margin-bottom: 0.6em !important;
}

img {
    margin: 10px auto;
}

img, video, embed, object, iframe, div {
	width: auto;
    max-width: 100% !important;
	height: auto !important;	
}

a {
	color: #405BA8;	
	text-decoration: none;
}

a:visited {
	color: #405BA8;
}

code {
    background-color: #F0F0F0 !important;
    word-wrap: break-word !important;
}

pre, blockquote {
    background-color: #F0F0F0;
    border-left: 1px solid #C2C5BE;
    color: rgba(10, 12, 38, .8);
    padding: 0.6em;
    margin: 0.6em;
}

ins { 
	text-decoration: none;
}

del {
    display: none;
}
