body {
    overflow: hidden;
    line-height: 1.5em;
    width: 100%;
    max-width: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

.NB-story {
    max-width: 100%;
    overflow: hidden;
    margin: 0;
}

p, div, table {
	line-height: 1.5em;
    clear: both;
	width: auto !important;
    max-width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

p {
    margin-bottom: 0.6em !important;
}

img, video, embed, object, iframe, div, figure, dl, dt {
	width: auto !important;
    max-width: 100% !important;
	height: auto !important;	
    margin-left: 0px !important;
    margin-right: 0px !important;
}

iframe {
	width: 100% !important;
}

a {
	text-decoration: none;
}

code {
    word-wrap: break-word !important;
}

pre, blockquote {
    border-left: 1px solid #C2C5BE;
    padding: 0.6em;
    margin: 0.6em;
    word-wrap: break-word !important;
}

ins { 
	text-decoration: none;
}

del {
    display: none;
}
