{% load compressed utils_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}NewsBlur{% endblock %}</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" HREF="/media/img/favicon.png">

  <script type="text/javascript" charset="utf-8">
    var NEWSBLUR = {};
    NEWSBLUR.Globals = {
      'is_authenticated': {{ user.is_authenticated|yesno:"true,false" }},
      'is_anonymous': {{ user.is_anonymous|yesno:"true,false" }},
      'is_premium': {{ user.profile.is_premium|yesno:"true,false" }},
      'username': "{{ user.username|safe }}",
      'google_favicon_url': 'http://www.google.com/s2/favicons?domain_url=',
      'MEDIA_URL': "{{ MEDIA_URL }}"
    };
    NEWSBLUR.Flags = {
      'start_import_from_google_reader': true <!--{{ start_import_from_google_reader|yesno:"true,false" }}-->
    };
    NEWSBLUR.Preferences = {
      'unread_view': 0,
      'lock_mouse_indicator': 0,
      'feed_pane_size': 240,
      'story_titles_pane_size': 168,
      'new_window': 0,
      'default_view': 'page',
      'hide_read_feeds': 0,
      'view_settings': {},
      'collapsed_folders': [],
      'timezone': "{{ user_profile.timezone }}"
    };
    NEWSBLUR.URLs = {
      'google-reader-authorize': "{% url google-reader-authorize %}"
    };
  </script>
  
  {% compressed_css 'all' %}
  {% block head_js %}
    {% compressed_js 'all' %}
  {% endblock head_js %}
  {% block extra_head_js %}
  {% endblock extra_head_js %}
  
  <script type="text/javascript" charset="utf-8">
    $.extend(NEWSBLUR.Preferences, {% if user_profile.preferences %}{{ user_profile.preferences|safe }}{% else %}{}{% endif %});
    $.extend(NEWSBLUR.Preferences['view_settings'], {% if user_profile.view_settings %}{{ user_profile.view_settings|safe }}{% else %}{}{% endif %});
    $.extend(NEWSBLUR.Preferences['collapsed_folders'], {% if user_profile.collapsed_folders %}{{ user_profile.collapsed_folders|safe }}{% else %}[]{% endif %});
  </script>
    
  {% if not debug %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8371683-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% endif %}
</head>

<body>
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}

</body>
</html>
