<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{% block title %}NewsBlur{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reader.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}theme/ui.theme.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-theme/jquery-ui-1.7.2.custom.css" /> -->

    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.easing.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.newsblur.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.scrollTo.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.timers.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.corners.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.dropshadow.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.simplemodal-1.3.js"></script>
   <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.layout.js"></script>

	<script type="text/javascript" charset="utf-8">

		NEWSBLUR.Globals = {
			'is_authenticated': {{ user_info.is_authenticated|safe }},
			'is_anonymous': {{ user_info.is_anonymous|safe }},
			'username': {{ user_info.username|safe }}
		};

	</script>
	
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/newsblur/assetmodel.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}js/newsblur/reader.js"></script>

    
</head>

<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8371683-2");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
