---
- name: Allow haproxy stats port
  ufw: rule=allow port={{ item }}
  become: yes
  tags: ufw
  with_items:
    - "8000"

- name: Copy app secrets
  copy:
    src: /srv/secrets-newsblur/settings/docker_settings.py
    dest: /srv/newsblur/newsblur_web/local_settings.py
  register: app_changed

- name: Add SERVER_NAME to app secrets
  lineinfile:
    path: /srv/newsblur/newsblur_web/local_settings.py
    line: 'SERVER_NAME = "{{ inventory_hostname }}"'

- name: Start NewsBlur Web Docker container
  become: yes
  docker_container:
    name: newsblur_web
    image: newsblur/newsblur_python3
    container_default_behavior: no_defaults
    pull: yes
    env:
      DOCKERBUILD: ""
    state: started
    command: gunicorn --config /srv/newsblur/config/gunicorn_conf.py newsblur_web.wsgi:application
    network_mode: host
    restart_policy: unless-stopped
    volumes:
      - /srv/newsblur:/srv/newsblur
      - /etc/hosts:/etc/hosts

- name: Register web app in consul
  tags: consul
  become: yes
  template:
    src: consul_service.json
    dest: /etc/consul.d/newsblur_web.json
  notify:
    - reload consul

- name: Reload gunicorn
  debug: 
    msg: Reloading gunicorn
  notify: reload gunicorn
  when: app_changed.changed
  changed_when: app_changed.changed
