/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  background: url('/media/img/circular/background.png') repeat 0 0;
  font-family: Helvetica, arial, san-serif;
  color: #333333;
}

/* line 20, ../sass/screen.scss */
a {
  color: #333333;
  text-decoration: none;
}

/* line 25, ../sass/screen.scss */
.NB-page {
  width: 700px;
  margin: 0 auto;
}

/* line 30, ../sass/screen.scss */
.NB-header {
  background: url('/media/img/circular/header_background.png') repeat-x 0 0;
  height: 99px;
  display: none;
}

/* line 36, ../sass/screen.scss */
.NB-mark {
  margin: 20px 0;
}

/* line 40, ../sass/screen.scss */
.NB-story-wrapper {
  border-left: 5px solid #fff;
  padding: 25px;
  background: #fff;
}
/* line 46, ../sass/screen.scss */
.NB-story-wrapper .NB-story-title a {
  font-size: 20px;
  font-weight: bold;
  line-height: 120%;
  text-decoration: none;
  color: #333333;
}
/* line 54, ../sass/screen.scss */
.NB-story-wrapper .NB-story-title span {
  font-size: 14px;
  color: gray;
  font-weight: normal;
  display: inline-block;
  /* to ensure that the author is always on one line */
}

/* line 63, ../sass/screen.scss */
.NB-story {
  font-size: 14px;
  line-height: 140%;
}
/* line 67, ../sass/screen.scss */
.NB-story p {
  margin: 20px 0;
}

/* line 72, ../sass/screen.scss */
.NB-story-shares-container {
  background: #000;
}

/* line 76, ../sass/screen.scss */
.NB-feed {
  margin: 10px 0;
}
/* line 79, ../sass/screen.scss */
.NB-feed a {
  color: gray;
  font-size: 14px;
}
/* line 83, ../sass/screen.scss */
.NB-feed img {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
