/* line 17, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 88, ../sass/screen.scss */
body {
  background: #ebedee url('/../../../media/img/circular/background.png?1345246675') repeat 0 0;
  font-family: Helvetica, arial, san-serif;
  color: #333333;
}

/* line 94, ../sass/screen.scss */
a {
  color: #333333;
  text-decoration: none;
}

/* line 99, ../sass/screen.scss */
.NB-hidden {
  display: none;
}

/* line 103, ../sass/screen.scss */
.NB-left {
  float: left;
}

/* line 106, ../sass/screen.scss */
.NB-right {
  float: right;
}

/* line 109, ../sass/screen.scss */
.NB-raquo {
  font-size: 18px;
  vertical-align: baseline;
  line-height: 12px;
}

/* line 115, ../sass/screen.scss */
.tipsy {
  font-size: 11px;
}

/* line 118, ../sass/screen.scss */
.tipsy-inner {
  padding: 2px 9px 2px;
}

/* line 122, ../sass/screen.scss */
blockquote {
  background-color: #F0F0F0;
  border-left: 1px solid #9B9B9B;
  padding: .5em 2em;
  margin: 0px;
}

/* line 128, ../sass/screen.scss */
.NB-spinner {
  width: 16px;
  height: 16px;
  background: url("/media/embed/reader/recycle_spinner.gif") no-repeat 0 0;
  display: none;
}

/* line 134, ../sass/screen.scss */
.NB-spinner.NB-active {
  display: block;
}

/* line 142, ../sass/screen.scss */
.NB-page {
  width: 700px;
  margin: 0 auto;
  padding-top: 80px;
}

/* line 148, ../sass/screen.scss */
.NB-header {
  display: none;
}

/* line 152, ../sass/screen.scss */
.NB-footer-logo {
  margin: 100px auto;
  width: 700px;
  text-align: center;
}

/* line 158, ../sass/screen.scss */
.NC-blue-button {
  border: 1px solid #4388b5;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px #80c5f2;
  -moz-box-shadow: inset 0px 0px 2px #80c5f2;
  box-shadow: inset 0px 0px 2px #80c5f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eb4e3), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -moz-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -o-linear-gradient(#6eb4e3, #4d98d2);
  background-image: linear-gradient(#6eb4e3, #4d98d2);
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
}
/* line 74, ../sass/screen.scss */
.NC-blue-button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6bb1e0), color-stop(100%, #6bb1e0));
  background-image: -webkit-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -moz-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -o-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: linear-gradient(#6bb1e0, #6bb1e0);
}
/* line 78, ../sass/screen.scss */
.NC-blue-button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d98d2), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#4d98d2, #4d98d2);
  background-image: -moz-linear-gradient(#4d98d2, #4d98d2);
  background-image: -o-linear-gradient(#4d98d2, #4d98d2);
  background-image: linear-gradient(#4d98d2, #4d98d2);
  -webkit-box-shadow: inset 0px 0px 10px #1f74b8;
  -moz-box-shadow: inset 0px 0px 10px #1f74b8;
  box-shadow: inset 0px 0px 10px #1f74b8;
}

/* line 162, ../sass/screen.scss */
.NC-header {
  background: url('/../../../media/img/circular/header_background_transparent.png?1345407031') repeat 0 0;
  height: 72px;
  -webkit-box-shadow: 0px 0px 10px #a7a7a7;
  -moz-box-shadow: 0px 0px 10px #a7a7a7;
  box-shadow: 0px 0px 10px #a7a7a7;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
/* line 172, ../sass/screen.scss */
.NC-header .NC-header-inner {
  width: 700px;
  margin: 0 auto;
  position: relative;
}
/* line 177, ../sass/screen.scss */
.NC-header .NC-header-inner h1.NC-logo a {
  text-indent: -10000em;
  display: block;
  float: left;
  padding-top: 16px;
}
/* line 183, ../sass/screen.scss */
.NC-header .NC-header-inner h1.NC-logo a img {
  float: left;
}
/* line 187, ../sass/screen.scss */
.NC-header .NC-header-inner .NC-request-toggle-button {
  float: right;
  border: 1px solid #4388b5;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px #80c5f2;
  -moz-box-shadow: inset 0px 0px 2px #80c5f2;
  box-shadow: inset 0px 0px 2px #80c5f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eb4e3), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -moz-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -o-linear-gradient(#6eb4e3, #4d98d2);
  background-image: linear-gradient(#6eb4e3, #4d98d2);
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 10px;
}
/* line 74, ../sass/screen.scss */
.NC-header .NC-header-inner .NC-request-toggle-button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6bb1e0), color-stop(100%, #6bb1e0));
  background-image: -webkit-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -moz-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -o-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: linear-gradient(#6bb1e0, #6bb1e0);
}
/* line 78, ../sass/screen.scss */
.NC-header .NC-header-inner .NC-request-toggle-button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d98d2), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#4d98d2, #4d98d2);
  background-image: -moz-linear-gradient(#4d98d2, #4d98d2);
  background-image: -o-linear-gradient(#4d98d2, #4d98d2);
  background-image: linear-gradient(#4d98d2, #4d98d2);
  -webkit-box-shadow: inset 0px 0px 10px #1f74b8;
  -moz-box-shadow: inset 0px 0px 10px #1f74b8;
  box-shadow: inset 0px 0px 10px #1f74b8;
}
/* line 195, ../sass/screen.scss */
.NC-header .NC-header-inner .NC-logout-button,
.NC-header .NC-header-inner .NC-login-toggle-button {
  float: right;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px white;
  -moz-box-shadow: inset 0px 0px 2px white;
  box-shadow: inset 0px 0px 2px white;
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background-image: -moz-linear-gradient(#ffffff, #f6f6f6);
  background-image: -o-linear-gradient(#ffffff, #f6f6f6);
  background-image: linear-gradient(#ffffff, #f6f6f6);
  color: gray;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 10px;
}
/* line 47, ../sass/screen.scss */
.NC-header .NC-header-inner .NC-logout-button:hover,
.NC-header .NC-header-inner .NC-login-toggle-button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f6f6f6, #ffffff);
  background-image: -moz-linear-gradient(#f6f6f6, #ffffff);
  background-image: -o-linear-gradient(#f6f6f6, #ffffff);
  background-image: linear-gradient(#f6f6f6, #ffffff);
}
/* line 51, ../sass/screen.scss */
.NC-header .NC-header-inner .NC-logout-button:active,
.NC-header .NC-header-inner .NC-login-toggle-button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -moz-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -o-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: linear-gradient(#e9e9e9, #e9e9e9);
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
  box-shadow: inset 0px 0px 10px #c1c1c1;
  text-shadow: 0px -1px 1px white;
  color: #333333;
}

/* line 204, ../sass/screen.scss */
.NC-popover {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 308px;
  opacity: 0;
  display: none;
}
/* line 212, ../sass/screen.scss */
.NC-popover.NC-request-popover {
  top: 50px;
  left: 329px;
}
/* line 217, ../sass/screen.scss */
.NC-popover.NC-login-popover {
  top: 50px;
  left: 456px;
}
/* line 222, ../sass/screen.scss */
.NC-popover.NC-active {
  display: block;
}
/* line 226, ../sass/screen.scss */
.NC-popover .NC-popover-inner {
  width: 240px;
  padding: 45px 38px 0 30px;
  background: transparent url('/../../../media/img/circular/popover_top.png?1345248505') no-repeat 0 0;
}
/* line 232, ../sass/screen.scss */
.NC-popover .NC-popover-bottom {
  background: transparent url('/../../../media/img/circular/popover_bottom.png?1345248525') no-repeat left bottom;
  height: 40px;
}
/* line 237, ../sass/screen.scss */
.NC-popover input {
  border: 1px solid #bdbdbd;
  border: 1px solid #BDBDBD;
  padding: 5px;
  width: 228px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
}
/* line 247, ../sass/screen.scss */
.NC-popover .NB-error {
  font-size: 12px;
  color: #6A1000;
  padding: 15px 0 0;
  font-weight: bold;
  line-height: 140%;
  text-align: center;
  margin: 0 10px;
}

/* line 263, ../sass/screen.scss */
.NB-mark {
  margin: 20px 0 50px 0;
}

/* line 267, ../sass/screen.scss */
.NB-story-wrapper {
  border-left: 1px solid #fff;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #c8c8c8;
  -moz-box-shadow: 0px 0px 5px #c8c8c8;
  box-shadow: 0px 0px 5px #c8c8c8;
}
/* line 272, ../sass/screen.scss */
.NB-story-wrapper .NB-story-inner {
  border-left: 4px solid #fff;
  padding: 25px 25px 15px;
  overflow: hidden;
  position: relative;
  /* contains all children */
}
/* line 279, ../sass/screen.scss */
.NB-story-wrapper .NB-story-title a {
  font-size: 21px;
  font-weight: bold;
  line-height: 120%;
  text-decoration: none;
  color: #333333;
}
/* line 288, ../sass/screen.scss */
.NB-story-wrapper .NB-story-metadata {
  font-size: 14px;
  color: gray;
  font-weight: normal;
  display: block;
  /* to ensure that the author is always on one line */
  margin: 5px 0 8px;
}
/* line 296, ../sass/screen.scss */
.NB-story-wrapper .NB-feed {
  margin: 2px 0 10px;
  text-transform: capitalize;
}
/* line 300, ../sass/screen.scss */
.NB-story-wrapper .NB-feed a {
  color: gray;
  font-size: 12px;
}
/* line 305, ../sass/screen.scss */
.NB-story-wrapper .NB-feed img {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* line 314, ../sass/screen.scss */
.NB-story {
  font-size: 14px;
  line-height: 140%;
  position: relative;
  padding-bottom: 48px;
  overflow: hidden;
  /* 
      these styles affect all outside content 
  
  */
}
/* line 321, ../sass/screen.scss */
.NB-story .NB-story-content-wrapper {
  max-height: 300px;
  overflow: hidden;
}
/* line 325, ../sass/screen.scss */
.NB-story .NB-story-content-wrapper.NB-story-content-wrapper-height-fudged {
  max-height: none;
}
/* line 335, ../sass/screen.scss */
.NB-story .NB-story-content {
  margin: 10px 0;
}
/* line 338, ../sass/screen.scss */
.NB-story .NB-story-content p {
  margin: 10px 0;
}
/* line 342, ../sass/screen.scss */
.NB-story .NB-story-content img {
  margin: 10px 0;
}
/* line 346, ../sass/screen.scss */
.NB-story .NB-story-content ins {
  text-decoration: none;
  color: inherit;
}
/* line 351, ../sass/screen.scss */
.NB-story .NB-story-content del {
  display: none;
}
/* line 357, ../sass/screen.scss */
.NB-story .NC-story-cutoff {
  position: absolute;
  display: none;
  bottom: 48px;
  left: 0;
  width: 100%;
  height: 14px;
  z-index: 0;
  background: transparent url('/../../../media/img/circular/module_cutoff.png?1345259189') repeat-x left bottom;
}
/* line 368, ../sass/screen.scss */
.NB-story .NB-story-content-expander {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 18px 25px 14px 0;
  width: 100%;
  cursor: pointer;
  color: #1a9fff;
  font-size: 12px;
}
/* line 379, ../sass/screen.scss */
.NB-story .NB-story-content-expander:hover {
  color: #306187;
}
/* line 382, ../sass/screen.scss */
.NB-story .NB-story-content-expander:active {
  color: #722125;
}
/* line 386, ../sass/screen.scss */
.NB-story .NB-story-content-expander .NB-story-content-expander-text,
.NB-story .NB-story-content-expander .NB-story-content-expander-pages {
  display: inline-block;
}
/* line 390, ../sass/screen.scss */
.NB-story .NB-story-content-expander .NB-story-content-expander-pages {
  line-height: 8px;
  padding: 0 12px;
  font-size: 24px;
}

/* line 398, ../sass/screen.scss */
.NB-story-shares-container {
  text-align: right;
  color: gray;
  font-size: 11px;
  line-height: 16px;
  float: right;
}
/* line 405, ../sass/screen.scss */
.NB-story-shares-container .NB-story-share-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
/* line 414, ../sass/screen.scss */
.NB-story-shares-container .NB-story-share-profiles,
.NB-story-shares-container .NB-story-share-profiles-shares-friends,
.NB-story-shares-container .NB-story-share-profiles-shares-public,
.NB-story-shares-container .NB-story-share-profiles-comments-friends,
.NB-story-shares-container .NB-story-share-profiles-comments-public {
  display: inline-block;
}
/* line 418, ../sass/screen.scss */
.NB-story-shares-container .NB-story-share-profiles-shares-public,
.NB-story-shares-container .NB-story-share-profiles-comments-public {
  opacity: .5;
}
/* line 421, ../sass/screen.scss */
.NB-story-shares-container .NB-user-avatar {
  display: inline-block;
  margin: 2px 1px 0 2px;
}
/* line 425, ../sass/screen.scss */
.NB-story-shares-container .NB-user-avatar img {
  -webkit-box-shadow: 0px 0px 1px #bdbdbd;
  -moz-box-shadow: 0px 0px 1px #bdbdbd;
  box-shadow: 0px 0px 1px #bdbdbd;
  width: 16px;
  height: 16px;
  display: block;
}

/* line 434, ../sass/screen.scss */
body.NC-hide-comments .NB-story-comments-container {
  display: none;
}

/* line 438, ../sass/screen.scss */
.NB-story-comments-container {
  font-size: 14px;
  z-index: 10;
}
/* line 443, ../sass/screen.scss */
.NB-story-comments-container .NB-user-avatar img,
.NB-story-comments-container img.NB-user-avatar {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 15px;
  left: 0;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  /* @include single-box-shadow; gets in the way of transparent PNGs */
}
/* line 453, ../sass/screen.scss */
.NB-story-comments-container .NB-user-avatar.NB-story-comment-reshare img {
  top: 27px;
  left: 0px;
  z-index: 2;
  width: 24px;
  height: 24px;
}
/* line 461, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment {
  padding: 15px 0 18px 44px;
  border-top: 1px solid #bdbdbd;
  position: relative;
  min-height: 32px;
}
/* line 467, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-username {
  float: left;
  font-size: 12px;
  font-weight: bold;
}
/* line 473, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-date {
  float: right;
  font-size: 12px;
  color: gray;
  text-shadow: 0px 1px 1px white;
}
/* line 480, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-location {
  float: left;
  font-size: 12px;
  color: gray;
  text-shadow: 0px 1px 1px white;
  margin-left: 15px;
}
/* line 489, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-reply-button,
.NB-story-comments-container .NB-story-comment .NB-story-comment-edit-button {
  display: none;
}
/* line 493, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-content {
  padding-top: 4px;
  line-height: 18px;
  clear: both;
}
/* line 499, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-reshares .NB-user-avatar img {
  top: 15px;
  left: 12px;
  z-index: 1;
  width: 20px;
  height: 20px;
}
/* line 508, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment-reply {
  margin-top: 15px;
  padding: 15px 0 0px 44px;
  border-top: 1px solid #bdbdbd;
  position: relative;
  min-height: 32px;
}
/* line 515, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment-reply .NB-story-comment-reply-content {
  padding-top: 4px;
  line-height: 18px;
  clear: both;
}
/* line 522, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment-input {
  width: 431px;
  height: 16px;
  font-size: 12px;
  padding: 6px 4px;
  border: 1px solid #bdbdbd;
}
/* line 531, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment-buttons .NB-story-comment-save {
  position: absolute;
  top: 15px;
  right: 0;
  width: 120px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px white;
  -moz-box-shadow: inset 0px 0px 2px white;
  box-shadow: inset 0px 0px 2px white;
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background-image: -moz-linear-gradient(#ffffff, #f6f6f6);
  background-image: -o-linear-gradient(#ffffff, #f6f6f6);
  background-image: linear-gradient(#ffffff, #f6f6f6);
  color: gray;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
}
/* line 47, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment-buttons .NB-story-comment-save:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f6f6f6, #ffffff);
  background-image: -moz-linear-gradient(#f6f6f6, #ffffff);
  background-image: -o-linear-gradient(#f6f6f6, #ffffff);
  background-image: linear-gradient(#f6f6f6, #ffffff);
}
/* line 51, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment-buttons .NB-story-comment-save:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -moz-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -o-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: linear-gradient(#e9e9e9, #e9e9e9);
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
  box-shadow: inset 0px 0px 10px #c1c1c1;
  text-shadow: 0px -1px 1px white;
  color: #333333;
}
/* line 539, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comment-buttons .NB-story-comment-delete {
  display: none;
}
/* line 544, ../sass/screen.scss */
.NB-story-comments-container .NB-story-comments-public-header-wrapper {
  color: gray;
  font-size: 12px;
  border-bottom: 1px solid #bdbdbd;
  padding: 3px 0;
}

/* line 553, ../sass/screen.scss */
.NB-page-controls-next,
.NB-page-controls-end {
  background-color: #6eb4e3;
  border: 1px solid #4388b5;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px #80c5f2;
  -moz-box-shadow: inset 0px 0px 2px #80c5f2;
  box-shadow: inset 0px 0px 2px #80c5f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eb4e3), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -moz-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -o-linear-gradient(#6eb4e3, #4d98d2);
  background-image: linear-gradient(#6eb4e3, #4d98d2);
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .12s ease-out;
  -moz-transition: all .12s ease-out;
  -o-transition: all .12s ease-out;
  -ms-transition: all .12s ease-out;
}
/* line 74, ../sass/screen.scss */
.NB-page-controls-next:hover,
.NB-page-controls-end:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6bb1e0), color-stop(100%, #6bb1e0));
  background-image: -webkit-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -moz-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -o-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: linear-gradient(#6bb1e0, #6bb1e0);
}
/* line 78, ../sass/screen.scss */
.NB-page-controls-next:active,
.NB-page-controls-end:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d98d2), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#4d98d2, #4d98d2);
  background-image: -moz-linear-gradient(#4d98d2, #4d98d2);
  background-image: -o-linear-gradient(#4d98d2, #4d98d2);
  background-image: linear-gradient(#4d98d2, #4d98d2);
  -webkit-box-shadow: inset 0px 0px 10px #1f74b8;
  -moz-box-shadow: inset 0px 0px 10px #1f74b8;
  box-shadow: inset 0px 0px 10px #1f74b8;
}
/* line 564, ../sass/screen.scss */
.NB-page-controls-next .NB-page-controls-text,
.NB-page-controls-end .NB-page-controls-text {
  position: absolute;
  left: 0;
  width: 100%;
  margin-bottom: -15px;
  bottom: 20px;
}
