/* line 17, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/rubies/ruby-1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 91, ../sass/social_page.scss */
body {
  background: #ebedee url('/../../../media/img/circular/background.png?1345246675') repeat 0 0;
  font-family: Helvetica, arial, sans-serif;
  color: #333333;
}
@media screen and (max-width: 480px) {
  /* line 91, ../sass/social_page.scss */
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/* line 102, ../sass/social_page.scss */
a {
  color: #333333;
  text-decoration: none;
}

/* line 107, ../sass/social_page.scss */
.NB-hidden {
  display: none;
}

/* line 111, ../sass/social_page.scss */
.NB-left {
  float: left;
}

/* line 114, ../sass/social_page.scss */
.NB-right {
  float: right;
}

/* line 117, ../sass/social_page.scss */
.NB-raquo {
  font-size: 18px;
  vertical-align: baseline;
  line-height: 12px;
}

/* line 123, ../sass/social_page.scss */
.tipsy {
  font-size: 11px;
}

/* line 126, ../sass/social_page.scss */
.tipsy-inner {
  padding: 2px 9px 2px;
}

/* line 130, ../sass/social_page.scss */
blockquote {
  background-color: #F0F0F0;
  border-left: 1px solid #9B9B9B;
  padding: .5em 2em;
  margin: 10px;
}

/* line 136, ../sass/social_page.scss */
.NB-spinner {
  width: 16px;
  height: 16px;
  background: url("/media/embed/reader/recycle_spinner.gif") no-repeat 0 0;
  display: none;
}

/* line 142, ../sass/social_page.scss */
.NB-spinner.NB-active {
  display: block;
}

/* line 150, ../sass/social_page.scss */
.NB-page {
  max-width: 700px;
  min-width: 300px;
  margin: 10px auto;
  margin-bottom: 100px;
  padding: 0 10px;
}

/* line 158, ../sass/social_page.scss */
.NB-header {
  display: none;
}

/* line 162, ../sass/social_page.scss */
.NC-watermark-logo {
  margin: 20px auto;
  max-width: 700px;
  min-width: 300px;
  text-align: center;
  opacity: 0.0;
  height: 60px;
}
@media screen and (max-width: 480px) {
  /* line 162, ../sass/social_page.scss */
  .NC-watermark-logo {
    height: 40px;
    margin: 10px auto;
  }
}
/* line 175, ../sass/social_page.scss */
.NB-authenticated .NC-watermark-logo {
  opacity: 0.4;
}

/* line 180, ../sass/social_page.scss */
.NC-blue-button {
  border: 1px solid #4388b5;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px #80c5f2;
  -moz-box-shadow: inset 0px 0px 2px #80c5f2;
  box-shadow: inset 0px 0px 2px #80c5f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eb4e3), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -moz-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -o-linear-gradient(#6eb4e3, #4d98d2);
  background-image: linear-gradient(#6eb4e3, #4d98d2);
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
}
/* line 77, ../sass/social_page.scss */
.NC-blue-button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6bb1e0), color-stop(100%, #6bb1e0));
  background-image: -webkit-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -moz-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -o-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: linear-gradient(#6bb1e0, #6bb1e0);
}
/* line 81, ../sass/social_page.scss */
.NC-blue-button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d98d2), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#4d98d2, #4d98d2);
  background-image: -moz-linear-gradient(#4d98d2, #4d98d2);
  background-image: -o-linear-gradient(#4d98d2, #4d98d2);
  background-image: linear-gradient(#4d98d2, #4d98d2);
  -webkit-box-shadow: inset 0px 0px 10px #1f74b8;
  -moz-box-shadow: inset 0px 0px 10px #1f74b8;
  box-shadow: inset 0px 0px 10px #1f74b8;
}

/* line 185, ../sass/social_page.scss */
.NC-header {
  -webkit-box-shadow: 0px 0px 10px #7d7d7d;
  -moz-box-shadow: 0px 0px 10px #7d7d7d;
  box-shadow: 0px 0px 10px #7d7d7d;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10;
}
/* line 192, ../sass/social_page.scss */
.NC-header .NC-header-inner {
  padding: 0 10px;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
}

/* line 201, ../sass/social_page.scss */
.NB-authenticated .NC-header {
  background: #f2f2f2 url('/../../../media/img/circular/header_background_logged_in.png?1345414060') repeat 0 0;
  height: 44px;
  bottom: 0;
}
/* line 206, ../sass/social_page.scss */
.NB-authenticated .NC-header ul {
  margin: 0 70px;
}
/* line 209, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li {
  height: 44px;
  float: left;
  vertical-align: top;
  width: 24%;
  text-transform: uppercase;
  font-size: 12px;
  border-right: 1px solid #cdcdcd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 1px 1px white;
  cursor: pointer;
}
/* line 224, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li.NC-active {
  cursor: default;
  background: url('/../../../media/img/circular/header_highlight_border.png?1345415330') no-repeat center bottom;
}
/* line 228, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li.NC-active div.NC-tab-inner {
  color: #62a4d3;
}
/* line 234, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li:hover div.NC-tab-inner {
  color: #62a4d3;
}
/* line 239, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li div.NC-tab-inner {
  display: inline-block;
  line-height: 44px;
}
/* line 244, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li:first-child {
  border-left: 1px solid #cdcdcd;
}
/* line 248, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li.NC-user-tab img {
  height: 16px;
  width: 16px;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 255, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li img,
.NB-authenticated .NC-header ul li .NC-icon {
  float: left;
  margin-top: 13px;
  margin-right: 7px;
}
/* line 262, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li.NC-trending-tab .NC-icon {
  width: 17px;
  height: 17px;
  background: url('/../../../media/img/circular/header/icon_trending.png?1345422274') no-repeat center bottom;
}
/* line 269, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li.NC-active.NC-trending-tab .NC-icon, .NB-authenticated .NC-header ul li.NC-trending-tab:hover .NC-icon {
  background: url('/../../../media/img/circular/header/icon_trending_active.png?1345422192') no-repeat center bottom;
}
/* line 273, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li.NC-following-tab .NC-icon {
  width: 17px;
  height: 17px;
  background: url('/../../../media/img/circular/header/icon_follow.png?1345422166') no-repeat center bottom;
}
/* line 280, ../sass/social_page.scss */
.NB-authenticated .NC-header ul li.NC-active.NC-following-tab .NC-icon, .NB-authenticated .NC-header ul li.NC-following-tab:hover .NC-icon {
  background: url('/../../../media/img/circular/header/icon_follow_active.png?1345422230') no-repeat center bottom;
}

/* line 287, ../sass/social_page.scss */
.NB-unauthenticated .NC-header {
  background: url('/../../../media/img/circular/header_background_transparent.png?1345407031') repeat 0 0;
  height: 72px;
  top: 0;
}
@media screen and (max-width: 480px) {
  /* line 287, ../sass/social_page.scss */
  .NB-unauthenticated .NC-header {
    height: 40px;
  }
}
/* line 296, ../sass/social_page.scss */
.NB-unauthenticated .NC-header h1.NC-logo a {
  display: block;
  float: left;
  padding-top: 16px;
}
@media screen and (max-width: 480px) {
  /* line 296, ../sass/social_page.scss */
  .NB-unauthenticated .NC-header h1.NC-logo a {
    float: none;
    text-align: center;
    padding-top: 6px;
  }
  /* line 306, ../sass/social_page.scss */
  .NB-unauthenticated .NC-header h1.NC-logo a img {
    height: 30px;
    width: 120px;
  }
}
/* line 313, ../sass/social_page.scss */
.NB-unauthenticated .NC-header .NC-request-toggle-button {
  float: right;
  border: 1px solid #4388b5;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px #80c5f2;
  -moz-box-shadow: inset 0px 0px 2px #80c5f2;
  box-shadow: inset 0px 0px 2px #80c5f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eb4e3), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -moz-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -o-linear-gradient(#6eb4e3, #4d98d2);
  background-image: linear-gradient(#6eb4e3, #4d98d2);
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 10px;
}
/* line 77, ../sass/social_page.scss */
.NB-unauthenticated .NC-header .NC-request-toggle-button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6bb1e0), color-stop(100%, #6bb1e0));
  background-image: -webkit-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -moz-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -o-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: linear-gradient(#6bb1e0, #6bb1e0);
}
/* line 81, ../sass/social_page.scss */
.NB-unauthenticated .NC-header .NC-request-toggle-button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d98d2), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#4d98d2, #4d98d2);
  background-image: -moz-linear-gradient(#4d98d2, #4d98d2);
  background-image: -o-linear-gradient(#4d98d2, #4d98d2);
  background-image: linear-gradient(#4d98d2, #4d98d2);
  -webkit-box-shadow: inset 0px 0px 10px #1f74b8;
  -moz-box-shadow: inset 0px 0px 10px #1f74b8;
  box-shadow: inset 0px 0px 10px #1f74b8;
}
/* line 321, ../sass/social_page.scss */
.NB-unauthenticated .NC-header .NC-logout-button,
.NB-unauthenticated .NC-header .NC-login-toggle-button {
  float: right;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px white;
  -moz-box-shadow: inset 0px 0px 2px white;
  box-shadow: inset 0px 0px 2px white;
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background-image: -moz-linear-gradient(#ffffff, #f6f6f6);
  background-image: -o-linear-gradient(#ffffff, #f6f6f6);
  background-image: linear-gradient(#ffffff, #f6f6f6);
  color: gray;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 10px;
}
/* line 50, ../sass/social_page.scss */
.NB-unauthenticated .NC-header .NC-logout-button:hover,
.NB-unauthenticated .NC-header .NC-login-toggle-button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f6f6f6, #ffffff);
  background-image: -moz-linear-gradient(#f6f6f6, #ffffff);
  background-image: -o-linear-gradient(#f6f6f6, #ffffff);
  background-image: linear-gradient(#f6f6f6, #ffffff);
}
/* line 54, ../sass/social_page.scss */
.NB-unauthenticated .NC-header .NC-logout-button:active,
.NB-unauthenticated .NC-header .NC-login-toggle-button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -moz-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -o-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: linear-gradient(#e9e9e9, #e9e9e9);
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
  box-shadow: inset 0px 0px 10px #c1c1c1;
  text-shadow: 0px -1px 1px white;
  color: #333333;
}
@media screen and (max-width: 480px) {
  /* line 328, ../sass/social_page.scss */
  .NB-unauthenticated .NC-header .NC-button {
    display: none;
  }
}

/* line 335, ../sass/social_page.scss */
.NC-popover {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 308px;
  opacity: 0;
  display: none;
}
/* line 343, ../sass/social_page.scss */
.NC-popover.NC-request-popover {
  top: 50px;
  left: 329px;
}
/* line 348, ../sass/social_page.scss */
.NC-popover.NC-login-popover {
  top: 50px;
  left: 456px;
}
/* line 353, ../sass/social_page.scss */
.NC-popover.NC-active {
  display: block;
}
/* line 357, ../sass/social_page.scss */
.NC-popover .NC-popover-inner {
  width: 240px;
  padding: 45px 38px 0 30px;
  background: transparent url('/../../../media/img/circular/popover_top.png?1345248505') no-repeat 0 0;
}
/* line 363, ../sass/social_page.scss */
.NC-popover .NC-popover-bottom {
  background: transparent url('/../../../media/img/circular/popover_bottom.png?1345248525') no-repeat left bottom;
  height: 40px;
}
/* line 368, ../sass/social_page.scss */
.NC-popover input {
  border: 1px solid #bdbdbd;
  border: 1px solid #BDBDBD;
  padding: 5px;
  width: 228px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
}
/* line 378, ../sass/social_page.scss */
.NC-popover .NB-error {
  font-size: 12px;
  color: #6A1000;
  padding: 15px 0 0;
  font-weight: bold;
  line-height: 140%;
  text-align: center;
  margin: 0 10px;
}

/* line 394, ../sass/social_page.scss */
.NB-shared-story {
  margin: 20px 0 50px 0;
}

/* line 398, ../sass/social_page.scss */
.NB-story {
  border-left: 1px solid #fff;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #c8c8c8;
  -moz-box-shadow: 0px 0px 5px #c8c8c8;
  box-shadow: 0px 0px 5px #c8c8c8;
  position: relative;
  z-index: 1;
}
/* line 405, ../sass/social_page.scss */
.NB-story .NB-story-inner {
  border-left: 4px solid #fff;
  padding: 25px 25px 15px;
  overflow: hidden;
  position: relative;
  /* contains all children */
}
@media screen and (max-width: 480px) {
  /* line 405, ../sass/social_page.scss */
  .NB-story .NB-story-inner {
    padding: 12px 12px 15px;
  }
}
/* line 417, ../sass/social_page.scss */
.NB-story .NB-story-title a {
  font-size: 21px;
  font-weight: bold;
  line-height: 120%;
  text-decoration: none;
  color: #333333;
}
@media screen and (max-width: 480px) {
  /* line 417, ../sass/social_page.scss */
  .NB-story .NB-story-title a {
    font-size: 16px;
  }
}
/* line 430, ../sass/social_page.scss */
.NB-story .NB-story-metadata {
  font-size: 14px;
  color: gray;
  font-weight: normal;
  display: block;
  /* to ensure that the author is always on one line */
  margin: 5px 0 8px;
}
@media screen and (max-width: 480px) {
  /* line 430, ../sass/social_page.scss */
  .NB-story .NB-story-metadata {
    font-size: 12px;
  }
}
/* line 442, ../sass/social_page.scss */
.NB-story .NB-feed {
  margin: 2px 10px 10px 0;
  text-transform: capitalize;
  float: left;
  white-space: nowrap;
}
/* line 449, ../sass/social_page.scss */
.NB-story .NB-feed .NB-feed-favicon,
.NB-story .NB-feed .NB-feed-title {
  float: left;
}
@media screen and (max-width: 480px) {
  /* line 442, ../sass/social_page.scss */
  .NB-story .NB-feed {
    clear: both;
  }
}
/* line 458, ../sass/social_page.scss */
.NB-story .NB-feed a {
  display: inline-block;
  color: gray;
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  /* line 458, ../sass/social_page.scss */
  .NB-story .NB-feed a {
    font-size: 11px;
  }
}
/* line 468, ../sass/social_page.scss */
.NB-story .NB-feed img {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

/* line 477, ../sass/social_page.scss */
.NB-story-content-wrapper {
  max-height: 300px;
  position: relative;
  clear: both;
}
/* line 482, ../sass/social_page.scss */
.NB-story-content-wrapper.NB-story-content-wrapper-height-fudged {
  max-height: none;
}
/* line 486, ../sass/social_page.scss */
.NB-story-content-wrapper .NB-story-content-expander {
  display: none;
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  cursor: pointer;
  color: #1a9fff;
  font-size: 12px;
  background: #fff;
}
/* line 497, ../sass/social_page.scss */
.NB-story-content-wrapper .NB-story-content-expander .NB-story-content-expander-inner {
  position: relative;
  padding: 18px 25px 14px 0;
}
/* line 502, ../sass/social_page.scss */
.NB-story-content-wrapper .NB-story-content-expander:hover {
  color: #306187;
}
/* line 505, ../sass/social_page.scss */
.NB-story-content-wrapper .NB-story-content-expander:active {
  color: #722125;
}
/* line 509, ../sass/social_page.scss */
.NB-story-content-wrapper .NB-story-content-expander .NC-story-cutoff {
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 14px;
  z-index: 0;
  background: transparent url('/../../../media/img/circular/module_cutoff.png?1345259189') repeat-x left bottom;
}
/* line 520, ../sass/social_page.scss */
.NB-story-content-wrapper .NB-story-content-expander .NB-story-content-expander-text,
.NB-story-content-wrapper .NB-story-content-expander .NB-story-content-expander-pages {
  display: inline-block;
}
/* line 524, ../sass/social_page.scss */
.NB-story-content-wrapper .NB-story-content-expander .NB-story-content-expander-pages {
  line-height: 8px;
  padding: 0 12px;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  /* line 524, ../sass/social_page.scss */
  .NB-story-content-wrapper .NB-story-content-expander .NB-story-content-expander-pages {
    display: none;
  }
}

/* line 536, ../sass/social_page.scss */
.NB-story-content {
  font-size: 14px;
  line-height: 140%;
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}
@media screen and (max-width: 480px) {
  /* line 536, ../sass/social_page.scss */
  .NB-story-content {
    font-size: 12px;
    line-height: 160%;
  }
}
/* line 548, ../sass/social_page.scss */
.NB-story-content p {
  margin: 10px 0;
}
/* line 552, ../sass/social_page.scss */
.NB-story-content img {
  margin: 10px 0;
  max-width: 100% !important;
  height: auto !important;
}
/* line 558, ../sass/social_page.scss */
.NB-story-content ins {
  text-decoration: none;
  color: inherit;
}
/* line 563, ../sass/social_page.scss */
.NB-story-content del {
  display: none;
}

/* line 570, ../sass/social_page.scss */
.NB-story-shares-container {
  text-align: right;
  color: gray;
  font-size: 12px;
  line-height: 16px;
  float: right;
}
@media screen and (max-width: 480px) {
  /* line 570, ../sass/social_page.scss */
  .NB-story-shares-container {
    float: none;
    text-align: left;
    font-size: 11px;
  }
}
/* line 583, ../sass/social_page.scss */
.NB-story-shares-container .NB-story-share-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
/* line 593, ../sass/social_page.scss */
.NB-story-shares-container .NB-story-share-profiles,
.NB-story-shares-container .NB-story-share-profiles-shares-friends,
.NB-story-shares-container .NB-story-share-profiles-shares-public,
.NB-story-shares-container .NB-story-share-profiles-comments-friends,
.NB-story-shares-container .NB-story-share-profiles-comments-public {
  display: inline;
}
/* line 598, ../sass/social_page.scss */
.NB-story-shares-container .NB-story-share-profiles-shares-public,
.NB-story-shares-container .NB-story-share-profiles-comments-public {
  opacity: .5;
}
/* line 602, ../sass/social_page.scss */
.NB-story-shares-container .NB-user-avatar {
  display: inline-block;
  margin: 2px 1px 0 2px;
}
@media screen and (max-width: 480px) {
  /* line 602, ../sass/social_page.scss */
  .NB-story-shares-container .NB-user-avatar {
    margin: 2px 3px 0 0px;
  }
}
/* line 610, ../sass/social_page.scss */
.NB-story-shares-container .NB-user-avatar img {
  -webkit-box-shadow: 0px 0px 1px #bdbdbd;
  -moz-box-shadow: 0px 0px 1px #bdbdbd;
  box-shadow: 0px 0px 1px #bdbdbd;
  width: 16px;
  height: 16px;
  display: block;
}

/* line 621, ../sass/social_page.scss */
.NB-story-comments-container {
  font-size: 14px;
  z-index: 10;
  margin: 0 30px;
  background: #f6f6f6;
  border: 1px solid #CCC;
  padding: 0 20px;
  border-top: 0;
}
@media screen and (max-width: 480px) {
  /* line 621, ../sass/social_page.scss */
  .NB-story-comments-container {
    margin: 0 10px;
    padding: 0 10px;
    font-size: 11px;
  }
  /* line 635, ../sass/social_page.scss */
  .NB-story-comments-container .NB-story-comment-edit {
    display: none;
  }
}
/* line 641, ../sass/social_page.scss */
.NB-story-comments-container .NB-user-avatar img,
.NB-story-comments-container img.NB-user-avatar {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 15px;
  left: 0;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  /* @include single-box-shadow; gets in the way of transparent PNGs */
}
@media screen and (max-width: 480px) {
  /* line 641, ../sass/social_page.scss */
  .NB-story-comments-container .NB-user-avatar img,
  .NB-story-comments-container img.NB-user-avatar {
    height: 24px;
    width: 24px;
    top: 8px;
  }
}
/* line 658, ../sass/social_page.scss */
.NB-story-comments-container .NB-user-avatar.NB-story-comment-reshare img {
  top: 27px;
  left: 0px;
  z-index: 2;
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 480px) {
  /* line 658, ../sass/social_page.scss */
  .NB-story-comments-container .NB-user-avatar.NB-story-comment-reshare img {
    height: 24px;
    width: 24px;
    top: 8px;
  }
}
/* line 672, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment {
  margin-top: -1px;
  padding: 15px 0 18px 44px;
  border-top: 1px solid #bdbdbd;
  position: relative;
  min-height: 32px;
}
@media screen and (max-width: 480px) {
  /* line 672, ../sass/social_page.scss */
  .NB-story-comments-container .NB-story-comment {
    padding: 8px 0 8px 34px;
  }
}
/* line 682, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-username {
  float: left;
  font-size: 12px;
  font-weight: bold;
}
/* line 688, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-date {
  float: right;
  font-size: 12px;
  color: gray;
  text-shadow: 0px 1px 1px white;
}
@media screen and (max-width: 480px) {
  /* line 688, ../sass/social_page.scss */
  .NB-story-comments-container .NB-story-comment .NB-story-comment-date {
    float: left;
    clear: both;
    margin-top: 4px;
  }
}
/* line 700, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-location {
  float: left;
  font-size: 12px;
  color: gray;
  text-shadow: 0px 1px 1px white;
  margin-left: 15px;
}
@media screen and (max-width: 480px) {
  /* line 700, ../sass/social_page.scss */
  .NB-story-comments-container .NB-story-comment .NB-story-comment-location {
    display: none;
  }
}
/* line 713, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-reply-button,
.NB-story-comments-container .NB-story-comment .NB-story-comment-edit-button {
  display: none;
}
/* line 717, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-content {
  padding-top: 4px;
  line-height: 18px;
  clear: both;
}
/* line 723, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment .NB-story-comment-reshares .NB-user-avatar img {
  top: 15px;
  left: 12px;
  z-index: 1;
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 480px) {
  /* line 723, ../sass/social_page.scss */
  .NB-story-comments-container .NB-story-comment .NB-story-comment-reshares .NB-user-avatar img {
    display: none;
  }
}
/* line 736, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment-reply {
  margin-top: 15px;
  padding: 15px 0 0px 44px;
  border-top: 1px solid #bdbdbd;
  position: relative;
  min-height: 32px;
}
@media screen and (max-width: 480px) {
  /* line 736, ../sass/social_page.scss */
  .NB-story-comments-container .NB-story-comment-reply {
    padding: 8px 0 0px 32px;
  }
}
/* line 747, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment-reply .NB-story-comment-reply-content {
  padding-top: 4px;
  line-height: 18px;
  clear: both;
}
/* line 754, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment-input {
  width: 371px;
  height: 16px;
  font-size: 12px;
  padding: 6px 4px;
  margin-top: 1px;
  border: 1px solid #bdbdbd;
}
/* line 764, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment-buttons .NB-story-comment-save {
  position: absolute;
  top: 16px;
  right: 0;
  width: 140px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px white;
  -moz-box-shadow: inset 0px 0px 2px white;
  box-shadow: inset 0px 0px 2px white;
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background-image: -moz-linear-gradient(#ffffff, #f6f6f6);
  background-image: -o-linear-gradient(#ffffff, #f6f6f6);
  background-image: linear-gradient(#ffffff, #f6f6f6);
  color: gray;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
}
/* line 50, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment-buttons .NB-story-comment-save:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f6f6f6, #ffffff);
  background-image: -moz-linear-gradient(#f6f6f6, #ffffff);
  background-image: -o-linear-gradient(#f6f6f6, #ffffff);
  background-image: linear-gradient(#f6f6f6, #ffffff);
}
/* line 54, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment-buttons .NB-story-comment-save:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -moz-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -o-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: linear-gradient(#e9e9e9, #e9e9e9);
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
  box-shadow: inset 0px 0px 10px #c1c1c1;
  text-shadow: 0px -1px 1px white;
  color: #333333;
}
/* line 772, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comment-buttons .NB-story-comment-delete {
  display: none;
}
/* line 777, ../sass/social_page.scss */
.NB-story-comments-container .NB-story-comments-public-header-wrapper {
  color: gray;
  font-size: 12px;
  border-bottom: 1px solid #bdbdbd;
  padding: 3px 0;
}

/* line 786, ../sass/social_page.scss */
.NB-page-controls-next,
.NB-page-controls-end {
  background-color: #6eb4e3;
  border: 1px solid #4388b5;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px #80c5f2;
  -moz-box-shadow: inset 0px 0px 2px #80c5f2;
  box-shadow: inset 0px 0px 2px #80c5f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6eb4e3), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -moz-linear-gradient(#6eb4e3, #4d98d2);
  background-image: -o-linear-gradient(#6eb4e3, #4d98d2);
  background-image: linear-gradient(#6eb4e3, #4d98d2);
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, #70b5e3 0 2px 1px inset;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .12s ease-out;
  -moz-transition: all .12s ease-out;
  -o-transition: all .12s ease-out;
  -ms-transition: all .12s ease-out;
}
/* line 77, ../sass/social_page.scss */
.NB-page-controls-next:hover,
.NB-page-controls-end:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6bb1e0), color-stop(100%, #6bb1e0));
  background-image: -webkit-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -moz-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: -o-linear-gradient(#6bb1e0, #6bb1e0);
  background-image: linear-gradient(#6bb1e0, #6bb1e0);
}
/* line 81, ../sass/social_page.scss */
.NB-page-controls-next:active,
.NB-page-controls-end:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d98d2), color-stop(100%, #4d98d2));
  background-image: -webkit-linear-gradient(#4d98d2, #4d98d2);
  background-image: -moz-linear-gradient(#4d98d2, #4d98d2);
  background-image: -o-linear-gradient(#4d98d2, #4d98d2);
  background-image: linear-gradient(#4d98d2, #4d98d2);
  -webkit-box-shadow: inset 0px 0px 10px #1f74b8;
  -moz-box-shadow: inset 0px 0px 10px #1f74b8;
  box-shadow: inset 0px 0px 10px #1f74b8;
}
/* line 798, ../sass/social_page.scss */
.NB-page-controls-next .NB-page-controls-text,
.NB-page-controls-end .NB-page-controls-text {
  position: absolute;
  left: 0;
  width: 100%;
  margin-bottom: -15px;
  bottom: 20px;
}

/* line 807, ../sass/social_page.scss */
.NB-page-controls-end {
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  -webkit-box-shadow: inset 0px 0px 2px white;
  -moz-box-shadow: inset 0px 0px 2px white;
  box-shadow: inset 0px 0px 2px white;
  -webkit-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  -moz-box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  box-shadow: rgba(153, 153, 153, 0.4) 0 0 5px, white 0 2px 1px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background-image: -moz-linear-gradient(#ffffff, #f6f6f6);
  background-image: -o-linear-gradient(#ffffff, #f6f6f6);
  background-image: linear-gradient(#ffffff, #f6f6f6);
  color: gray;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: normal;
}
/* line 50, ../sass/social_page.scss */
.NB-page-controls-end:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f6f6f6, #ffffff);
  background-image: -moz-linear-gradient(#f6f6f6, #ffffff);
  background-image: -o-linear-gradient(#f6f6f6, #ffffff);
  background-image: linear-gradient(#f6f6f6, #ffffff);
}
/* line 54, ../sass/social_page.scss */
.NB-page-controls-end:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, #e9e9e9));
  background-image: -webkit-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -moz-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: -o-linear-gradient(#e9e9e9, #e9e9e9);
  background-image: linear-gradient(#e9e9e9, #e9e9e9);
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
  box-shadow: inset 0px 0px 10px #c1c1c1;
  text-shadow: 0px -1px 1px white;
  color: #333333;
}

/* line 812, ../sass/social_page.scss */
.tipsy .tipsy-arrow {
  display: none;
}
