server=/consul/127.0.0.1#8600

{# Upstream DNS servers -#}
{% for server in consul_dnsmasq_servers -%}
    server={{ server }}
{% endfor -%}

{# dnsmasq should not needlessly read /etc/resolv.conf #}
no-resolv

{% for interface in network_interfaces %}
{% if not interface.startswith('veth') and not interface.startswith('docker') and not interface.startswith('br') %}
# interface={{ interface }}
{% endif %}
{% endfor %}

# bind-interfaces  # This will bind only to the interfaces that are up in interface= above
# log-dhcp
# log-queries
# log-facility=/var/log/dnsmasq.log
